<a href="https://colab.research.google.com/github/1234567890qqqqqq/bsc_dpdm22/blob/main/Quiz_Group_7_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [709]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#นำเข้าไฟล์ทั้งหมด

##ความกด(เปอร์เซ็นต์)

In [710]:
df11 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df12 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df13 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df14 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df15 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [711]:
df11.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [712]:
df12.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1006.30,1007.38,1008.07,1008.44,1010.51,1011.65,1011.24,...,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28,1010.754839
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.28,1011.23,1011.08,1010.96,1010.57,1009.20,1007.99,...,1015.49,1016.09,1014.62,1012.80,1011.83,1010.00,1010.6,1011.13,-,1012.184667
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.15,1013.75,1013.24,1013.94,1013.35,1012.62,1012.48,...,1014.23,1017.58,1019.77,1019.71,1017.34,1017.01,1015.64,1016.89,1017.73,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.56,1014.88,1013.41,1015.85,1016.94,1017.13,1019.21,...,1013.13,1012.45,1013.59,1013.15,1011.56,1010.71,1011.95,1013.77,1015.5,1013.510000
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.98,1013.75,1014.96,1013.52,1011.85,1008.82,1008.15,...,1005.76,1005.13,1004.94,1006.42,1008.93,1007.88,1007.29,1011.13,-,1010.608000

In [713]:
df13.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,1011.24,...,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21,1010.772258
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,1008.20,...,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-,1012.255000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,1012.57,...,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.61,1014.92,1013.86,1015.71,1016.87,1017.17,1018.83,...,1012.80,1012.37,1013.47,1013.39,1011.36,1010.64,1011.95,1013.86,1015.52,1013.485484
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1014.05,1013.71,1014.95,1013.68,1011.72,1008.93,1008.08,...,1005.73,1005.04,1004.96,1005.94,1008.70,1007.38,1007.25,1011.06,-,1010.554000

In [714]:
df13.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,1011.24,...,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21,1010.772258
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,1008.20,...,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-,1012.255000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,1012.57,...,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.61,1014.92,1013.86,1015.71,1016.87,1017.17,1018.83,...,1012.80,1012.37,1013.47,1013.39,1011.36,1010.64,1011.95,1013.86,1015.52,1013.485484
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1014.05,1013.71,1014.95,1013.68,1011.72,1008.93,1008.08,...,1005.73,1005.04,1004.96,1005.94,1008.70,1007.38,1007.25,1011.06,-,1010.554000

In [715]:
df14.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.34,1006.67,1007.39,1008.11,1009.69,1011.55,1011.28,...,1011.01,1010.71,1011.67,1012.36,1012.50,1012.81,1011.88,1011.77,1012.18,1010.580645
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.05,1011.35,1011.28,1011.27,1010.62,1009.58,1008.55,...,1015.27,1016.46,1014.65,1013.08,1011.62,1010.21,1010.71,1011.1,-,1012.332333
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.26,1012.40,1013.57,1013.68,1012.72,1012.44,...,1013.94,1016.92,1019.05,1019.88,1017.86,1016.76,1015.63,1016.31,1017.19,1015.468065
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.26,1014.60,1012.83,1014.85,1016.69,1016.56,1018.50,...,1011.56,1011.98,1012.20,1012.95,1011.23,1010.63,1010.96,1013.16,1015.38,1013.062903
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.64,1013.36,1014.86,1013.93,1011.87,1008.77,1008.42,...,1005.89,1005.54,1005.28,1005.32,1007.59,1006.66,1007.07,1011.1,-,1010.214667

In [716]:
df15.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,1011.22,...,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71,1010.343871
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,1008.28,...,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-,1012.078333
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,1012.81,...,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.42,1014.07,1012.35,1013.49,1014.99,1015.70,1017.24,...,1010.10,1010.76,1011.11,1011.72,1010.91,1010.31,1010.16,1012.61,1014.4,1012.367419
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.19,1012.82,1013.94,1013.18,1010.99,1008.58,1008.19,...,1005.78,1005.48,1004.96,1005.05,1006.27,1005.59,1006.52,1010.43,-,1009.516667

###Fillna

In [717]:
df111 = df11.fillna(method='ffill')
df111.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [718]:
df122 = df12.fillna(method='ffill')
df122.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1006.30,1007.38,1008.07,1008.44,1010.51,1011.65,1011.24,...,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28,1010.754839
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.28,1011.23,1011.08,1010.96,1010.57,1009.20,1007.99,...,1015.49,1016.09,1014.62,1012.80,1011.83,1010.00,1010.6,1011.13,-,1012.184667
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.15,1013.75,1013.24,1013.94,1013.35,1012.62,1012.48,...,1014.23,1017.58,1019.77,1019.71,1017.34,1017.01,1015.64,1016.89,1017.73,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.56,1014.88,1013.41,1015.85,1016.94,1017.13,1019.21,...,1013.13,1012.45,1013.59,1013.15,1011.56,1010.71,1011.95,1013.77,1015.5,1013.510000
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.98,1013.75,1014.96,1013.52,1011.85,1008.82,1008.15,...,1005.76,1005.13,1004.94,1006.42,1008.93,1007.88,1007.29,1011.13,-,1010.608000

In [719]:
df133 = df13.fillna(method='ffill')
df133.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,1011.24,...,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21,1010.772258
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,1008.20,...,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-,1012.255000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,1012.57,...,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.61,1014.92,1013.86,1015.71,1016.87,1017.17,1018.83,...,1012.80,1012.37,1013.47,1013.39,1011.36,1010.64,1011.95,1013.86,1015.52,1013.485484
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1014.05,1013.71,1014.95,1013.68,1011.72,1008.93,1008.08,...,1005.73,1005.04,1004.96,1005.94,1008.70,1007.38,1007.25,1011.06,-,1010.554000

In [720]:
df144 = df14.fillna(method='ffill')
df144.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.34,1006.67,1007.39,1008.11,1009.69,1011.55,1011.28,...,1011.01,1010.71,1011.67,1012.36,1012.50,1012.81,1011.88,1011.77,1012.18,1010.580645
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.05,1011.35,1011.28,1011.27,1010.62,1009.58,1008.55,...,1015.27,1016.46,1014.65,1013.08,1011.62,1010.21,1010.71,1011.1,-,1012.332333
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.26,1012.40,1013.57,1013.68,1012.72,1012.44,...,1013.94,1016.92,1019.05,1019.88,1017.86,1016.76,1015.63,1016.31,1017.19,1015.468065
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.26,1014.60,1012.83,1014.85,1016.69,1016.56,1018.50,...,1011.56,1011.98,1012.20,1012.95,1011.23,1010.63,1010.96,1013.16,1015.38,1013.062903
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.64,1013.36,1014.86,1013.93,1011.87,1008.77,1008.42,...,1005.89,1005.54,1005.28,1005.32,1007.59,1006.66,1007.07,1011.1,-,1010.214667

In [721]:
df155 = df15.fillna(method='ffill')
df155.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,1011.22,...,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71,1010.343871
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,1008.28,...,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-,1012.078333
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,1012.81,...,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.42,1014.07,1012.35,1013.49,1014.99,1015.70,1017.24,...,1010.10,1010.76,1011.11,1011.72,1010.91,1010.31,1010.16,1012.61,1014.4,1012.367419
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.19,1012.82,1013.94,1013.18,1010.99,1008.58,1008.19,...,1005.78,1005.48,1004.96,1005.05,1006.27,1005.59,1006.52,1010.43,-,1009.516667

###เปลี่ยนชื่อcolumns

In [722]:
df111.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df111['จังหวัด'] = "ขอนแก่น"
df122.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df122['จังหวัด'] = "นครพนม"
df133.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df133['จังหวัด'] = "สกลนคร"
df144.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df144['จังหวัด'] = "หนองคาย"
df155.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df155['จังหวัด'] = "เลย"

In [723]:
df111.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
5,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [724]:
df155.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,เลย,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,1011.22,...,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71,1010.343871
2,เลย,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,1008.28,...,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-,1012.078333
3,เลย,352201-หนองคาย จ.หนองคาย,2011-12-01,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,1012.81,...,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62,1016.470000
4,เลย,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.42,1014.07,1012.35,1013.49,1014.99,1015.70,1017.24,...,1010.10,1010.76,1011.11,1011.72,1010.91,1010.31,1010.16,1012.61,1014.4,1012.367419
5,เลย,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.19,1012.82,1013.94,1013.18,1010.99,1008.58,1008.19,...,1005.78,1005.48,1004.96,1005.05,1006.27,1005.59,1006.52,1010.43,-,1009.516667

##ความชื้นสัมพันธ์

In [725]:
df21 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df22 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df23 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df24 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df25 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [726]:
df21.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,83,92,86,80,86,86,83,...,73,72,73,69,69,75,71,71,68,79.0
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,65,66,65,67,68,67,67,65,-,68.0
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,63,62,60,60,62,65,66,63,64,63.0
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,80,74,75,71,75,69,70,67,68,69.0
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,58,53,48,57,71,73,68,-,-,65.0

In [727]:
df22.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,95,84,74,72,87,88,81,...,66,67,70,69,71,66,72,70,69,77.0
2,2,357201-นครพนม จ.นครพนม,2011-11-01,69,67,70,68,71,68,73,...,66,66,70,78,74,69,66,65,-,69.0
3,3,357201-นครพนม จ.นครพนม,2011-12-01,64,56,62,67,69,77,73,...,66,54,60,61,70,71,63,66,70,65.0
4,1,357201-นครพนม จ.นครพนม,2012-01-01,71,70,64,59,68,69,66,...,73,74,62,67,74,71,61,59,62,71.0
5,2,357201-นครพนม จ.นครพนม,2012-02-01,68,69,66,71,71,71,64,...,63,61,64,64,68,76,69,-,-,65.0

In [728]:
df23.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,87,88,77,75,87,86,81,...,74,73,73,72,72,70,74,73,72,78.0
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,71,71,71,72,73,70,75,...,68,66,71,71,70,70,69,69,-,70.0
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,66,61,64,67,70,73,72,...,69,65,64,62,69,69,69,69,68,6.0
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,67,69,66,63,65,67,65,...,75,72,67,72,73,71,64,64,62,72.0
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,66,70,67,69,73,64,60,...,55,53,55,64,69,74,71,-,-,64.0

In [729]:
df24.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,89,91,78,75,90,88,87,...,76,73,68,71,70,71,70,66,68,76.0
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,68,66,66,67,68,69,68,...,60,64,65,67,68,69,71,69,-,68.0
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,67,62,66,66,65,68,71,...,65,56,61,58,67,71,70,67,68,65.0
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,67,70,68,65,73,68,66,...,81,71,71,68,71,69,65,68,73,70.0
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,68,71,91,79,78,71,67,...,63,63,61,62,69,76,69,-,-,69.0

In [730]:
df25.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,90,95,92,89,86,94,90,...,85,86,83,84,85,85,82,83,85,87.0
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,85,83,84,83,83,85,83,...,73,77,80,81,80,84,82,79,-,82.0
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,80,77,77,76,78,83,82,...,80,74,75,74,80,80,78,81,78,77.0
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,75,78,81,79,73,77,82,...,83,80,83,79,80,78,77,82,79,78.0
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,79,81,91,84,78,73,69,...,67,68,68,67,76,73,70,-,-,73.0

###Fillna

In [731]:
df211 = df21.fillna(method='ffill')
df211.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,83,92,86,80,86,86,83,...,73,72,73,69,69,75,71,71,68,79.0
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,65,66,65,67,68,67,67,65,-,68.0
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,63,62,60,60,62,65,66,63,64,63.0
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,80,74,75,71,75,69,70,67,68,69.0
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,58,53,48,57,71,73,68,-,-,65.0

In [732]:
df222 = df22.fillna(method='ffill')
df222.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,95,84,74,72,87,88,81,...,66,67,70,69,71,66,72,70,69,77.0
2,2,357201-นครพนม จ.นครพนม,2011-11-01,69,67,70,68,71,68,73,...,66,66,70,78,74,69,66,65,-,69.0
3,3,357201-นครพนม จ.นครพนม,2011-12-01,64,56,62,67,69,77,73,...,66,54,60,61,70,71,63,66,70,65.0
4,1,357201-นครพนม จ.นครพนม,2012-01-01,71,70,64,59,68,69,66,...,73,74,62,67,74,71,61,59,62,71.0
5,2,357201-นครพนม จ.นครพนม,2012-02-01,68,69,66,71,71,71,64,...,63,61,64,64,68,76,69,-,-,65.0

In [733]:
df233 = df23.fillna(method='ffill')
df233.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,87,88,77,75,87,86,81,...,74,73,73,72,72,70,74,73,72,78.0
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,71,71,71,72,73,70,75,...,68,66,71,71,70,70,69,69,-,70.0
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,66,61,64,67,70,73,72,...,69,65,64,62,69,69,69,69,68,6.0
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,67,69,66,63,65,67,65,...,75,72,67,72,73,71,64,64,62,72.0
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,66,70,67,69,73,64,60,...,55,53,55,64,69,74,71,-,-,64.0

In [734]:
df244 = df24.fillna(method='ffill')
df244.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,89,91,78,75,90,88,87,...,76,73,68,71,70,71,70,66,68,76.0
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,68,66,66,67,68,69,68,...,60,64,65,67,68,69,71,69,-,68.0
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,67,62,66,66,65,68,71,...,65,56,61,58,67,71,70,67,68,65.0
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,67,70,68,65,73,68,66,...,81,71,71,68,71,69,65,68,73,70.0
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,68,71,91,79,78,71,67,...,63,63,61,62,69,76,69,-,-,69.0

In [735]:
df255 = df25.fillna(method='ffill')
df255.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,90,95,92,89,86,94,90,...,85,86,83,84,85,85,82,83,85,87.0
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,85,83,84,83,83,85,83,...,73,77,80,81,80,84,82,79,-,82.0
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,80,77,77,76,78,83,82,...,80,74,75,74,80,80,78,81,78,77.0
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,75,78,81,79,73,77,82,...,83,80,83,79,80,78,77,82,79,78.0
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,79,81,91,84,78,73,69,...,67,68,68,67,76,73,70,-,-,73.0

###เปลี่ยนชื่อcolumns

In [736]:
df211.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df211['จังหวัด'] = "ขอนแก่น"

In [737]:
df222.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df222['จังหวัด'] = "นครพนม"

In [738]:
df233.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df233['จังหวัด'] = "สกลนคร"

In [739]:
df244.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df244['จังหวัด'] = "หนองคาย"

In [740]:
df255.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df255['จังหวัด'] = "เลย"

In [741]:
df255.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,เลย,353301-เลย สกษ. จ.เลย,2011-10-01,90,95,92,89,86,94,90,...,85,86,83,84,85,85,82,83,85,87.0
2,เลย,353301-เลย สกษ. จ.เลย,2011-11-01,85,83,84,83,83,85,83,...,73,77,80,81,80,84,82,79,-,82.0
3,เลย,353301-เลย สกษ. จ.เลย,2011-12-01,80,77,77,76,78,83,82,...,80,74,75,74,80,80,78,81,78,77.0
4,เลย,353301-เลย สกษ. จ.เลย,2012-01-01,75,78,81,79,73,77,82,...,83,80,83,79,80,78,77,82,79,78.0
5,เลย,353301-เลย สกษ. จ.เลย,2012-02-01,79,81,91,84,78,73,69,...,67,68,68,67,76,73,70,-,-,73.0

##ความเร็วลม

In [742]:
df31 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df32 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df33 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df34 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df35 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [743]:
df31.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,3,2,3,2,2,3,4,...,2,3,5,5,5,4,6,4,5,3.354839
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,7,6,5,5,3,1,3,3,-,3.466667
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,5,6,7,6,5,4,4,6,5,4.806452
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,3,3,4,2,2,1,3,4,4,3.129032
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,1,2,3,2,4,3,3,3,-,2.566667

In [744]:
df32.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,1,2,2,1,0,2,...,1,2,2,1,2,2,1,1,1,1.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,1,1,1,1,1,1,...,3,3,2,2,1,1,1,1,-,1.200000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,2,2,1,1,1,1,...,1,3,3,1,2,1,1,2,2,1.741935
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,2,3,3,...,4,1,5,1,1,1,4,5,4,2.448276
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,1,3,4,0,0,1,1,...,1,2,2,3,3,3,1,2,-,2.200000

In [745]:
df33.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,1,2,2,1,0,2,...,1,2,2,1,2,2,1,1,1,1.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,1,1,1,1,1,1,...,3,3,2,2,1,1,1,1,-,1.200000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,2,2,1,1,1,1,...,1,3,3,1,2,1,1,2,2,1.741935
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,3,2,4,...,5,4,5,3,2,3,3,3,4,2.870968
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,3,4,2,1,2,2,...,1,2,1,3,7,5,3,2,-,2.733333

In [746]:
df34.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,4,4,2,1,3,1,...,2,2,3,3,3,3,3,3,4,2.580645
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,3,3,3,2,2,1,2,...,7,4,2,3,2,2,2,2,-,2.433333
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,5,3,2,2,2,2,...,3,6,5,4,2,2,2,3,2,3.161290
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,3,2,4,...,5,4,5,3,2,3,3,3,4,2.870968
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,3,4,2,1,2,2,...,1,2,1,3,7,5,3,2,-,2.733333

In [747]:
df35.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,2,2,3,2,3,2,1,...,1,1,2,2,1,2,2,2,1,1.612903
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,2,1,1,2,2,2,...,3,2,1,1,2,1,2,1,-,1.700000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,2,3,2,1,2,1,...,1,2,3,2,1,2,1,2,2,1.870968
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,1,2,2,2,2,...,2,1,3,2,2,2,2,1,1,1.838710
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,1,2,2,1,1,2,1,...,1,1,1,1,3,4,2,1,-,1.700000

###Fillna

In [748]:
df311 = df31.fillna(method='ffill')
df311.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,3,2,3,2,2,3,4,...,2,3,5,5,5,4,6,4,5,3.354839
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,7,6,5,5,3,1,3,3,-,3.466667
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,5,6,7,6,5,4,4,6,5,4.806452
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,3,3,4,2,2,1,3,4,4,3.129032
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,1,2,3,2,4,3,3,3,-,2.566667

In [749]:
df322 = df32.fillna(method='ffill')
df322.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,1,2,2,1,0,2,...,1,2,2,1,2,2,1,1,1,1.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,1,1,1,1,1,1,...,3,3,2,2,1,1,1,1,-,1.200000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,2,2,1,1,1,1,...,1,3,3,1,2,1,1,2,2,1.741935
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,2,3,3,...,4,1,5,1,1,1,4,5,4,2.448276
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,1,3,4,0,0,1,1,...,1,2,2,3,3,3,1,2,-,2.200000

In [750]:
df333 = df33.fillna(method='ffill')
df333.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,1,2,2,1,0,2,...,1,2,2,1,2,2,1,1,1,1.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,1,1,1,1,1,1,...,3,3,2,2,1,1,1,1,-,1.200000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,2,2,1,1,1,1,...,1,3,3,1,2,1,1,2,2,1.741935
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,3,2,4,...,5,4,5,3,2,3,3,3,4,2.870968
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,3,4,2,1,2,2,...,1,2,1,3,7,5,3,2,-,2.733333

In [751]:
df344 = df34.fillna(method='ffill')
df344.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,4,4,2,1,3,1,...,2,2,3,3,3,3,3,3,4,2.580645
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,3,3,3,2,2,1,2,...,7,4,2,3,2,2,2,2,-,2.433333
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,5,3,2,2,2,2,...,3,6,5,4,2,2,2,3,2,3.161290
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,3,2,4,...,5,4,5,3,2,3,3,3,4,2.870968
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,3,4,2,1,2,2,...,1,2,1,3,7,5,3,2,-,2.733333

In [752]:
df355 = df35.fillna(method='ffill')
df355.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,2,2,3,2,3,2,1,...,1,1,2,2,1,2,2,2,1,1.612903
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,2,1,1,2,2,2,...,3,2,1,1,2,1,2,1,-,1.700000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,2,3,2,1,2,1,...,1,2,3,2,1,2,1,2,2,1.870968
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,1,2,2,2,2,...,2,1,3,2,2,2,2,1,1,1.838710
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,1,2,2,1,1,2,1,...,1,1,1,1,3,4,2,1,-,1.700000

###เปลี่ยนชื่อcolumns

In [753]:
df311.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df311['จังหวัด'] = "ขอนแก่น"
df322.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df322['จังหวัด'] = "นครพนม"
df333.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df333['จังหวัด'] = "สกลนคร"
df344.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df344['จังหวัด'] = "หนองคาย"
df355.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df355['จังหวัด'] = "เลย"

##จำนวนเมฆ

In [754]:
df41 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df42 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df43 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df44 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df45 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [755]:
df41.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,10,10,8,10,10,10,...,2,3,5,3,3,5,4,2,2,6.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,6,6,3,2,2,1,3,2,-,3.533333
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,5,5,3,3,1,2,1,1,1,3.516129
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,4,7,6,3,1,3,...,6,4,4,3,2,5,6,10,10,5.354839
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,6,6,8,8,3,3,1,...,1,2,0,1,4,5,1,2,-,2.533333

In [756]:
df42.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,10,7,8,8,10,10,9,...,2,2,2,2,3,3,4,2,4,5.903226
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,3,5,7,9,...,4,4,4,2,2,2,1,1,-,3.066667
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,2,2,4,4,7,8,...,4,2,2,2,2,1,2,1,1,3.290323
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,4,6,4,2,5,...,5,3,2,2,2,3,3,6,5,4.741935
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,5,5,8,7,3,3,2,...,2,2,2,3,7,6,2,1,-,2.966667

In [757]:
df43.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,9,7,7,9,10,8,...,2,1,2,1,1,3,3,1,4,5.483871
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,0,0,1,3,7,8,...,4,3,1,1,1,1,1,0,-,2.300000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,1,2,2,2,6,6,...,3,2,-,0,0,0,0,1,-,2.703704
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,0,0,4,3,2,0,1,...,4,1,0,3,0,1,4,7,8,3.548387
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,4,4,8,5,1,0,0,...,-,-,-,1,6,4,0,0,-,2.142857

In [758]:
df44.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,10,10,8,9,9,10,10,...,3,1,1,2,1,1,1,4,3,5.580645
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,0,0,1,1,2,6,...,6,6,-,0,1,2,4,2,-,2.571429
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,4,4,-,2,7,5,5,...,2,8,1,-,3,1,1,3,-,3.285714
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,8,2,3,...,8,5,6,6,1,0,6,10,9,4.774194
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,7,8,10,6,1,-,-,...,-,-,-,-,6,5,6,NaN,-,4.928571

In [759]:
df45.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,8,10,10,9,8,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,1,2,1,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,3,1,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,6,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,8,5,10,7,1,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###Fillna

In [760]:
df411 = df41.fillna(method='ffill')
df411.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,10,10,8,10,10,10,...,2,3,5,3,3,5,4,2,2,6.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,6,6,3,2,2,1,3,2,-,3.533333
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,5,5,3,3,1,2,1,1,1,3.516129
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,4,7,6,3,1,3,...,6,4,4,3,2,5,6,10,10,5.354839
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,6,6,8,8,3,3,1,...,1,2,0,1,4,5,1,2,-,2.533333

In [761]:
df422 = df42.fillna(method='ffill')
df422.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,10,7,8,8,10,10,9,...,2,2,2,2,3,3,4,2,4,5.903226
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,3,5,7,9,...,4,4,4,2,2,2,1,1,-,3.066667
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,2,2,4,4,7,8,...,4,2,2,2,2,1,2,1,1,3.290323
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,4,6,4,2,5,...,5,3,2,2,2,3,3,6,5,4.741935
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,5,5,8,7,3,3,2,...,2,2,2,3,7,6,2,1,-,2.966667

In [762]:
df433 = df43.fillna(method='ffill')
df433.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,9,7,7,9,10,8,...,2,1,2,1,1,3,3,1,4,5.483871
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,0,0,1,3,7,8,...,4,3,1,1,1,1,1,0,-,2.300000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,1,2,2,2,6,6,...,3,2,-,0,0,0,0,1,-,2.703704
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,0,0,4,3,2,0,1,...,4,1,0,3,0,1,4,7,8,3.548387
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,4,4,8,5,1,0,0,...,-,-,-,1,6,4,0,0,-,2.142857

In [763]:
df444 = df44.fillna(method='ffill')
df444.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,10,10,8,9,9,10,10,...,3,1,1,2,1,1,1,4,3,5.580645
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,0,0,1,1,2,6,...,6,6,-,0,1,2,4,2,-,2.571429
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,4,4,-,2,7,5,5,...,2,8,1,-,3,1,1,3,-,3.285714
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,8,2,3,...,8,5,6,6,1,0,6,10,9,4.774194
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,7,8,10,6,1,-,-,...,-,-,-,-,6,5,6,10,-,4.928571

In [764]:
df455 = df45.fillna(method='ffill')
df455.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,8,10,10,9,8,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,1,2,1,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,3,1,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,6,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,8,5,10,7,1,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###เปลี่ยนชื่อcolumns

In [765]:
df411.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df411['จังหวัด'] = "ขอนแก่น"
df422.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df422['จังหวัด'] = "นครพนม"
df433.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df433['จังหวัด'] = "สกลนคร"
df444.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df444['จังหวัด'] = "หนองคาย"
df455.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df455['จังหวัด'] = "เลย"

##ปริมาณฝน

In [766]:
df51 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df52 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df53 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df54 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df55 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [767]:
df51.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,1.4,17.7,3,0,2.2,0.5,1.3,...,0,0,T,0,0.5,1.1,0,0,0,176.8
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,11.8
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,T,0,38.7
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,0,0,0,-,-,T

In [768]:
df52.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,17,0.3,0,0.3,1.9,T,0,...,0,0,0,0,0,0,0,0,0,75.4
2,2,357201-นครพนม จ.นครพนม,2011-11-01,0,0,0,0,T,T,0,...,0,0,0,0,0.5,0,0,0,-,0.5
3,3,357201-นครพนม จ.นครพนม,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,357201-นครพนม จ.นครพนม,2012-01-01,0,0,0,0,0,0,0,...,2.3,0,0,0,0,0,0,0,0,14.9
5,2,357201-นครพนม จ.นครพนม,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,1.2,0,0,-,-,1.2

In [769]:
df53.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,84.8,28.1,0,T,5.5,0.3,0,...,0,0,0,0,0,0,1,0,0,200.8
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,0,0,0,0,T,T,2.8,...,0,0,0,0,0,0,0,0,-,2.8
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,0,0,0,0,0,0,0,...,0.9,0,0,0,0,0,0,0,0,30.4
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,0,0,0,0,0,0,0,...,0,0,0,0.4,5.6,0,0,-,-,6

In [770]:
df54.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,48.6,59,0,1,19.1,6.2,0.2,...,0,0,0,0,0,0,0,0,0,184.3
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,5.1
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,0,0,0,0,1.1,0,0,...,0,0,0,0,0,0,0,0,0.4,3.4
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,0,28.7,9.1,0,0,0,0,...,0,0,0,0,6.1,0,0,-,-,43.9

In [771]:
df55.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,21.6,111.4,0.4,0,0,3.4,1.8,...,0,0,0,0,0,0.2,0,0,0,183
2,2,353201-เลย จ.เลย,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0.6,0,0,-,7.4
3,3,353201-เลย จ.เลย,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.2
4,1,353201-เลย จ.เลย,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,T,0,18.2
5,2,353201-เลย จ.เลย,2012-02-01,0,0.2,1.2,0,0,0,0,...,0,0,0,0,1,0,0,-,-,2.4

###Fillna

In [772]:
df511 = df51.fillna(method='ffill')
df511.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,1.4,17.7,3,0,2.2,0.5,1.3,...,0,0,T,0,0.5,1.1,0,0,0,176.8
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,11.8
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,T,0,38.7
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,0,0,0,-,-,T

In [773]:
df522 = df52.fillna(method='ffill')
df522.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,17,0.3,0,0.3,1.9,T,0,...,0,0,0,0,0,0,0,0,0,75.4
2,2,357201-นครพนม จ.นครพนม,2011-11-01,0,0,0,0,T,T,0,...,0,0,0,0,0.5,0,0,0,-,0.5
3,3,357201-นครพนม จ.นครพนม,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,357201-นครพนม จ.นครพนม,2012-01-01,0,0,0,0,0,0,0,...,2.3,0,0,0,0,0,0,0,0,14.9
5,2,357201-นครพนม จ.นครพนม,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,1.2,0,0,-,-,1.2

In [774]:
df533 = df53.fillna(method='ffill')
df533.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,84.8,28.1,0,T,5.5,0.3,0,...,0,0,0,0,0,0,1,0,0,200.8
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,0,0,0,0,T,T,2.8,...,0,0,0,0,0,0,0,0,-,2.8
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,0,0,0,0,0,0,0,...,0.9,0,0,0,0,0,0,0,0,30.4
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,0,0,0,0,0,0,0,...,0,0,0,0.4,5.6,0,0,-,-,6

In [775]:
df544 = df54.fillna(method='ffill')
df544.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,48.6,59,0,1,19.1,6.2,0.2,...,0,0,0,0,0,0,0,0,0,184.3
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,5.1
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,0,0,0,0,1.1,0,0,...,0,0,0,0,0,0,0,0,0.4,3.4
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,0,28.7,9.1,0,0,0,0,...,0,0,0,0,6.1,0,0,-,-,43.9

In [776]:
df555 = df55.fillna(method='ffill')
df555.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,21.6,111.4,0.4,0,0,3.4,1.8,...,0,0,0,0,0,0.2,0,0,0,183
2,2,353201-เลย จ.เลย,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0.6,0,0,-,7.4
3,3,353201-เลย จ.เลย,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.2
4,1,353201-เลย จ.เลย,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,T,0,18.2
5,2,353201-เลย จ.เลย,2012-02-01,0,0.2,1.2,0,0,0,0,...,0,0,0,0,1,0,0,-,-,2.4

###เปลี่ยนชื่อcolumns

In [777]:
df511.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df511['จังหวัด'] = "ขอนแก่น"
df522.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df522['จังหวัด'] = "นครพนม"
df533.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df533['จังหวัด'] = "สกลนคร"
df544.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df544['จังหวัด'] = "หนองคาย"
df555.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df555['จังหวัด'] = "เลย"

##อุณหภูมิจุดน้ำค้าง

In [778]:
df61 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df62 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df63 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df64 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df65 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [779]:
df61.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.2,24.0,22.9,21.9,21.7,21.3,21.9,...,21.0,21.8,21.8,20.7,20.8,21.9,20.3,19.7,19.7,21.903226
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.2,18.5,19.4,19.0,19.2,20.6,21.3,...,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-,18.910000
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,17.7,15.3,12.7,14.0,14.6,16.6,19.1,...,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3,14.525806
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,16.5,17.4,18.7,17.0,15.3,16.7,15.6,...,21.5,19.2,19.2,16.3,19.5,19.7,19.4,18.7,16.7,18.058065
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,18.0,19.6,19.5,19.2,20.7,20.8,19.1,...,18.4,17.0,16.3,18.8,22.3,22.1,21.3,-,-,18.772414

In [780]:
df62.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.1,23.1,20.1,18.9,20.7,21.1,21.7,...,20.0,20.7,20.7,20.8,21.0,20.3,19.8,19.3,19.3,21.200000
2,2,357201-นครพนม จ.นครพนม,2011-11-01,19.2,18.8,19.1,19.8,20.3,20.9,21.7,...,18.1,16.5,17.5,20.2,19.7,19.5,18.6,18.5,-,18.896667
3,3,357201-นครพนม จ.นครพนม,2011-12-01,17.6,12.7,12.2,14.1,16.0,18.5,19.7,...,14.4,10.3,9.0,9.6,13.7,15.8,16,16.2,15.7,14.041935
4,1,357201-นครพนม จ.นครพนม,2012-01-01,15.6,16.4,17.1,14.7,13.8,14.7,14.0,...,15.8,16.1,13.4,14.7,17.4,18.7,16.2,15.5,14.6,16.664516
5,2,357201-นครพนม จ.นครพนม,2012-02-01,16.3,17.8,16.6,17.9,19.3,20.7,19.6,...,18.4,19.6,20.3,19.7,17.4,17.7,19.9,18.5,-,17.546667

In [781]:
df63.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,24.5,23.6,21.1,20.0,21.2,20.8,21.9,...,20.7,21.5,21.1,21.0,21.2,21.1,20.4,19.5,19.7,21.429032
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,19.6,19.4,19.5,20.0,20.9,21.4,21.7,...,18.9,16.9,17.5,18.7,19.1,19.1,18.4,18.5,-,18.973333
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,18.0,14.0,12.3,14.1,15.7,18.1,19.5,...,15.1,12.2,9.6,10.1,13.5,15.6,16,16.2,15.5,14.400000
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,15.3,16.3,17.0,15.6,13.5,14.6,13.6,...,17.2,16.7,14.4,14.6,17.6,19.1,16.9,16.1,14.4,16.845161
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,15.9,18.0,16.6,17.6,20.2,19.7,18.8,...,16.0,18.0,17.8,19.5,18.2,18.7,20.3,18.5,-,17.233333

In [782]:
df64.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,24.6,23.8,22.4,21.9,23.3,22.0,23.0,...,22.6,22.3,21.1,21.5,21.4,21.3,20.8,19.8,20.3,22.074194
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,19.3,19.0,18.7,19.1,20.2,20.7,21.5,...,17.9,16.2,16.2,18.1,18.7,19.1,19.7,19.1,-,19.040000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,18.4,15.5,14.4,14.6,15.6,17.7,19.0,...,15.2,11.4,8.9,8.5,13.0,16.7,17.7,17.6,16.7,14.751613
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,16.4,17.6,18.3,16.9,15.4,16.2,15.8,...,20.9,17.0,17.4,15.4,18.3,18.9,18.3,18.4,17.2,17.532258
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,17.5,18.8,20.0,19.8,21.3,21.2,19.8,...,18.5,18.7,18.5,19.9,19.5,20.6,20.2,19.1,-,18.890000

In [783]:
df65.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,23.6,23.5,21.9,21.9,21.8,21.6,21.7,...,21.0,21.5,21.2,21.0,21.6,21.3,21,20.2,20.2,21.793548
2,2,353201-เลย จ.เลย,2011-11-01,20.1,19.5,19.5,19.1,19.5,20.5,20.6,...,18.6,17.0,16.7,17.5,18.8,19.2,19.5,19.4,-,18.953333
3,3,353201-เลย จ.เลย,2011-12-01,18.0,16.6,15.0,14.6,15.3,16.7,18.9,...,16.1,12.8,9.7,9.4,11.0,14.9,16.2,16.2,16.5,14.735484
4,1,353201-เลย จ.เลย,2012-01-01,16.2,16.4,17.6,18.2,15.2,16.1,17.0,...,20.6,18.7,18.5,16.9,17.6,18.5,19.2,18.2,17.4,16.851613
5,2,353201-เลย จ.เลย,2012-02-01,17.8,18.8,20.7,19.1,19.5,18.2,16.4,...,15.0,16.3,17.1,16.7,18.7,18.6,16.9,-,-,17.310345

###Fillna

In [784]:
df611 = df61.fillna(method='ffill')
df611.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.2,24.0,22.9,21.9,21.7,21.3,21.9,...,21.0,21.8,21.8,20.7,20.8,21.9,20.3,19.7,19.7,21.903226
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.2,18.5,19.4,19.0,19.2,20.6,21.3,...,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-,18.910000
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,17.7,15.3,12.7,14.0,14.6,16.6,19.1,...,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3,14.525806
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,16.5,17.4,18.7,17.0,15.3,16.7,15.6,...,21.5,19.2,19.2,16.3,19.5,19.7,19.4,18.7,16.7,18.058065
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,18.0,19.6,19.5,19.2,20.7,20.8,19.1,...,18.4,17.0,16.3,18.8,22.3,22.1,21.3,-,-,18.772414

In [785]:
df622 = df62.fillna(method='ffill')
df622.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.1,23.1,20.1,18.9,20.7,21.1,21.7,...,20.0,20.7,20.7,20.8,21.0,20.3,19.8,19.3,19.3,21.200000
2,2,357201-นครพนม จ.นครพนม,2011-11-01,19.2,18.8,19.1,19.8,20.3,20.9,21.7,...,18.1,16.5,17.5,20.2,19.7,19.5,18.6,18.5,-,18.896667
3,3,357201-นครพนม จ.นครพนม,2011-12-01,17.6,12.7,12.2,14.1,16.0,18.5,19.7,...,14.4,10.3,9.0,9.6,13.7,15.8,16,16.2,15.7,14.041935
4,1,357201-นครพนม จ.นครพนม,2012-01-01,15.6,16.4,17.1,14.7,13.8,14.7,14.0,...,15.8,16.1,13.4,14.7,17.4,18.7,16.2,15.5,14.6,16.664516
5,2,357201-นครพนม จ.นครพนม,2012-02-01,16.3,17.8,16.6,17.9,19.3,20.7,19.6,...,18.4,19.6,20.3,19.7,17.4,17.7,19.9,18.5,-,17.546667

In [786]:
df633 = df63.fillna(method='ffill')
df633.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,24.5,23.6,21.1,20.0,21.2,20.8,21.9,...,20.7,21.5,21.1,21.0,21.2,21.1,20.4,19.5,19.7,21.429032
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,19.6,19.4,19.5,20.0,20.9,21.4,21.7,...,18.9,16.9,17.5,18.7,19.1,19.1,18.4,18.5,-,18.973333
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,18.0,14.0,12.3,14.1,15.7,18.1,19.5,...,15.1,12.2,9.6,10.1,13.5,15.6,16,16.2,15.5,14.400000
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,15.3,16.3,17.0,15.6,13.5,14.6,13.6,...,17.2,16.7,14.4,14.6,17.6,19.1,16.9,16.1,14.4,16.845161
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,15.9,18.0,16.6,17.6,20.2,19.7,18.8,...,16.0,18.0,17.8,19.5,18.2,18.7,20.3,18.5,-,17.233333

In [787]:
df644 = df64.fillna(method='ffill')
df644.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,24.6,23.8,22.4,21.9,23.3,22.0,23.0,...,22.6,22.3,21.1,21.5,21.4,21.3,20.8,19.8,20.3,22.074194
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,19.3,19.0,18.7,19.1,20.2,20.7,21.5,...,17.9,16.2,16.2,18.1,18.7,19.1,19.7,19.1,-,19.040000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,18.4,15.5,14.4,14.6,15.6,17.7,19.0,...,15.2,11.4,8.9,8.5,13.0,16.7,17.7,17.6,16.7,14.751613
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,16.4,17.6,18.3,16.9,15.4,16.2,15.8,...,20.9,17.0,17.4,15.4,18.3,18.9,18.3,18.4,17.2,17.532258
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,17.5,18.8,20.0,19.8,21.3,21.2,19.8,...,18.5,18.7,18.5,19.9,19.5,20.6,20.2,19.1,-,18.890000

In [788]:
df655 = df65.fillna(method='ffill')
df655.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,23.6,23.5,21.9,21.9,21.8,21.6,21.7,...,21.0,21.5,21.2,21.0,21.6,21.3,21,20.2,20.2,21.793548
2,2,353201-เลย จ.เลย,2011-11-01,20.1,19.5,19.5,19.1,19.5,20.5,20.6,...,18.6,17.0,16.7,17.5,18.8,19.2,19.5,19.4,-,18.953333
3,3,353201-เลย จ.เลย,2011-12-01,18.0,16.6,15.0,14.6,15.3,16.7,18.9,...,16.1,12.8,9.7,9.4,11.0,14.9,16.2,16.2,16.5,14.735484
4,1,353201-เลย จ.เลย,2012-01-01,16.2,16.4,17.6,18.2,15.2,16.1,17.0,...,20.6,18.7,18.5,16.9,17.6,18.5,19.2,18.2,17.4,16.851613
5,2,353201-เลย จ.เลย,2012-02-01,17.8,18.8,20.7,19.1,19.5,18.2,16.4,...,15.0,16.3,17.1,16.7,18.7,18.6,16.9,-,-,17.310345

###เปลี่ยนชื่อcolumns

In [789]:
df611.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df611['จังหวัด'] = "ขอนแก่น"
df622.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df622['จังหวัด'] = "นครพนม"
df633.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df633['จังหวัด'] = "สกลนคร"
df644.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df644['จังหวัด'] = "หนองคาย"
df655.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df655['จังหวัด'] = "เลย"

##อุณภูมิตุ้มแห้ง

In [790]:
df71 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df72 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df73 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df74 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df75 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [791]:
df71.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,27.6,25.6,25.6,25.8,24.3,24.0,25.1,...,26.7,27.6,27.4,27.2,27.3,26.9,26.3,25.8,26.2,26.2
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,26.3,26.3,26.3,26.6,26.8,27.5,27.9,...,26.5,23.9,24.4,25.5,26.1,26.2,26,26,-,25.8
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,25.4,23.9,21.3,22.3,23.0,25.6,25.4,...,23.6,21.1,18.3,18.3,20.4,23.5,23.7,24.2,24.1,22.4
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,23.8,24.5,25.0,24.8,22.8,23.4,23.1,...,25.3,24.4,24.1,22.1,24.6,26.3,25.6,25.3,23,24.4
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,23.9,25.4,25.3,24.8,27.2,28.2,28.3,...,28.3,29.1,29.6,29.2,28.2,27.5,28.5,-,-,26.5

In [792]:
df72.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.9,26.1,25.3,24.7,23.1,23.2,25.6,...,27.3,27.9,27.0,27.2,27.1,27.6,25.5,25.8,25.9,26.0
2,2,357201-นครพนม จ.นครพนม,2011-11-01,25.8,25.8,25.5,26.8,26.5,27.8,27.3,...,25.5,23.7,23.9,24.8,25.2,26.2,26.2,26.2,-,25.5
3,3,357201-นครพนม จ.นครพนม,2011-12-01,25.4,22.1,20.4,21.3,22.6,23.1,25.2,...,21.6,20.0,17.4,18.0,20.0,22.0,23.9,23.2,21.9,21.3
4,1,357201-นครพนม จ.นครพนม,2012-01-01,21.7,22.8,24.7,23.4,20.3,21.2,21.1,...,20.9,21.4,21.3,21.4,22.8,25.2,24.5,24.1,22.6,22.6
5,2,357201-นครพนม จ.นครพนม,2012-02-01,23.0,24.3,23.4,24.0,25.6,27.3,27.8,...,27.4,28.8,28.5,27.4,23.8,22.4,26.7,-,-,25.1

In [793]:
df73.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,26.9,25.9,25.7,25.2,23.6,23.5,25.6,...,26.2,27.0,26.6,26.9,27.1,27.5,25.4,25.2,25.5,26.0
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,25.7,25.5,25.5,26.1,26.7,27.8,26.7,...,25.8,23.8,23.7,24.8,25.6,25.7,25.3,25.4,-,25.3
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,25.4,22.4,19.9,21.0,22.0,23.5,25.2,...,21.4,19.4,17.1,18.1,20.0,22.0,22.7,22.9,22.3,21.1
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,22.2,22.7,24.3,23.3,20.5,21.4,20.9,...,22.0,22.1,21.0,20.2,23.2,25.2,24.4,23.4,22.1,22.6
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,23.0,24.1,23.1,23.8,25.9,27.8,28.1,...,27.3,29.6,28.6,27.4,24.4,23.8,26.3,-,-,25.0

In [794]:
df74.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,26.7,25.5,27.0,26.8,24.9,24.3,25.4,...,27.7,27.9,28.0,27.8,27.8,27.4,27.2,27,27.2,27.0
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,26.3,26.4,26.3,26.5,27.1,27.4,28.3,...,26.8,23.9,23.9,25.2,25.6,26.0,25.7,25.8,-,25.9
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,25.6,23.6,21.4,21.9,23.2,24.7,24.9,...,22.5,20.9,17.0,17.4,19.8,22.8,23.9,24.6,23.5,22.1
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,23.4,23.9,25.1,24.3,20.7,22.8,22.8,...,24.6,23.0,23.2,21.8,24.3,25.8,25.9,24.9,22.4,23.8
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,24.1,24.6,21.7,23.9,26.1,27.7,27.4,...,27.2,27.4,27.4,28.3,25.8,25.5,26.9,-,-,25.6

In [795]:
df75.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,26.3,25.1,24.4,25.2,25.6,23.7,24.6,...,25.8,26.1,26.1,26.2,25.9,25.6,26.3,25.6,24.8,25.6
2,2,353201-เลย จ.เลย,2011-11-01,25.3,24.7,24.5,24.4,24.9,25.4,25.8,...,26.3,23.6,22.9,23.3,24.5,24.1,25.5,25.5,-,24.4
3,3,353201-เลย จ.เลย,2011-12-01,23.9,22.9,21.0,20.9,22.3,21.6,23.8,...,21.8,19.8,16.6,16.4,17.6,21.1,22.7,22.6,23.2,21.1
4,1,353201-เลย จ.เลย,2012-01-01,22.7,22.9,24.1,24.3,23.3,23.0,22.2,...,25.2,24.4,23.5,22.8,23.4,24.9,25.5,23.5,23.5,23.3
5,2,353201-เลย จ.เลย,2012-02-01,23.4,24.2,23.2,24.0,25.6,26.3,25.9,...,25.5,25.9,26.9,26.8,26.5,26.7,26.7,-,-,25.4

###Fillna

In [796]:
df711 = df71.fillna(method='ffill')
df711.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,27.6,25.6,25.6,25.8,24.3,24.0,25.1,...,26.7,27.6,27.4,27.2,27.3,26.9,26.3,25.8,26.2,26.2
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,26.3,26.3,26.3,26.6,26.8,27.5,27.9,...,26.5,23.9,24.4,25.5,26.1,26.2,26,26,-,25.8
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,25.4,23.9,21.3,22.3,23.0,25.6,25.4,...,23.6,21.1,18.3,18.3,20.4,23.5,23.7,24.2,24.1,22.4
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,23.8,24.5,25.0,24.8,22.8,23.4,23.1,...,25.3,24.4,24.1,22.1,24.6,26.3,25.6,25.3,23,24.4
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,23.9,25.4,25.3,24.8,27.2,28.2,28.3,...,28.3,29.1,29.6,29.2,28.2,27.5,28.5,-,-,26.5

In [797]:
df722 = df72.fillna(method='ffill')
df722.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.9,26.1,25.3,24.7,23.1,23.2,25.6,...,27.3,27.9,27.0,27.2,27.1,27.6,25.5,25.8,25.9,26.0
2,2,357201-นครพนม จ.นครพนม,2011-11-01,25.8,25.8,25.5,26.8,26.5,27.8,27.3,...,25.5,23.7,23.9,24.8,25.2,26.2,26.2,26.2,-,25.5
3,3,357201-นครพนม จ.นครพนม,2011-12-01,25.4,22.1,20.4,21.3,22.6,23.1,25.2,...,21.6,20.0,17.4,18.0,20.0,22.0,23.9,23.2,21.9,21.3
4,1,357201-นครพนม จ.นครพนม,2012-01-01,21.7,22.8,24.7,23.4,20.3,21.2,21.1,...,20.9,21.4,21.3,21.4,22.8,25.2,24.5,24.1,22.6,22.6
5,2,357201-นครพนม จ.นครพนม,2012-02-01,23.0,24.3,23.4,24.0,25.6,27.3,27.8,...,27.4,28.8,28.5,27.4,23.8,22.4,26.7,-,-,25.1

In [798]:
df733 = df73.fillna(method='ffill')
df733.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,26.9,25.9,25.7,25.2,23.6,23.5,25.6,...,26.2,27.0,26.6,26.9,27.1,27.5,25.4,25.2,25.5,26.0
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,25.7,25.5,25.5,26.1,26.7,27.8,26.7,...,25.8,23.8,23.7,24.8,25.6,25.7,25.3,25.4,-,25.3
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,25.4,22.4,19.9,21.0,22.0,23.5,25.2,...,21.4,19.4,17.1,18.1,20.0,22.0,22.7,22.9,22.3,21.1
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,22.2,22.7,24.3,23.3,20.5,21.4,20.9,...,22.0,22.1,21.0,20.2,23.2,25.2,24.4,23.4,22.1,22.6
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,23.0,24.1,23.1,23.8,25.9,27.8,28.1,...,27.3,29.6,28.6,27.4,24.4,23.8,26.3,-,-,25.0

In [799]:
df744 = df74.fillna(method='ffill')
df744.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,26.7,25.5,27.0,26.8,24.9,24.3,25.4,...,27.7,27.9,28.0,27.8,27.8,27.4,27.2,27,27.2,27.0
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,26.3,26.4,26.3,26.5,27.1,27.4,28.3,...,26.8,23.9,23.9,25.2,25.6,26.0,25.7,25.8,-,25.9
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,25.6,23.6,21.4,21.9,23.2,24.7,24.9,...,22.5,20.9,17.0,17.4,19.8,22.8,23.9,24.6,23.5,22.1
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,23.4,23.9,25.1,24.3,20.7,22.8,22.8,...,24.6,23.0,23.2,21.8,24.3,25.8,25.9,24.9,22.4,23.8
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,24.1,24.6,21.7,23.9,26.1,27.7,27.4,...,27.2,27.4,27.4,28.3,25.8,25.5,26.9,-,-,25.6

In [800]:
df755 = df75.fillna(method='ffill')
df755.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,26.3,25.1,24.4,25.2,25.6,23.7,24.6,...,25.8,26.1,26.1,26.2,25.9,25.6,26.3,25.6,24.8,25.6
2,2,353201-เลย จ.เลย,2011-11-01,25.3,24.7,24.5,24.4,24.9,25.4,25.8,...,26.3,23.6,22.9,23.3,24.5,24.1,25.5,25.5,-,24.4
3,3,353201-เลย จ.เลย,2011-12-01,23.9,22.9,21.0,20.9,22.3,21.6,23.8,...,21.8,19.8,16.6,16.4,17.6,21.1,22.7,22.6,23.2,21.1
4,1,353201-เลย จ.เลย,2012-01-01,22.7,22.9,24.1,24.3,23.3,23.0,22.2,...,25.2,24.4,23.5,22.8,23.4,24.9,25.5,23.5,23.5,23.3
5,2,353201-เลย จ.เลย,2012-02-01,23.4,24.2,23.2,24.0,25.6,26.3,25.9,...,25.5,25.9,26.9,26.8,26.5,26.7,26.7,-,-,25.4

###เปลี่ยนชื่อcolumns

In [801]:
df711.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df711['จังหวัด'] = "ขอนแก่น"
df722.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df722['จังหวัด'] = "นครพนม"
df733.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df733['จังหวัด'] = "สกลนคร"
df744.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df744['จังหวัด'] = "หนองคาย"
df755.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df755['จังหวัด'] = "เลย"

##อุณภูมิต่ำสุด

In [802]:
df81 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df82 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df83 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df84 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df85 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [803]:
df81.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.8,23.0,22.1,22.8,23.1,21.7,22.0,...,21.3,22,22.7,21.6,21.7,22.4,21.7,20.2,21.1,22.4
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.7,20.4,20.5,20.9,20.6,22.2,23.8,...,21.5,18.5,18.4,18.9,20.2,20.1,20.2,19.8,-,20.3
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,19.3,18.9,15.4,15.6,16.3,20.2,20.8,...,17.1,16.5,12.1,11.6,13.2,16.5,16.7,18.4,17,16.4
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,17.7,19.6,20.4,20.7,16.8,16.9,16.8,...,22.6,18.6,19.4,16.2,17.5,21.6,20.8,21.6,20.1,19.4
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,19.4,20.5,20.9,20.9,21.5,21.1,20.7,...,19.6,21.3,21.1,21.3,23.4,22,22.2,-,-,20.1

In [804]:
df82.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.0,23.4,22.2,20.6,21.1,21.0,22.5,...,22,22.5,22.2,22.2,22.3,23.5,21.5,20.5,21,22.4
2,2,357201-นครพนม จ.นครพนม,2011-11-01,20.4,20.5,19.7,20.6,21.3,23.7,24.4,...,21.7,19.2,18.8,18.8,19.6,20.4,19.8,20.9,-,20.4
3,3,357201-นครพนม จ.นครพนม,2011-12-01,19.4,19.8,14.1,14.5,15,18.1,20.7,...,15.8,19.0,13.2,11.6,12.0,14.6,18.6,17.7,15.8,16.1
4,1,357201-นครพนม จ.นครพนม,2012-01-01,15.1,15.5,19.9,21.7,14.9,13.8,15.9,...,20.4,14.6,18.9,14.1,16.3,19.1,18.7,21.3,18.5,17.9
5,2,357201-นครพนม จ.นครพนม,2012-02-01,17.3,18.2,21.5,19.1,20.1,21.3,21.4,...,19.5,21.6,21.3,22.5,21.8,18.6,19,-,-,19.2

In [805]:
df83.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,24.5,23.1,22.6,21.8,22.5,21.1,23.0,...,22.4,22.4,22.6,22.1,22.2,24.3,22,20.7,20.7,22.7
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,20.5,20.5,20.4,20.6,21.5,24.0,24.3,...,22.5,20.9,18.5,19.0,19.8,20,19.9,19.6,-,20.5
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,19.5,19.3,14.0,15.3,15.8,18.0,21.2,...,16.2,16.7,11.7,13.0,12.6,15.3,16.4,17.2,17,15.9
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,16.9,16.5,18.6,19.9,15.3,15.0,16.0,...,19.8,16.0,17.1,14.6,17.3,20,19.4,20,18.7,18.2
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,18.3,19.0,19.8,19.3,20.2,20.5,21.5,...,19.2,23.5,21.0,20.9,20.8,19.3,19.4,-,-,19.0

In [806]:
df84.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,25.3,23.3,23.6,23.8,23.3,22.0,22.5,...,23.4,23.9,23.0,23.2,23.2,22.8,22.5,23,23.4,23.5
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,21.2,21.4,21.0,21.3,22.0,22.6,24.2,...,23.1,20.0,18.0,19.2,20.0,21,21.1,20.1,-,21.0
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,20.0,20.1,15.0,15.5,17.2,18.8,20.8,...,16.3,19.0,12.0,11.1,12.7,16,18,18.8,17.5,16.7
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,17.1,17.8,19.3,20.5,17.8,16.8,16.8,...,21.8,18.8,19.2,17.1,17.2,20,21.8,21.3,20.9,19.0
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,19.6,20.0,19.5,19.7,20.1,21.8,21.3,...,20.3,21.0,20.7,22.2,23.0,20.7,21.4,-,-,20.2

In [807]:
df85.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,23.5,24.3,22.5,23.0,22.7,23.2,21.0,...,20.9,21.5,21.6,21.8,21.5,21.2,21.8,21,20.5,22.2
2,2,353201-เลย จ.เลย,2011-11-01,20.7,19.9,19.1,19.0,19.5,19.8,20.5,...,21.7,18.6,16.9,17.0,19.2,19.3,20.3,19.5,-,19.2
3,3,353201-เลย จ.เลย,2011-12-01,18,19.6,15.5,14.4,17.1,15.5,17.2,...,16.9,15.0,11.1,9.9,10.0,13,15.9,16.5,16.4,15.2
4,1,353201-เลย จ.เลย,2012-01-01,16,16.1,17.9,20.9,19.6,16.8,17.0,...,19.9,21.0,19.0,18.9,16.8,19,21,21.3,20.5,18.2
5,2,353201-เลย จ.เลย,2012-02-01,19,19.0,21.7,20.2,18.9,18.0,16.5,...,15.6,16.5,18.5,18.5,20.0,20.1,18.4,-,-,18.6

###Fillna

In [808]:
df811 = df81.fillna(method='ffill')
df811.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.8,23.0,22.1,22.8,23.1,21.7,22.0,...,21.3,22,22.7,21.6,21.7,22.4,21.7,20.2,21.1,22.4
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.7,20.4,20.5,20.9,20.6,22.2,23.8,...,21.5,18.5,18.4,18.9,20.2,20.1,20.2,19.8,-,20.3
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,19.3,18.9,15.4,15.6,16.3,20.2,20.8,...,17.1,16.5,12.1,11.6,13.2,16.5,16.7,18.4,17,16.4
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,17.7,19.6,20.4,20.7,16.8,16.9,16.8,...,22.6,18.6,19.4,16.2,17.5,21.6,20.8,21.6,20.1,19.4
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,19.4,20.5,20.9,20.9,21.5,21.1,20.7,...,19.6,21.3,21.1,21.3,23.4,22,22.2,-,-,20.1

In [809]:
df822 = df82.fillna(method='ffill')
df822.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.0,23.4,22.2,20.6,21.1,21.0,22.5,...,22,22.5,22.2,22.2,22.3,23.5,21.5,20.5,21,22.4
2,2,357201-นครพนม จ.นครพนม,2011-11-01,20.4,20.5,19.7,20.6,21.3,23.7,24.4,...,21.7,19.2,18.8,18.8,19.6,20.4,19.8,20.9,-,20.4
3,3,357201-นครพนม จ.นครพนม,2011-12-01,19.4,19.8,14.1,14.5,15,18.1,20.7,...,15.8,19.0,13.2,11.6,12.0,14.6,18.6,17.7,15.8,16.1
4,1,357201-นครพนม จ.นครพนม,2012-01-01,15.1,15.5,19.9,21.7,14.9,13.8,15.9,...,20.4,14.6,18.9,14.1,16.3,19.1,18.7,21.3,18.5,17.9
5,2,357201-นครพนม จ.นครพนม,2012-02-01,17.3,18.2,21.5,19.1,20.1,21.3,21.4,...,19.5,21.6,21.3,22.5,21.8,18.6,19,-,-,19.2

In [810]:
df833 = df83.fillna(method='ffill')
df833.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,24.5,23.1,22.6,21.8,22.5,21.1,23.0,...,22.4,22.4,22.6,22.1,22.2,24.3,22,20.7,20.7,22.7
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,20.5,20.5,20.4,20.6,21.5,24.0,24.3,...,22.5,20.9,18.5,19.0,19.8,20,19.9,19.6,-,20.5
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,19.5,19.3,14.0,15.3,15.8,18.0,21.2,...,16.2,16.7,11.7,13.0,12.6,15.3,16.4,17.2,17,15.9
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,16.9,16.5,18.6,19.9,15.3,15.0,16.0,...,19.8,16.0,17.1,14.6,17.3,20,19.4,20,18.7,18.2
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,18.3,19.0,19.8,19.3,20.2,20.5,21.5,...,19.2,23.5,21.0,20.9,20.8,19.3,19.4,-,-,19.0

In [811]:
df844 = df84.fillna(method='ffill')
df844.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,25.3,23.3,23.6,23.8,23.3,22.0,22.5,...,23.4,23.9,23.0,23.2,23.2,22.8,22.5,23,23.4,23.5
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,21.2,21.4,21.0,21.3,22.0,22.6,24.2,...,23.1,20.0,18.0,19.2,20.0,21,21.1,20.1,-,21.0
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,20.0,20.1,15.0,15.5,17.2,18.8,20.8,...,16.3,19.0,12.0,11.1,12.7,16,18,18.8,17.5,16.7
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,17.1,17.8,19.3,20.5,17.8,16.8,16.8,...,21.8,18.8,19.2,17.1,17.2,20,21.8,21.3,20.9,19.0
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,19.6,20.0,19.5,19.7,20.1,21.8,21.3,...,20.3,21.0,20.7,22.2,23.0,20.7,21.4,-,-,20.2

In [812]:
df855 = df85.fillna(method='ffill')
df855.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,23.5,24.3,22.5,23.0,22.7,23.2,21.0,...,20.9,21.5,21.6,21.8,21.5,21.2,21.8,21,20.5,22.2
2,2,353201-เลย จ.เลย,2011-11-01,20.7,19.9,19.1,19.0,19.5,19.8,20.5,...,21.7,18.6,16.9,17.0,19.2,19.3,20.3,19.5,-,19.2
3,3,353201-เลย จ.เลย,2011-12-01,18,19.6,15.5,14.4,17.1,15.5,17.2,...,16.9,15.0,11.1,9.9,10.0,13,15.9,16.5,16.4,15.2
4,1,353201-เลย จ.เลย,2012-01-01,16,16.1,17.9,20.9,19.6,16.8,17.0,...,19.9,21.0,19.0,18.9,16.8,19,21,21.3,20.5,18.2
5,2,353201-เลย จ.เลย,2012-02-01,19,19.0,21.7,20.2,18.9,18.0,16.5,...,15.6,16.5,18.5,18.5,20.0,20.1,18.4,-,-,18.6

###เปลี่ยนชื่อcolumns

In [813]:
df811.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df811['จังหวัด'] = "ขอนแก่น"
df822.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df822['จังหวัด'] = "นครพนม"
df833.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df833['จังหวัด'] = "สกลนคร"
df844.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df844['จังหวัด'] = "หนองคาย"
df855.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df855['จังหวัด'] = "เลย"

#ต่อจากเดิม Commit2

#หาของความกด(เปอร์เซ็นต์)

####ขอนแก่น

In [814]:
a = df111[['1','2','3','4','5','6','7','8','9','10','11','12','13',
       '14','15','16','17','18','19','20','21','22','23',
       '24','25','26','27','28','29','30','31']]

In [815]:
for name, values in a.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[1]))

วันที่ 1 ความกด = 1005.47
วันที่ 2 ความกด = 1006.65
วันที่ 3 ความกด = 1007.49
วันที่ 4 ความกด = 1008.28
วันที่ 5 ความกด = 1009.88
วันที่ 6 ความกด = 1011.36
วันที่ 7 ความกด = 1011.17
วันที่ 8 ความกด = 1010.2
วันที่ 9 ความกด = 1010.14
วันที่ 10 ความกด = 1010.6
วันที่ 11 ความกด = 1010.04
วันที่ 12 ความกด = 1009.07
วันที่ 13 ความกด = 1008.45
วันที่ 14 ความกด = 1008.02
วันที่ 15 ความกด = 1009.2
วันที่ 16 ความกด = 1010.38
วันที่ 17 ความกด = 1013.06
วันที่ 18 ความกด = 1013.54
วันที่ 19 ความกด = 1011.43
วันที่ 20 ความกด = 1011.36
วันที่ 21 ความกด = 1011.34
วันที่ 22 ความกด = 1010.9
วันที่ 23 ความกด = 1010.76
วันที่ 24 ความกด = 1010.23
วันที่ 25 ความกด = 1011.34
วันที่ 26 ความกด = 1011.84
วันที่ 27 ความกด = 1011.89
วันที่ 28 ความกด = 1012.29
วันที่ 29 ความกด = 1011.67
วันที่ 30 ความกด = 1011.3
วันที่ 31 ความกด = 1011.52

In [816]:
a1 = df111[['จังหวัด','เดือน/ปี','1','2','3','4','5','6','7','8','9','10','11','12','13',
       '14','15','16','17','18','19','20','21','22','23',
       '24','25','26','27','28','29','30','31']]

In [817]:
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[1]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[2]))
for name, values in a1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[3]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[4]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[5]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[6]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[7]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[8]))
for name, values in a1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[9]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[10]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[11]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[12]))
for name, values in a1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[13]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[14]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[15]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[16]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[17]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[18]))
for name, values in a1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[19]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[20]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[21]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[22]))
for name, values in a1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[23]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[24]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[25]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[26]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[27]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[28]))
for name, values in a1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[29]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[30]))
for name, values in a1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[31]))

วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2011-10-01 00:00:00
วันที่ 1 ความกด = 1005.47
วันที่ 2 ความกด = 1006.65
วันที่ 3 ความกด = 1007.49
วันที่ 4 ความกด = 1008.28
วันที่ 5 ความกด = 1009.88
วันที่ 6 ความกด = 1011.36
วันที่ 7 ความกด = 1011.17
วันที่ 8 ความกด = 1010.2
วันที่ 9 ความกด = 1010.14
วันที่ 10 ความกด = 1010.6
วันที่ 11 ความกด = 1010.04
วันที่ 12 ความกด = 1009.07
วันที่ 13 ความกด = 1008.45
วันที่ 14 ความกด = 1008.02
วันที่ 15 ความกด = 1009.2
วันที่ 16 ความกด = 1010.38
วันที่ 17 ความกด = 1013.06
วันที่ 18 ความกด = 1013.54
วันที่ 19 ความกด = 1011.43
วันที่ 20 ความกด = 1011.36
วันที่ 21 ความกด = 1011.34
วันที่ 22 ความกด = 1010.9
วันที่ 23 ความกด = 1010.76
วันที่ 24 ความกด = 1010.23
วันที่ 25 ความกด = 1011.34
วันที่ 26 ความกด = 1011.84
วันที่ 27 ความกด = 1011.89
วันที่ 28 ความกด = 1012.29
วันที่ 29 ความกด = 1011.67
วันที่ 30 ความกด = 1011.3
วันที่ 31 ความกด = 1011.52
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2011-11-01 00:00:00
วันที่ 1 ความกด = 1011.79
วันที่ 2 ความกด = 1010.83
วันที่ 3 ความกด = 1010.74
วันที่ 4 ความกด = 1010.71
วันที่ 5 ความกด = 1010.09
วันที่ 6 ความกด = 1009.24
วันที่ 7 ความกด = 1008.03
วันที่ 8 ความกด = 1007.2
วันที่ 9 ความกด = 1009.68
วันที่ 10 ความกด = 1011.96
วันที่ 11 ความกด = 1012.75
วันที่ 12 ความกด = 1013.67
วันที่ 13 ความกด = 1013.9
วันที่ 14 ความกด = 1013.99
วันที่ 15 ความกด = 1014.04
วันที่ 16 ความกด = 1012.1
วันที่ 17 ความกด = 1010.78
วันที่ 18 ความกด = 1009.32
วันที่ 19 ความกด = 1011.05
วันที่ 20 ความกด = 1014.14
วันที่ 21 ความกด = 1014.6
วันที่ 22 ความกด = 1013.63
วันที่ 23 ความกด = 1014.07
วันที่ 24 ความกด = 1015.4
วันที่ 25 ความกด = 1013.95
วันที่ 26 ความกด = 1012.35
วันที่ 27 ความกด = 1011.31
วันที่ 28 ความกด = 1009.59
วันที่ 29 ความกด = 1010.13
วันที่ 30 ความกด = 1010.47
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = ขอนแก่น
 วันที่ เดือน/ปี ความกด = 2011-12-01 00:00:00
 วันที่ 1 ความกด = 1011.43
 วันที่ 2 ความกด = 1012.57
 วันที่ 3 ความกด = 1012.28
 วันที่ 4 ความกด = 1012.97
 วันที่ 5 ความกด = 1013.09
 วันที่ 6 ความกด = 1012.03
 วันที่ 7 ความกด = 1012.05
 วันที่ 8 ความกด = 1011.94
 วันที่ 9 ความกด = 1014.29
 วันที่ 10 ความกด = 1016.1
 วันที่ 11 ความกด = 1017.69
 วันที่ 12 ความกด = 1016.89
 วันที่ 13 ความกด = 1015.56
 วันที่ 14 ความกด = 1014.68
 วันที่ 15 ความกด = 1013.5
 วันที่ 16 ความกด = 1015.17
 วันที่ 17 ความกด = 1016.28
 วันที่ 18 ความกด = 1016.61
 วันที่ 19 ความกด = 1015.25
 วันที่ 20 ความกด = 1014.17
 วันที่ 21 ความกด = 1013.67
 วันที่ 22 ความกด = 1012.88
 วันที่ 23 ความกด = 1012.88
 วันที่ 24 ความกด = 1015.78
 วันที่ 25 ความกด = 1018.56
 วันที่ 26 ความกด = 1018.65
 วันที่ 27 ความกด = 1016.88
 วันที่ 28 ความกด = 1016.05
 วันที่ 29 ความกด = 1014.98
 วันที่ 30 ความกด = 1015.53
 วันที่ 31 ความกด = 1016.4
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2012-01-01 00:00:00
วันที่ 1 ความกด = 1015.67
วันที่ 2 ความกด = 1014.11
วันที่ 3 ความกด = 1012.91
วันที่ 4 ความกด = 1014.06
วันที่ 5 ความกด = 1015.51
วันที่ 6 ความกด = 1015.88
วันที่ 7 ความกด = 1017.72
วันที่ 8 ความกด = 1018.06
วันที่ 9 ความกด = 1016.98
วันที่ 10 ความกด = 1016.18
วันที่ 11 ความกด = 1016.16
วันที่ 12 ความกด = 1016.05
วันที่ 13 ความกด = 1014.04
วันที่ 14 ความกด = 1010.22
วันที่ 15 ความกด = 1008.22
วันที่ 16 ความกด = 1007.87
วันที่ 17 ความกด = 1007.78
วันที่ 18 ความกด = 1007.53
วันที่ 19 ความกด = 1008.5
วันที่ 20 ความกด = 1009.81
วันที่ 21 ความกด = 1009.18
วันที่ 22 ความกด = 1009.62
วันที่ 23 ความกด = 1010.91
วันที่ 24 ความกด = 1011.27
วันที่ 25 ความกด = 1011.65
วันที่ 26 ความกด = 1012.56
วันที่ 27 ความกด = 1010.76
วันที่ 28 ความกด = 1010.26
วันที่ 29 ความกด = 1010.69
วันที่ 30 ความกด = 1012.34
วันที่ 31 ความกด = 1014.52
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2012-02-01 00:00:00
วันที่ 1 ความกด = 1013.26
วันที่ 2 ความกด = 1012.92
วันที่ 3 ความกด = 1013.61
วันที่ 4 ความกด = 1013.18
วันที่ 5 ความกด = 1011.26
วันที่ 6 ความกด = 1008.8
วันที่ 7 ความกด = 1008.16
วันที่ 8 ความกด = 1009.66
วันที่ 9 ความกด = 1011.25
วันที่ 10 ความกด = 1011.42
วันที่ 11 ความกด = 1012.09
วันที่ 12 ความกด = 1012.7
วันที่ 13 ความกด = 1011.99
วันที่ 14 ความกด = 1010.56
วันที่ 15 ความกด = 1008.19
วันที่ 16 ความกด = 1008.37
วันที่ 17 ความกด = 1010.07
วันที่ 18 ความกด = 1012.43
วันที่ 19 ความกด = 1013.86
วันที่ 20 ความกด = 1012.16
วันที่ 21 ความกด = 1008.94
วันที่ 22 ความกด = 1006.99
วันที่ 23 ความกด = 1005.75
วันที่ 24 ความกด = 1005.46
วันที่ 25 ความกด = 1004.8
วันที่ 26 ความกด = 1005.08
วันที่ 27 ความกด = 1006.57
วันที่ 28 ความกด = 1005.96
วันที่ 29 ความกด = 1006.53
วันที่ 30 ความกด = 1010.47
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2012-10-01 00:00:00
วันที่ 1 ความกด = 1011.5
วันที่ 2 ความกด = 1011.11
วันที่ 3 ความกด = 1008.6
วันที่ 4 ความกด = 1007.07
วันที่ 5 ความกด = 1008.17
วันที่ 6 ความกด = 1010.06
วันที่ 7 ความกด = 1010.11
วันที่ 8 ความกด = 1010.07
วันที่ 9 ความกด = 1010.56
วันที่ 10 ความกด = 1011.39
วันที่ 11 ความกด = 1011.03
วันที่ 12 ความกด = 1010.51
วันที่ 13 ความกด = 1009.59
วันที่ 14 ความกด = 1010.27
วันที่ 15 ความกด = 1011.86
วันที่ 16 ความกด = 1011.95
วันที่ 17 ความกด = 1011.69
วันที่ 18 ความกด = 1012.83
วันที่ 19 ความกด = 1012.01
วันที่ 20 ความกด = 1011.73
วันที่ 21 ความกด = 1011.69
วันที่ 22 ความกด = 1011.87
วันที่ 23 ความกด = 1010.93
วันที่ 24 ความกด = 1010.2
วันที่ 25 ความกด = 1009.78
วันที่ 26 ความกด = 1009.08
วันที่ 27 ความกด = 1008.67
วันที่ 28 ความกด = 1008.41
วันที่ 29 ความกด = 1008.71
วันที่ 30 ความกด = 1008.7
วันที่ 31 ความกด = 1011.83
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2012-11-01 00:00:00
วันที่ 1 ความกด = 1012.67
วันที่ 2 ความกด = 1011.17
วันที่ 3 ความกด = 1010.47
วันที่ 4 ความกด = 1010.24
วันที่ 5 ความกด = 1010.43
วันที่ 6 ความกด = 1010.9
วันที่ 7 ความกด = 1009.76
วันที่ 8 ความกด = 1008.36
วันที่ 9 ความกด = 1008.55
วันที่ 10 ความกด = 1009.21
วันที่ 11 ความกด = 1009.95
วันที่ 12 ความกด = 1012.05
วันที่ 13 ความกด = 1012.08
วันที่ 14 ความกด = 1010.86
วันที่ 15 ความกด = 1010.94
วันที่ 16 ความกด = 1011.02
วันที่ 17 ความกด = 1011.52
วันที่ 18 ความกด = 1011.82
วันที่ 19 ความกด = 1011.1
วันที่ 20 ความกด = 1011.07
วันที่ 21 ความกด = 1009.9
วันที่ 22 ความกด = 1008.6
วันที่ 23 ความกด = 1008.6
วันที่ 24 ความกด = 1010.51
วันที่ 25 ความกด = 1011.46
วันที่ 26 ความกด = 1010.77
วันที่ 27 ความกด = 1010.16
วันที่ 28 ความกด = 1010.18
วันที่ 29 ความกด = 1010.04
วันที่ 30 ความกด = 1009.54
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2012-12-01 00:00:00
วันที่ 1 ความกด = 1009.8
วันที่ 2 ความกด = 1010.17
วันที่ 3 ความกด = 1010.74
วันที่ 4 ความกด = 1010.72
วันที่ 5 ความกด = 1010.61
วันที่ 6 ความกด = 1012.15
วันที่ 7 ความกด = 1011.02
วันที่ 8 ความกด = 1011.34
วันที่ 9 ความกด = 1010.76
วันที่ 10 ความกด = 1010.29
วันที่ 11 ความกด = 1010.88
วันที่ 12 ความกด = 1012.72
วันที่ 13 ความกด = 1012.73
วันที่ 14 ความกด = 1013.53
วันที่ 15 ความกด = 1012.27
วันที่ 16 ความกด = 1011.72
วันที่ 17 ความกด = 1010.76
วันที่ 18 ความกด = 1011.56
วันที่ 19 ความกด = 1011.65
วันที่ 20 ความกด = 1010.83
วันที่ 21 ความกด = 1010.62
วันที่ 22 ความกด = 1010.88
วันที่ 23 ความกด = 1014.53
วันที่ 24 ความกด = 1016.29
วันที่ 25 ความกด = 1013.54
วันที่ 26 ความกด = 1011.6
วันที่ 27 ความกด = 1010.58
วันที่ 28 ความกด = 1009.61
วันที่ 29 ความกด = 1009.9
วันที่ 30 ความกด = 1011.64
วันที่ 31 ความกด = 1014.86
 วันที่ จังหวัด ความกด = ขอนแก่น
 วันที่ เดือน/ปี ความกด = 2013-01-01 00:00:00
 วันที่ 1 ความกด = 1014.58
 วันที่ 2 ความกด = 1013.3
 วันที่ 3 ความกด = 1013.73
 วันที่ 4 ความกด = 1012.89
 วันที่ 5 ความกด = 1011.43
 วันที่ 6 ความกด = 1011.8
 วันที่ 7 ความกด = 1012.2
 วันที่ 8 ความกด = 1011.64
 วันที่ 9 ความกด = 1010.92
 วันที่ 10 ความกด = 1012.06
 วันที่ 11 ความกด = 1012.95
 วันที่ 12 ความกด = 1013.03
 วันที่ 13 ความกด = 1012.02
 วันที่ 14 ความกด = 1011.79
 วันที่ 15 ความกด = 1013.49
 วันที่ 16 ความกด = 1014.32
 วันที่ 17 ความกด = 1016.17
 วันที่ 18 ความกด = 1018.47
 วันที่ 19 ความกด = 1016.41
 วันที่ 20 ความกด = 1014.92
 วันที่ 21 ความกด = 1014.37
 วันที่ 22 ความกด = 1013.7
 วันที่ 23 ความกด = 1013.16
 วันที่ 24 ความกด = 1012.54
 วันที่ 25 ความกด = 1012.09
 วันที่ 26 ความกด = 1012.41
 วันที่ 27 ความกด = 1013.8
 วันที่ 28 ความกด = 1016.45
 วันที่ 29 ความกด = 1015.31
 วันที่ 30 ความกด = 1014.99
 วันที่ 31 ความกด = 1015.58
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2013-02-01 00:00:00
วันที่ 1 ความกด = 1015.19
วันที่ 2 ความกด = 1013.97
วันที่ 3 ความกด = 1013.89
วันที่ 4 ความกด = 1013.91
วันที่ 5 ความกด = 1013.43
วันที่ 6 ความกด = 1011.11
วันที่ 7 ความกด = 1008.35
วันที่ 8 ความกด = 1008.48
วันที่ 9 ความกด = 1011.74
วันที่ 10 ความกด = 1012.34
วันที่ 11 ความกด = 1011.63
วันที่ 12 ความกด = 1011.39
วันที่ 13 ความกด = 1012.57
วันที่ 14 ความกด = 1011.13
วันที่ 15 ความกด = 1009.65
วันที่ 16 ความกด = 1010.58
วันที่ 17 ความกด = 1009.28
วันที่ 18 ความกด = 1007.62
วันที่ 19 ความกด = 1007.57
วันที่ 20 ความกด = 1009.02
วันที่ 21 ความกด = 1011.46
วันที่ 22 ความกด = 1013.99
วันที่ 23 ความกด = 1015.38
วันที่ 24 ความกด = 1013.4
วันที่ 25 ความกด = 1011.79
วันที่ 26 ความกด = 1010.17
วันที่ 27 ความกด = 1007.95
วันที่ 28 ความกด = 1006.82
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2013-10-01 00:00:00
วันที่ 1 ความกด = 1007.15
วันที่ 2 ความกด = 1010.12
วันที่ 3 ความกด = 1009.88
วันที่ 4 ความกด = 1009.47
วันที่ 5 ความกด = 1008.08
วันที่ 6 ความกด = 1008.35
วันที่ 7 ความกด = 1009.3
วันที่ 8 ความกด = 1010.1
วันที่ 9 ความกด = 1010.45
วันที่ 10 ความกด = 1011.16
วันที่ 11 ความกด = 1010.69
วันที่ 12 ความกด = 1009.2
วันที่ 13 ความกด = 1008.58
วันที่ 14 ความกด = 1007.43
วันที่ 15 ความกด = 1006.0
วันที่ 16 ความกด = 1005.07
วันที่ 17 ความกด = 1010.34
วันที่ 18 ความกด = 1011.91
วันที่ 19 ความกด = 1013.19
วันที่ 20 ความกด = 1012.74
วันที่ 21 ความกด = 1011.92
วันที่ 22 ความกด = 1012.93
วันที่ 23 ความกด = 1012.52
วันที่ 24 ความกด = 1012.21
วันที่ 25 ความกด = 1013.81
วันที่ 26 ความกด = 1014.58
วันที่ 27 ความกด = 1013.7
วันที่ 28 ความกด = 1013.78
วันที่ 29 ความกด = 1013.54
วันที่ 30 ความกด = 1012.81
วันที่ 31 ความกด = 1012.4
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2013-11-01 00:00:00
วันที่ 1 ความกด = 1011.98
วันที่ 2 ความกด = 1011.46
วันที่ 3 ความกด = 1012.38
วันที่ 4 ความกด = 1014.27
วันที่ 5 ความกด = 1013.73
วันที่ 6 ความกด = 1012.49
วันที่ 7 ความกด = 1012.23
วันที่ 8 ความกด = 1010.61
วันที่ 9 ความกด = 1009.89
วันที่ 10 ความกด = 1007.32
วันที่ 11 ความกด = 1006.85
วันที่ 12 ความกด = 1008.1
วันที่ 13 ความกด = 1008.5
วันที่ 14 ความกด = 1010.6
วันที่ 15 ความกด = 1012.37
วันที่ 16 ความกด = 1013.11
วันที่ 17 ความกด = 1013.65
วันที่ 18 ความกด = 1014.13
วันที่ 19 ความกด = 1013.77
วันที่ 20 ความกด = 1012.99
วันที่ 21 ความกด = 1011.66
วันที่ 22 ความกด = 1011.68
วันที่ 23 ความกด = 1010.88
วันที่ 24 ความกด = 1010.65
วันที่ 25 ความกด = 1009.57
วันที่ 26 ความกด = 1009.86
วันที่ 27 ความกด = 1011.42
วันที่ 28 ความกด = 1014.45
วันที่ 29 ความกด = 1016.41
วันที่ 30 ความกด = 1015.26
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = ขอนแก่น
 วันที่ เดือน/ปี ความกด = 2013-12-01 00:00:00
 วันที่ 1 ความกด = 1016.33
 วันที่ 2 ความกด = 1016.26
 วันที่ 3 ความกด = 1014.47
 วันที่ 4 ความกด = 1013.72
 วันที่ 5 ความกด = 1012.13
 วันที่ 6 ความกด = 1012.41
 วันที่ 7 ความกด = 1013.45
 วันที่ 8 ความกด = 1012.37
 วันที่ 9 ความกด = 1011.16
 วันที่ 10 ความกด = 1010.57
 วันที่ 11 ความกด = 1010.67
 วันที่ 12 ความกด = 1010.68
 วันที่ 13 ความกด = 1011.18
 วันที่ 14 ความกด = 1010.98
 วันที่ 15 ความกด = 1009.84
 วันที่ 16 ความกด = 1011.51
 วันที่ 17 ความกด = 1013.98
 วันที่ 18 ความกด = 1014.77
 วันที่ 19 ความกด = 1016.21
 วันที่ 20 ความกด = 1017.13
 วันที่ 21 ความกด = 1018.56
 วันที่ 22 ความกด = 1018.3
 วันที่ 23 ความกด = 1016.96
 วันที่ 24 ความกด = 1017.48
 วันที่ 25 ความกด = 1017.28
 วันที่ 26 ความกด = 1016.62
 วันที่ 27 ความกด = 1017.87
 วันที่ 28 ความกด = 1016.97
 วันที่ 29 ความกด = 1016.84
 วันที่ 30 ความกด = 1017
 วันที่ 31 ความกด = 1017.5
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2014-01-01 00:00:00
วันที่ 1 ความกด = 1015.68
วันที่ 2 ความกด = 1013.34
วันที่ 3 ความกด = 1012.22
วันที่ 4 ความกด = 1013.22
วันที่ 5 ความกด = 1012.63
วันที่ 6 ความกด = 1011.37
วันที่ 7 ความกด = 1011.15
วันที่ 8 ความกด = 1011.98
วันที่ 9 ความกด = 1013.42
วันที่ 10 ความกด = 1015.75
วันที่ 11 ความกด = 1016.43
วันที่ 12 ความกด = 1016.42
วันที่ 13 ความกด = 1016.49
วันที่ 14 ความกด = 1018.16
วันที่ 15 ความกด = 1019.02
วันที่ 16 ความกด = 1018.52
วันที่ 17 ความกด = 1018.16
วันที่ 18 ความกด = 1021.16
วันที่ 19 ความกด = 1021.05
วันที่ 20 ความกด = 1018.97
วันที่ 21 ความกด = 1020.44
วันที่ 22 ความกด = 1020.76
วันที่ 23 ความกด = 1018.49
วันที่ 24 ความกด = 1014.48
วันที่ 25 ความกด = 1012.48
วันที่ 26 ความกด = 1014.52
วันที่ 27 ความกด = 1015.37
วันที่ 28 ความกด = 1013.99
วันที่ 29 ความกด = 1014.53
วันที่ 30 ความกด = 1015.39
วันที่ 31 ความกด = 1014.49
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2014-02-01 00:00:00
วันที่ 1 ความกด = 1011.69
วันที่ 2 ความกด = 1008.58
วันที่ 3 ความกด = 1006.13
วันที่ 4 ความกด = 1005.61
วันที่ 5 ความกด = 1006.28
วันที่ 6 ความกด = 1006.33
วันที่ 7 ความกด = 1006.42
วันที่ 8 ความกด = 1006.23
วันที่ 9 ความกด = 1006.78
วันที่ 10 ความกด = 1007.52
วันที่ 11 ความกด = 1010.08
วันที่ 12 ความกด = 1010.44
วันที่ 13 ความกด = 1012.13
วันที่ 14 ความกด = 1014.57
วันที่ 15 ความกด = 1013.19
วันที่ 16 ความกด = 1011.85
วันที่ 17 ความกด = 1012.09
วันที่ 18 ความกด = 1010.89
วันที่ 19 ความกด = 1012.38
วันที่ 20 ความกด = 1017.87
วันที่ 21 ความกด = 1017.06
วันที่ 22 ความกด = 1014.33
วันที่ 23 ความกด = 1013.56
วันที่ 24 ความกด = 1013.11
วันที่ 25 ความกด = 1012.19
วันที่ 26 ความกด = 1010.95
วันที่ 27 ความกด = 1011.9
วันที่ 28 ความกด = 1010.65
วันที่ 29 ความกด = 1017.86
วันที่ 30 ความกด = 1016.45
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2014-10-01 00:00:00
วันที่ 1 ความกด = 1010.85
วันที่ 2 ความกด = 1010.07
วันที่ 3 ความกด = 1008.86
วันที่ 4 ความกด = 1008.74
วันที่ 5 ความกด = 1009.45
วันที่ 6 ความกด = 1011.89
วันที่ 7 ความกด = 1011.67
วันที่ 8 ความกด = 1011.46
วันที่ 9 ความกด = 1010.61
วันที่ 10 ความกด = 1009.07
วันที่ 11 ความกด = 1010.07
วันที่ 12 ความกด = 1012.2
วันที่ 13 ความกด = 1014.04
วันที่ 14 ความกด = 1014.62
วันที่ 15 ความกด = 1013.94
วันที่ 16 ความกด = 1013.19
วันที่ 17 ความกด = 1012.69
วันที่ 18 ความกด = 1011.99
วันที่ 19 ความกด = 1012.0
วันที่ 20 ความกด = 1012.08
วันที่ 21 ความกด = 1012.93
วันที่ 22 ความกด = 1012.54
วันที่ 23 ความกด = 1011.9
วันที่ 24 ความกด = 1011.71
วันที่ 25 ความกด = 1011.75
วันที่ 26 ความกด = 1012.54
วันที่ 27 ความกด = 1011.6
วันที่ 28 ความกด = 1010.97
วันที่ 29 ความกด = 1011.07
วันที่ 30 ความกด = 1010.28
วันที่ 31 ความกด = 1009.99
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2014-11-01 00:00:00
วันที่ 1 ความกด = 1009.82
วันที่ 2 ความกด = 1010.8
วันที่ 3 ความกด = 1012.6
วันที่ 4 ความกด = 1012.98
วันที่ 5 ความกด = 1013.05
วันที่ 6 ความกด = 1011.94
วันที่ 7 ความกด = 1011.51
วันที่ 8 ความกด = 1012.14
วันที่ 9 ความกด = 1013.48
วันที่ 10 ความกด = 1012.1
วันที่ 11 ความกด = 1011.04
วันที่ 12 ความกด = 1012.09
วันที่ 13 ความกด = 1014.09
วันที่ 14 ความกด = 1014.59
วันที่ 15 ความกด = 1013.56
วันที่ 16 ความกด = 1013.33
วันที่ 17 ความกด = 1014.1
วันที่ 18 ความกด = 1015.94
วันที่ 19 ความกด = 1015.81
วันที่ 20 ความกด = 1014.1
วันที่ 21 ความกด = 1012.62
วันที่ 22 ความกด = 1012.35
วันที่ 23 ความกด = 1012.04
วันที่ 24 ความกด = 1011.58
วันที่ 25 ความกด = 1010.59
วันที่ 26 ความกด = 1009.18
วันที่ 27 ความกด = 1009.71
วันที่ 28 ความกด = 1009.71
วันที่ 29 ความกด = 1009.31
วันที่ 30 ความกด = 1008.11
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2014-12-01 00:00:00
วันที่ 1 ความกด = 1010.1
วันที่ 2 ความกด = 1011.37
วันที่ 3 ความกด = 1011.13
วันที่ 4 ความกด = 1012.84
วันที่ 5 ความกด = 1015.01
วันที่ 6 ความกด = 1013.72
วันที่ 7 ความกด = 1012.41
วันที่ 8 ความกด = 1014.19
วันที่ 9 ความกด = 1015.44
วันที่ 10 ความกด = 1014.55
วันที่ 11 ความกด = 1014.38
วันที่ 12 ความกด = 1016.67
วันที่ 13 ความกด = 1018.41
วันที่ 14 ความกด = 1017.31
วันที่ 15 ความกด = 1015.08
วันที่ 16 ความกด = 1016.43
วันที่ 17 ความกด = 1018.98
วันที่ 18 ความกด = 1019.4
วันที่ 19 ความกด = 1017.9
วันที่ 20 ความกด = 1015.62
วันที่ 21 ความกด = 1015.2
วันที่ 22 ความกด = 1016.93
วันที่ 23 ความกด = 1016.09
วันที่ 24 ความกด = 1015.77
วันที่ 25 ความกด = 1014.03
วันที่ 26 ความกด = 1011.86
วันที่ 27 ความกด = 1012.67
วันที่ 28 ความกด = 1015.48
วันที่ 29 ความกด = 1016.54
วันที่ 30 ความกด = 1014.73
วันที่ 31 ความกด = 1015.75
 วันที่ จังหวัด ความกด = ขอนแก่น
 วันที่ เดือน/ปี ความกด = 2015-01-01 00:00:00
 วันที่ 1 ความกด = 1018.1
 วันที่ 2 ความกด = 1018.43
 วันที่ 3 ความกด = 1016.61
 วันที่ 4 ความกด = 1013.04
 วันที่ 5 ความกด = 1010.62
 วันที่ 6 ความกด = 1010.23
 วันที่ 7 ความกด = 1011.51
 วันที่ 8 ความกด = 1015.12
 วันที่ 9 ความกด = 1015.82
 วันที่ 10 ความกด = 1015.58
 วันที่ 11 ความกด = 1016.55
 วันที่ 12 ความกด = 1017.44
 วันที่ 13 ความกด = 1017.96
 วันที่ 14 ความกด = 1018.6
 วันที่ 15 ความกด = 1017.71
 วันที่ 16 ความกด = 1017.27
 วันที่ 17 ความกด = 1017.77
 วันที่ 18 ความกด = 1017.64
 วันที่ 19 ความกด = 1017.76
 วันที่ 20 ความกด = 1017.37
 วันที่ 21 ความกด = 1017.92
 วันที่ 22 ความกด = 1017.44
 วันที่ 23 ความกด = 1014.58
 วันที่ 24 ความกด = 1013.35
 วันที่ 25 ความกด = 1013.9
 วันที่ 26 ความกด = 1013.39
 วันที่ 27 ความกด = 1011.88
 วันที่ 28 ความกด = 1010.83
 วันที่ 29 ความกด = 1012.02
 วันที่ 30 ความกด = 1013.99
 วันที่ 31 ความกด = 1016.1
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2015-02-01 00:00:00
วันที่ 1 ความกด = 1017.24
วันที่ 2 ความกด = 1017.93
วันที่ 3 ความกด = 1018.05
วันที่ 4 ความกด = 1016.92
วันที่ 5 ความกด = 1016.98
วันที่ 6 ความกด = 1017.54
วันที่ 7 ความกด = 1015.7
วันที่ 8 ความกด = 1016.24
วันที่ 9 ความกด = 1017.46
วันที่ 10 ความกด = 1016.14
วันที่ 11 ความกด = 1013.05
วันที่ 12 ความกด = 1012.71
วันที่ 13 ความกด = 1011.51
วันที่ 14 ความกด = 1010.57
วันที่ 15 ความกด = 1011.36
วันที่ 16 ความกด = 1012.0
วันที่ 17 ความกด = 1011.73
วันที่ 18 ความกด = 1012.07
วันที่ 19 ความกด = 1013.42
วันที่ 20 ความกด = 1012.62
วันที่ 21 ความกด = 1011.59
วันที่ 22 ความกด = 1012.25
วันที่ 23 ความกด = 1012.47
วันที่ 24 ความกด = 1010.2
วันที่ 25 ความกด = 1008.99
วันที่ 26 ความกด = 1008.88
วันที่ 27 ความกด = 1009.33
วันที่ 28 ความกด = 1009.39
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2015-10-01 00:00:00
วันที่ 1 ความกด = 1011.22
วันที่ 2 ความกด = 1010.97
วันที่ 3 ความกด = 1010.41
วันที่ 4 ความกด = 1010.6
วันที่ 5 ความกด = 1010.96
วันที่ 6 ความกด = 1011.22
วันที่ 7 ความกด = 1011.05
วันที่ 8 ความกด = 1010.99
วันที่ 9 ความกด = 1009.42
วันที่ 10 ความกด = 1009.59
วันที่ 11 ความกด = 1013.87
วันที่ 12 ความกด = 1015.51
วันที่ 13 ความกด = 1015.19
วันที่ 14 ความกด = 1014.23
วันที่ 15 ความกด = 1013.27
วันที่ 16 ความกด = 1012.53
วันที่ 17 ความกด = 1011.66
วันที่ 18 ความกด = 1012.12
วันที่ 19 ความกด = 1010.94
วันที่ 20 ความกด = 1009.13
วันที่ 21 ความกด = 1009.3
วันที่ 22 ความกด = 1010.32
วันที่ 23 ความกด = 1011.04
วันที่ 24 ความกด = 1012.27
วันที่ 25 ความกด = 1013.21
วันที่ 26 ความกด = 1013.1
วันที่ 27 ความกด = 1012.37
วันที่ 28 ความกด = 1013.38
วันที่ 29 ความกด = 1013.26
วันที่ 30 ความกด = 1013.24
วันที่ 31 ความกด = 1013.93
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2015-11-01 00:00:00
วันที่ 1 ความกด = 1014.97
วันที่ 2 ความกด = 1015.22
วันที่ 3 ความกด = 1014.31
วันที่ 4 ความกด = 1012.89
วันที่ 5 ความกด = 1010.98
วันที่ 6 ความกด = 1010.44
วันที่ 7 ความกด = 1012.16
วันที่ 8 ความกด = 1012.91
วันที่ 9 ความกด = 1011.79
วันที่ 10 ความกด = 1011.18
วันที่ 11 ความกด = 1011.14
วันที่ 12 ความกด = 1011.98
วันที่ 13 ความกด = 1011.69
วันที่ 14 ความกด = 1010.84
วันที่ 15 ความกด = 1010.88
วันที่ 16 ความกด = 1010.14
วันที่ 17 ความกด = 1010.16
วันที่ 18 ความกด = 1011.28
วันที่ 19 ความกด = 1011.84
วันที่ 20 ความกด = 1011.51
วันที่ 21 ความกด = 1011.66
วันที่ 22 ความกด = 1011.73
วันที่ 23 ความกด = 1011.81
วันที่ 24 ความกด = 1011.37
วันที่ 25 ความกด = 1011.94
วันที่ 26 ความกด = 1013.02
วันที่ 27 ความกด = 1014.29
วันที่ 28 ความกด = 1015.72
วันที่ 29 ความกด = 1015.5
วันที่ 30 ความกด = 1014.26
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = ขอนแก่น
 วันที่ เดือน/ปี ความกด = 2015-12-01 00:00:00
 วันที่ 1 ความกด = 1012.55

####นครพนม

In [818]:
a2 = df122[['จังหวัด','เดือน/ปี','1','2','3','4','5','6','7','8','9','10','11','12','13',
       '14','15','16','17','18','19','20','21','22','23',
       '24','25','26','27','28','29','30','31']]

In [819]:
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[1]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[2]))
for name, values in a2.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[3]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[4]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[5]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[6]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[7]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[8]))
for name, values in a2.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[9]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[10]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[11]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[12]))
for name, values in a2.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[13]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[14]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[15]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[16]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[17]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[18]))
for name, values in a2.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[19]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[20]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[21]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[22]))
for name, values in a2.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[23]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[24]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[25]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[26]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[27]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[28]))
for name, values in a2.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[29]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[30]))
for name, values in a2.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[31]))

วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2011-10-01 00:00:00
วันที่ 1 ความกด = 1006.3
วันที่ 2 ความกด = 1007.38
วันที่ 3 ความกด = 1008.07
วันที่ 4 ความกด = 1008.44
วันที่ 5 ความกด = 1010.51
วันที่ 6 ความกด = 1011.65
วันที่ 7 ความกด = 1011.24
วันที่ 8 ความกด = 1010.68
วันที่ 9 ความกด = 1010.59
วันที่ 10 ความกด = 1010.82
วันที่ 11 ความกด = 1010.14
วันที่ 12 ความกด = 1009.05
วันที่ 13 ความกด = 1008.12
วันที่ 14 ความกด = 1007.97
วันที่ 15 ความกด = 1009.43
วันที่ 16 ความกด = 1011.01
วันที่ 17 ความกด = 1013.41
วันที่ 18 ความกด = 1013.52
วันที่ 19 ความกด = 1011.91
วันที่ 20 ความกด = 1012.01
วันที่ 21 ความกด = 1011.99
วันที่ 22 ความกด = 1011.24
วันที่ 23 ความกด = 1011.09
วันที่ 24 ความกด = 1010.64
วันที่ 25 ความกด = 1012.01
วันที่ 26 ความกด = 1012.47
วันที่ 27 ความกด = 1012.46
วันที่ 28 ความกด = 1012.85
วันที่ 29 ความกด = 1012.43
วันที่ 30 ความกด = 1011.69
วันที่ 31 ความกด = 1012.28
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2011-11-01 00:00:00
วันที่ 1 ความกด = 1012.28
วันที่ 2 ความกด = 1011.23
วันที่ 3 ความกด = 1011.08
วันที่ 4 ความกด = 1010.96
วันที่ 5 ความกด = 1010.57
วันที่ 6 ความกด = 1009.2
วันที่ 7 ความกด = 1007.99
วันที่ 8 ความกด = 1007.38
วันที่ 9 ความกด = 1010.43
วันที่ 10 ความกด = 1012.0
วันที่ 11 ความกด = 1013.16
วันที่ 12 ความกด = 1014.13
วันที่ 13 ความกด = 1014.61
วันที่ 14 ความกด = 1014.53
วันที่ 15 ความกด = 1014.35
วันที่ 16 ความกด = 1012.49
วันที่ 17 ความกด = 1011.0
วันที่ 18 ความกด = 1009.59
วันที่ 19 ความกด = 1011.75
วันที่ 20 ความกด = 1014.82
วันที่ 21 ความกด = 1015.12
วันที่ 22 ความกด = 1014.31
วันที่ 23 ความกด = 1015.49
วันที่ 24 ความกด = 1016.09
วันที่ 25 ความกด = 1014.62
วันที่ 26 ความกด = 1012.8
วันที่ 27 ความกด = 1011.83
วันที่ 28 ความกด = 1010.0
วันที่ 29 ความกด = 1010.6
วันที่ 30 ความกด = 1011.13
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = นครพนม
 วันที่ เดือน/ปี ความกด = 2011-12-01 00:00:00
 วันที่ 1 ความกด = 1012.15
 วันที่ 2 ความกด = 1013.75
 วันที่ 3 ความกด = 1013.24
 วันที่ 4 ความกด = 1013.94
 วันที่ 5 ความกด = 1013.35
 วันที่ 6 ความกด = 1012.62
 วันที่ 7 ความกด = 1012.48
 วันที่ 8 ความกด = 1012.96
 วันที่ 9 ความกด = 1015.78
 วันที่ 10 ความกด = 1017.93
 วันที่ 11 ความกด = 1019.03
 วันที่ 12 ความกด = 1017.84
 วันที่ 13 ความกด = 1016.29
 วันที่ 14 ความกด = 1015.04
 วันที่ 15 ความกด = 1014.56
 วันที่ 16 ความกด = 1016.83
 วันที่ 17 ความกด = 1017.63
 วันที่ 18 ความกด = 1017.93
 วันที่ 19 ความกด = 1016.14
 วันที่ 20 ความกด = 1014.72
 วันที่ 21 ความกด = 1014.31
 วันที่ 22 ความกด = 1014.05
 วันที่ 23 ความกด = 1014.23
 วันที่ 24 ความกด = 1017.58
 วันที่ 25 ความกด = 1019.77
 วันที่ 26 ความกด = 1019.71
 วันที่ 27 ความกด = 1017.34
 วันที่ 28 ความกด = 1017.01
 วันที่ 29 ความกด = 1015.64
 วันที่ 30 ความกด = 1016.89
 วันที่ 31 ความกด = 1017.73
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2012-01-01 00:00:00
วันที่ 1 ความกด = 1016.56
วันที่ 2 ความกด = 1014.88
วันที่ 3 ความกด = 1013.41
วันที่ 4 ความกด = 1015.85
วันที่ 5 ความกด = 1016.94
วันที่ 6 ความกด = 1017.13
วันที่ 7 ความกด = 1019.21
วันที่ 8 ความกด = 1019.57
วันที่ 9 ความกด = 1018.16
วันที่ 10 ความกด = 1017.59
วันที่ 11 ความกด = 1017.59
วันที่ 12 ความกด = 1016.96
วันที่ 13 ความกด = 1014.8
วันที่ 14 ความกด = 1010.62
วันที่ 15 ความกด = 1008.72
วันที่ 16 ความกด = 1008.31
วันที่ 17 ความกด = 1008.23
วันที่ 18 ความกด = 1008.5
วันที่ 19 ความกด = 1009.6
วันที่ 20 ความกด = 1010.28
วันที่ 21 ความกด = 1009.51
วันที่ 22 ความกด = 1010.58
วันที่ 23 ความกด = 1013.13
วันที่ 24 ความกด = 1012.45
วันที่ 25 ความกด = 1013.59
วันที่ 26 ความกด = 1013.15
วันที่ 27 ความกด = 1011.56
วันที่ 28 ความกด = 1010.71
วันที่ 29 ความกด = 1011.95
วันที่ 30 ความกด = 1013.77
วันที่ 31 ความกด = 1015.5
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2012-02-01 00:00:00
วันที่ 1 ความกด = 1013.98
วันที่ 2 ความกด = 1013.75
วันที่ 3 ความกด = 1014.96
วันที่ 4 ความกด = 1013.52
วันที่ 5 ความกด = 1011.85
วันที่ 6 ความกด = 1008.82
วันที่ 7 ความกด = 1008.15
วันที่ 8 ความกด = 1011.78
วันที่ 9 ความกด = 1012.32
วันที่ 10 ความกด = 1012.21
วันที่ 11 ความกด = 1013.82
วันที่ 12 ความกด = 1013.43
วันที่ 13 ความกด = 1012.67
วันที่ 14 ความกด = 1011.18
วันที่ 15 ความกด = 1008.57
วันที่ 16 ความกด = 1009.44
วันที่ 17 ความกด = 1011.58
วันที่ 18 ความกด = 1014.04
วันที่ 19 ความกด = 1015.36
วันที่ 20 ความกด = 1012.66
วันที่ 21 ความกด = 1009.37
วันที่ 22 ความกด = 1007.3
วันที่ 23 ความกด = 1005.76
วันที่ 24 ความกด = 1005.13
วันที่ 25 ความกด = 1004.94
วันที่ 26 ความกด = 1006.42
วันที่ 27 ความกด = 1008.93
วันที่ 28 ความกด = 1007.88
วันที่ 29 ความกด = 1007.29
วันที่ 30 ความกด = 1011.13
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2012-10-01 00:00:00
วันที่ 1 ความกด = 1011.86
วันที่ 2 ความกด = 1011.24
วันที่ 3 ความกด = 1008.82
วันที่ 4 ความกด = 1007.46
วันที่ 5 ความกด = 1008.65
วันที่ 6 ความกด = 1010.53
วันที่ 7 ความกด = 1010.41
วันที่ 8 ความกด = 1010.51
วันที่ 9 ความกด = 1011.04
วันที่ 10 ความกด = 1012.03
วันที่ 11 ความกด = 1011.35
วันที่ 12 ความกด = 1010.65
วันที่ 13 ความกด = 1010.24
วันที่ 14 ความกด = 1010.99
วันที่ 15 ความกด = 1012.28
วันที่ 16 ความกด = 1012.37
วันที่ 17 ความกด = 1012.63
วันที่ 18 ความกด = 1013.27
วันที่ 19 ความกด = 1012.32
วันที่ 20 ความกด = 1012.3
วันที่ 21 ความกด = 1012.34
วันที่ 22 ความกด = 1012.52
วันที่ 23 ความกด = 1011.63
วันที่ 24 ความกด = 1010.67
วันที่ 25 ความกด = 1010.17
วันที่ 26 ความกด = 1009.78
วันที่ 27 ความกด = 1008.53
วันที่ 28 ความกด = 1008.22
วันที่ 29 ความกด = 1008.94
วันที่ 30 ความกด = 1009.54
วันที่ 31 ความกด = 1012.76
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2012-11-01 00:00:00
วันที่ 1 ความกด = 1013.26
วันที่ 2 ความกด = 1011.77
วันที่ 3 ความกด = 1010.84
วันที่ 4 ความกด = 1010.77
วันที่ 5 ความกด = 1011.02
วันที่ 6 ความกด = 1011.49
วันที่ 7 ความกด = 1010.06
วันที่ 8 ความกด = 1008.56
วันที่ 9 ความกด = 1008.85
วันที่ 10 ความกด = 1009.45
วันที่ 11 ความกด = 1010.94
วันที่ 12 ความกด = 1012.95
วันที่ 13 ความกด = 1013.04
วันที่ 14 ความกด = 1011.35
วันที่ 15 ความกด = 1011.42
วันที่ 16 ความกด = 1011.5
วันที่ 17 ความกด = 1012.6
วันที่ 18 ความกด = 1012.37
วันที่ 19 ความกด = 1011.9
วันที่ 20 ความกด = 1011.39
วันที่ 21 ความกด = 1010.23
วันที่ 22 ความกด = 1008.61
วันที่ 23 ความกด = 1008.87
วันที่ 24 ความกด = 1010.93
วันที่ 25 ความกด = 1011.45
วันที่ 26 ความกด = 1011.22
วันที่ 27 ความกด = 1011.43
วันที่ 28 ความกด = 1010.7
วันที่ 29 ความกด = 1010.66
วันที่ 30 ความกด = 1009.89
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2012-12-01 00:00:00
วันที่ 1 ความกด = 1010.12
วันที่ 2 ความกด = 1010.89
วันที่ 3 ความกด = 1011.93
วันที่ 4 ความกด = 1011.3
วันที่ 5 ความกด = 1012.01
วันที่ 6 ความกด = 1013.16
วันที่ 7 ความกด = 1012.68
วันที่ 8 ความกด = 1012.26
วันที่ 9 ความกด = 1011.45
วันที่ 10 ความกด = 1010.98
วันที่ 11 ความกด = 1011.77
วันที่ 12 ความกด = 1013.38
วันที่ 13 ความกด = 1013.1
วันที่ 14 ความกด = 1013.97
วันที่ 15 ความกด = 1012.42
วันที่ 16 ความกด = 1011.98
วันที่ 17 ความกด = 1011.07
วันที่ 18 ความกด = 1012.61
วันที่ 19 ความกด = 1012.84
วันที่ 20 ความกด = 1011.46
วันที่ 21 ความกด = 1011.34
วันที่ 22 ความกด = 1012.21
วันที่ 23 ความกด = 1016.81
วันที่ 24 ความกด = 1017.31
วันที่ 25 ความกด = 1014.43
วันที่ 26 ความกด = 1012.45
วันที่ 27 ความกด = 1011.32
วันที่ 28 ความกด = 1010.47
วันที่ 29 ความกด = 1010.69
วันที่ 30 ความกด = 1014.48
วันที่ 31 ความกด = 1016.22
 วันที่ จังหวัด ความกด = นครพนม
 วันที่ เดือน/ปี ความกด = 2013-01-01 00:00:00
 วันที่ 1 ความกด = 1015.52
 วันที่ 2 ความกด = 1014.01
 วันที่ 3 ความกด = 1015.36
 วันที่ 4 ความกด = 1014.22
 วันที่ 5 ความกด = 1012.47
 วันที่ 6 ความกด = 1013.17
 วันที่ 7 ความกด = 1013.46
 วันที่ 8 ความกด = 1012.46
 วันที่ 9 ความกด = 1013.01
 วันที่ 10 ความกด = 1013.96
 วันที่ 11 ความกด = 1014.55
 วันที่ 12 ความกด = 1014.88
 วันที่ 13 ความกด = 1013.53
 วันที่ 14 ความกด = 1013.35
 วันที่ 15 ความกด = 1014.24
 วันที่ 16 ความกด = 1015.74
 วันที่ 17 ความกด = 1018.08
 วันที่ 18 ความกด = 1019.94
 วันที่ 19 ความกด = 1017.14
 วันที่ 20 ความกด = 1015.58
 วันที่ 21 ความกด = 1015.07
 วันที่ 22 ความกด = 1014.8
 วันที่ 23 ความกด = 1014.11
 วันที่ 24 ความกด = 1013.65
 วันที่ 25 ความกด = 1013.57
 วันที่ 26 ความกด = 1013.25
 วันที่ 27 ความกด = 1015.31
 วันที่ 28 ความกด = 1016.7
 วันที่ 29 ความกด = 1015.92
 วันที่ 30 ความกด = 1015.57
 วันที่ 31 ความกด = 1016.14
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2013-02-01 00:00:00
วันที่ 1 ความกด = 1015.63
วันที่ 2 ความกด = 1014.87
วันที่ 3 ความกด = 1014.45
วันที่ 4 ความกด = 1014.43
วันที่ 5 ความกด = 1013.88
วันที่ 6 ความกด = 1011.52
วันที่ 7 ความกด = 1008.45
วันที่ 8 ความกด = 1009.37
วันที่ 9 ความกด = 1013.47
วันที่ 10 ความกด = 1013.81
วันที่ 11 ความกด = 1012.52
วันที่ 12 ความกด = 1013.11
วันที่ 13 ความกด = 1013.38
วันที่ 14 ความกด = 1011.83
วันที่ 15 ความกด = 1010.97
วันที่ 16 ความกด = 1011.78
วันที่ 17 ความกด = 1009.91
วันที่ 18 ความกด = 1008.32
วันที่ 19 ความกด = 1007.95
วันที่ 20 ความกด = 1010.89
วันที่ 21 ความกด = 1013.03
วันที่ 22 ความกด = 1015.86
วันที่ 23 ความกด = 1017.17
วันที่ 24 ความกด = 1014.55
วันที่ 25 ความกด = 1012.39
วันที่ 26 ความกด = 1011.08
วันที่ 27 ความกด = 1008.62
วันที่ 28 ความกด = 1007.56
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2013-10-01 00:00:00
วันที่ 1 ความกด = 1008.16
วันที่ 2 ความกด = 1010.72
วันที่ 3 ความกด = 1010.26
วันที่ 4 ความกด = 1009.77
วันที่ 5 ความกด = 1009.01
วันที่ 6 ความกด = 1009.4
วันที่ 7 ความกด = 1009.84
วันที่ 8 ความกด = 1010.41
วันที่ 9 ความกด = 1010.72
วันที่ 10 ความกด = 1011.73
วันที่ 11 ความกด = 1011.04
วันที่ 12 ความกด = 1009.65
วันที่ 13 ความกด = 1008.96
วันที่ 14 ความกด = 1007.29
วันที่ 15 ความกด = 1004.55
วันที่ 16 ความกด = 1007.15
วันที่ 17 ความกด = 1011.61
วันที่ 18 ความกด = 1012.88
วันที่ 19 ความกด = 1013.96
วันที่ 20 ความกด = 1013.49
วันที่ 21 ความกด = 1012.53
วันที่ 22 ความกด = 1013.77
วันที่ 23 ความกด = 1013.4
วันที่ 24 ความกด = 1012.99
วันที่ 25 ความกด = 1014.43
วันที่ 26 ความกด = 1015.31
วันที่ 27 ความกด = 1014.35
วันที่ 28 ความกด = 1014.11
วันที่ 29 ความกด = 1014.22
วันที่ 30 ความกด = 1013.2
วันที่ 31 ความกด = 1012.87
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2013-11-01 00:00:00
วันที่ 1 ความกด = 1012.63
วันที่ 2 ความกด = 1012.18
วันที่ 3 ความกด = 1013.27
วันที่ 4 ความกด = 1014.89
วันที่ 5 ความกด = 1014.0
วันที่ 6 ความกด = 1013.33
วันที่ 7 ความกด = 1012.44
วันที่ 8 ความกด = 1011.36
วันที่ 9 ความกด = 1010.66
วันที่ 10 ความกด = 1006.8
วันที่ 11 ความกด = 1007.34
วันที่ 12 ความกด = 1008.6
วันที่ 13 ความกด = 1009.66
วันที่ 14 ความกด = 1011.98
วันที่ 15 ความกด = 1013.28
วันที่ 16 ความกด = 1013.99
วันที่ 17 ความกด = 1014.67
วันที่ 18 ความกด = 1015.23
วันที่ 19 ความกด = 1015.05
วันที่ 20 ความกด = 1013.89
วันที่ 21 ความกด = 1012.61
วันที่ 22 ความกด = 1012.44
วันที่ 23 ความกด = 1011.8
วันที่ 24 ความกด = 1011.27
วันที่ 25 ความกด = 1010.9
วันที่ 26 ความกด = 1010.92
วันที่ 27 ความกด = 1012.67
วันที่ 28 ความกด = 1016.62
วันที่ 29 ความกด = 1018.07
วันที่ 30 ความกด = 1016.54
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = นครพนม
 วันที่ เดือน/ปี ความกด = 2013-12-01 00:00:00
 วันที่ 1 ความกด = 1018.12
 วันที่ 2 ความกด = 1017.26
 วันที่ 3 ความกด = 1015.4
 วันที่ 4 ความกด = 1014.51
 วันที่ 5 ความกด = 1013.32
 วันที่ 6 ความกด = 1013.94
 วันที่ 7 ความกด = 1014.5
 วันที่ 8 ความกด = 1012.96
 วันที่ 9 ความกด = 1012.34
 วันที่ 10 ความกด = 1011.44
 วันที่ 11 ความกด = 1011.88
 วันที่ 12 ความกด = 1011.39
 วันที่ 13 ความกด = 1012.14
 วันที่ 14 ความกด = 1012.29
 วันที่ 15 ความกด = 1011.57
 วันที่ 16 ความกด = 1013.49
 วันที่ 17 ความกด = 1015.1
 วันที่ 18 ความกด = 1015.86
 วันที่ 19 ความกด = 1017.49
 วันที่ 20 ความกด = 1018.63
 วันที่ 21 ความกด = 1019.72
 วันที่ 22 ความกด = 1019.35
 วันที่ 23 ความกด = 1017.91
 วันที่ 24 ความกด = 1019.18
 วันที่ 25 ความกด = 1018.52
 วันที่ 26 ความกด = 1017.89
 วันที่ 27 ความกด = 1019.19
 วันที่ 28 ความกด = 1018.16
 วันที่ 29 ความกด = 1018.22
 วันที่ 30 ความกด = 1018.75
 วันที่ 31 ความกด = 1018.59
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2014-01-01 00:00:00
วันที่ 1 ความกด = 1016.5
วันที่ 2 ความกด = 1014.1
วันที่ 3 ความกด = 1013.14
วันที่ 4 ความกด = 1014.74
วันที่ 5 ความกด = 1013.33
วันที่ 6 ความกด = 1012.24
วันที่ 7 ความกด = 1011.79
วันที่ 8 ความกด = 1012.67
วันที่ 9 ความกด = 1015.03
วันที่ 10 ความกด = 1017.11
วันที่ 11 ความกด = 1017.18
วันที่ 12 ความกด = 1017.61
วันที่ 13 ความกด = 1018.11
วันที่ 14 ความกด = 1019.68
วันที่ 15 ความกด = 1019.94
วันที่ 16 ความกด = 1019.23
วันที่ 17 ความกด = 1019.72
วันที่ 18 ความกด = 1022.4
วันที่ 19 ความกด = 1022.13
วันที่ 20 ความกด = 1020.45
วันที่ 21 ความกด = 1021.94
วันที่ 22 ความกด = 1022.04
วันที่ 23 ความกด = 1018.79
วันที่ 24 ความกด = 1014.6
วันที่ 25 ความกด = 1013.25
วันที่ 26 ความกด = 1015.46
วันที่ 27 ความกด = 1016.0
วันที่ 28 ความกด = 1014.92
วันที่ 29 ความกด = 1015.72
วันที่ 30 ความกด = 1016.21
วันที่ 31 ความกด = 1015.12
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2014-02-01 00:00:00
วันที่ 1 ความกด = 1012.3
วันที่ 2 ความกด = 1009.01
วันที่ 3 ความกด = 1006.93
วันที่ 4 ความกด = 1006.93
วันที่ 5 ความกด = 1007.65
วันที่ 6 ความกด = 1006.98
วันที่ 7 ความกด = 1006.61
วันที่ 8 ความกด = 1006.07
วันที่ 9 ความกด = 1006.28
วันที่ 10 ความกด = 1009.49
วันที่ 11 ความกด = 1011.92
วันที่ 12 ความกด = 1011.22
วันที่ 13 ความกด = 1014.14
วันที่ 14 ความกด = 1015.82
วันที่ 15 ความกด = 1013.75
วันที่ 16 ความกด = 1012.53
วันที่ 17 ความกด = 1012.3
วันที่ 18 ความกด = 1010.95
วันที่ 19 ความกด = 1015.8
วันที่ 20 ความกด = 1018.65
วันที่ 21 ความกด = 1017.14
วันที่ 22 ความกด = 1014.57
วันที่ 23 ความกด = 1014.25
วันที่ 24 ความกด = 1013.54
วันที่ 25 ความกด = 1012.41
วันที่ 26 ความกด = 1012.06
วันที่ 27 ความกด = 1012.77
วันที่ 28 ความกด = 1011.22
วันที่ 29 ความกด = 1017.86
วันที่ 30 ความกด = 1016.45
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2014-10-01 00:00:00
วันที่ 1 ความกด = 1010.38
วันที่ 2 ความกด = 1009.77
วันที่ 3 ความกด = 1008.49
วันที่ 4 ความกด = 1008.5
วันที่ 5 ความกด = 1009.68
วันที่ 6 ความกด = 1012.54
วันที่ 7 ความกด = 1011.63
วันที่ 8 ความกด = 1011.17
วันที่ 9 ความกด = 1010.74
วันที่ 10 ความกด = 1009.55
วันที่ 11 ความกด = 1010.46
วันที่ 12 ความกด = 1012.41
วันที่ 13 ความกด = 1014.25
วันที่ 14 ความกด = 1014.58
วันที่ 15 ความกด = 1013.95
วันที่ 16 ความกด = 1013.26
วันที่ 17 ความกด = 1012.9
วันที่ 18 ความกด = 1011.6
วันที่ 19 ความกด = 1011.62
วันที่ 20 ความกด = 1011.82
วันที่ 21 ความกด = 1012.74
วันที่ 22 ความกด = 1012.76
วันที่ 23 ความกด = 1012.08
วันที่ 24 ความกด = 1011.22
วันที่ 25 ความกด = 1011.65
วันที่ 26 ความกด = 1012.91
วันที่ 27 ความกด = 1011.53
วันที่ 28 ความกด = 1011.04
วันที่ 29 ความกด = 1010.86
วันที่ 30 ความกด = 1010.44
วันที่ 31 ความกด = 1009.99
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2014-11-01 00:00:00
วันที่ 1 ความกด = 1009.73
วันที่ 2 ความกด = 1011.22
วันที่ 3 ความกด = 1013.22
วันที่ 4 ความกด = 1013.44
วันที่ 5 ความกด = 1012.91
วันที่ 6 ความกด = 1011.66
วันที่ 7 ความกด = 1011.32
วันที่ 8 ความกด = 1012.61
วันที่ 9 ความกด = 1013.36
วันที่ 10 ความกด = 1012.04
วันที่ 11 ความกด = 1011.63
วันที่ 12 ความกด = 1012.75
วันที่ 13 ความกด = 1014.79
วันที่ 14 ความกด = 1015.09
วันที่ 15 ความกด = 1014.08
วันที่ 16 ความกด = 1013.82
วันที่ 17 ความกด = 1015.08
วันที่ 18 ความกด = 1016.74
วันที่ 19 ความกด = 1016.51
วันที่ 20 ความกด = 1014.42
วันที่ 21 ความกด = 1012.6
วันที่ 22 ความกด = 1012.29
วันที่ 23 ความกด = 1012.14
วันที่ 24 ความกด = 1011.46
วันที่ 25 ความกด = 1010.24
วันที่ 26 ความกด = 1008.8
วันที่ 27 ความกด = 1009.89
วันที่ 28 ความกด = 1010.04
วันที่ 29 ความกด = 1009.34
วันที่ 30 ความกด = 1008.32
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2014-12-01 00:00:00
วันที่ 1 ความกด = 1009.57
วันที่ 2 ความกด = 1011.67
วันที่ 3 ความกด = 1011.2
วันที่ 4 ความกด = 1013.94
วันที่ 5 ความกด = 1015.67
วันที่ 6 ความกด = 1013.88
วันที่ 7 ความกด = 1012.96
วันที่ 8 ความกด = 1015.26
วันที่ 9 ความกด = 1016.09
วันที่ 10 ความกด = 1015.21
วันที่ 11 ความกด = 1015.05
วันที่ 12 ความกด = 1017.69
วันที่ 13 ความกด = 1019.3
วันที่ 14 ความกด = 1018.04
วันที่ 15 ความกด = 1015.67
วันที่ 16 ความกด = 1017.95
วันที่ 17 ความกด = 1020.35
วันที่ 18 ความกด = 1020.07
วันที่ 19 ความกด = 1018.92
วันที่ 20 ความกด = 1016.32
วันที่ 21 ความกด = 1016.87
วันที่ 22 ความกด = 1018.05
วันที่ 23 ความกด = 1016.39
วันที่ 24 ความกด = 1016.21
วันที่ 25 ความกด = 1014.59
วันที่ 26 ความกด = 1012.69
วันที่ 27 ความกด = 1013.78
วันที่ 28 ความกด = 1017.16
วันที่ 29 ความกด = 1017.12
วันที่ 30 ความกด = 1015.19
วันที่ 31 ความกด = 1016.99
 วันที่ จังหวัด ความกด = นครพนม
 วันที่ เดือน/ปี ความกด = 2015-01-01 00:00:00
 วันที่ 1 ความกด = 1019.36
 วันที่ 2 ความกด = 1019.0
 วันที่ 3 ความกด = 1016.83
 วันที่ 4 ความกด = 1012.56
 วันที่ 5 ความกด = 1010.37
 วันที่ 6 ความกด = 1010.22
 วันที่ 7 ความกด = 1012.57
 วันที่ 8 ความกด = 1016.71
 วันที่ 9 ความกด = 1016.62
 วันที่ 10 ความกด = 1016.37
 วันที่ 11 ความกด = 1017.09
 วันที่ 12 ความกด = 1018.14
 วันที่ 13 ความกด = 1018.73
 วันที่ 14 ความกด = 1019.17
 วันที่ 15 ความกด = 1018.42
 วันที่ 16 ความกด = 1018.33
 วันที่ 17 ความกด = 1018.61
 วันที่ 18 ความกด = 1018.53
 วันที่ 19 ความกด = 1018.46
 วันที่ 20 ความกด = 1017.72
 วันที่ 21 ความกด = 1018.41
 วันที่ 22 ความกด = 1018.14
 วันที่ 23 ความกด = 1014.45
 วันที่ 24 ความกด = 1013.65
 วันที่ 25 ความกด = 1013.98
 วันที่ 26 ความกด = 1013.6
 วันที่ 27 ความกด = 1012.06
 วันที่ 28 ความกด = 1011.29
 วันที่ 29 ความกด = 1012.31
 วันที่ 30 ความกด = 1014.92
 วันที่ 31 ความกด = 1017.14
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2015-02-01 00:00:00
วันที่ 1 ความกด = 1018.1
วันที่ 2 ความกด = 1018.53
วันที่ 3 ความกด = 1018.91
วันที่ 4 ความกด = 1017.89
วันที่ 5 ความกด = 1017.88
วันที่ 6 ความกด = 1018.78
วันที่ 7 ความกด = 1016.18
วันที่ 8 ความกด = 1017.64
วันที่ 9 ความกด = 1018.28
วันที่ 10 ความกด = 1016.14
วันที่ 11 ความกด = 1013.2
วันที่ 12 ความกด = 1013.84
วันที่ 13 ความกด = 1011.94
วันที่ 14 ความกด = 1010.77
วันที่ 15 ความกด = 1011.48
วันที่ 16 ความกด = 1012.65
วันที่ 17 ความกด = 1012.15
วันที่ 18 ความกด = 1012.74
วันที่ 19 ความกด = 1013.57
วันที่ 20 ความกด = 1012.43
วันที่ 21 ความกด = 1011.65
วันที่ 22 ความกด = 1012.23
วันที่ 23 ความกด = 1011.91
วันที่ 24 ความกด = 1009.98
วันที่ 25 ความกด = 1008.45
วันที่ 26 ความกด = 1008.39
วันที่ 27 ความกด = 1009.22
วันที่ 28 ความกด = 1009.21
วันที่ 29 ความกด = 1009.34
วันที่ 30 ความกด = 1008.32
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2015-10-01 00:00:00
วันที่ 1 ความกด = 1011.43
วันที่ 2 ความกด = 1010.59
วันที่ 3 ความกด = 1010.31
วันที่ 4 ความกด = 1010.19
วันที่ 5 ความกด = 1011.24
วันที่ 6 ความกด = 1011.39
วันที่ 7 ความกด = 1011.14
วันที่ 8 ความกด = 1010.77
วันที่ 9 ความกด = 1009.61
วันที่ 10 ความกด = 1010.36
วันที่ 11 ความกด = 1014.54
วันที่ 12 ความกด = 1015.27
วันที่ 13 ความกด = 1015.77
วันที่ 14 ความกด = 1014.51
วันที่ 15 ความกด = 1013.46
วันที่ 16 ความกด = 1012.54
วันที่ 17 ความกด = 1012.08
วันที่ 18 ความกด = 1012.17
วันที่ 19 ความกด = 1010.88
วันที่ 20 ความกด = 1009.4
วันที่ 21 ความกด = 1009.74
วันที่ 22 ความกด = 1010.44
วันที่ 23 ความกด = 1011.27
วันที่ 24 ความกด = 1012.5
วันที่ 25 ความกด = 1013.24
วันที่ 26 ความกด = 1013.03
วันที่ 27 ความกด = 1012.54
วันที่ 28 ความกด = 1013.3
วันที่ 29 ความกด = 1012.71
วันที่ 30 ความกด = 1013.52
วันที่ 31 ความกด = 1014.66
วันที่ จังหวัด ความกด = นครพนม
วันที่ เดือน/ปี ความกด = 2015-11-01 00:00:00
วันที่ 1 ความกด = 1015.78
วันที่ 2 ความกด = 1015.71
วันที่ 3 ความกด = 1014.71
วันที่ 4 ความกด = 1013.08
วันที่ 5 ความกด = 1011.65
วันที่ 6 ความกด = 1010.84
วันที่ 7 ความกด = 1012.62
วันที่ 8 ความกด = 1012.97
วันที่ 9 ความกด = 1012.1
วันที่ 10 ความกด = 1011.53
วันที่ 11 ความกด = 1011.4
วันที่ 12 ความกด = 1011.8
วันที่ 13 ความกด = 1011.7
วันที่ 14 ความกด = 1010.81
วันที่ 15 ความกด = 1010.48
วันที่ 16 ความกด = 1009.64
วันที่ 17 ความกด = 1010.54
วันที่ 18 ความกด = 1011.73
วันที่ 19 ความกด = 1012.33
วันที่ 20 ความกด = 1011.69
วันที่ 21 ความกด = 1011.99
วันที่ 22 ความกด = 1012.16
วันที่ 23 ความกด = 1012.39
วันที่ 24 ความกด = 1011.73
วันที่ 25 ความกด = 1012.61
วันที่ 26 ความกด = 1014.03
วันที่ 27 ความกด = 1014.99
วันที่ 28 ความกด = 1016.32
วันที่ 29 ความกด = 1016.34
วันที่ 30 ความกด = 1014.71
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = นครพนม
 วันที่ เดือน/ปี ความกด = 2015-12-01 00:00:00

####สกลนคร

In [820]:
a3 = df133[['จังหวัด','เดือน/ปี','1','2','3','4','5','6','7','8','9','10','11','12','13',
       '14','15','16','17','18','19','20','21','22','23',
       '24','25','26','27','28','29','30','31']]

In [821]:
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[1]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[2]))
for name, values in a3.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[3]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[4]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[5]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[6]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[7]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[8]))
for name, values in a3.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[9]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[10]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[11]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[12]))
for name, values in a3.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[13]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[14]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[15]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[16]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[17]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[18]))
for name, values in a3.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[19]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[20]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[21]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[22]))
for name, values in a3.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[23]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[24]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[25]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[26]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[27]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[28]))
for name, values in a3.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[29]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[30]))
for name, values in a3.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[31]))

วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2011-10-01 00:00:00
วันที่ 1 ความกด = 1005.84
วันที่ 2 ความกด = 1007.16
วันที่ 3 ความกด = 1007.87
วันที่ 4 ความกด = 1008.56
วันที่ 5 ความกด = 1010.55
วันที่ 6 ความกด = 1011.83
วันที่ 7 ความกด = 1011.24
วันที่ 8 ความกด = 1010.74
วันที่ 9 ความกด = 1010.59
วันที่ 10 ความกด = 1010.96
วันที่ 11 ความกด = 1010.21
วันที่ 12 ความกด = 1008.98
วันที่ 13 ความกด = 1008.29
วันที่ 14 ความกด = 1008.11
วันที่ 15 ความกด = 1009.34
วันที่ 16 ความกด = 1010.86
วันที่ 17 ความกด = 1013.33
วันที่ 18 ความกด = 1013.73
วันที่ 19 ความกด = 1011.92
วันที่ 20 ความกด = 1012.08
วันที่ 21 ความกด = 1011.98
วันที่ 22 ความกด = 1011.36
วันที่ 23 ความกด = 1011.24
วันที่ 24 ความกด = 1010.8
วันที่ 25 ความกด = 1012.02
วันที่ 26 ความกด = 1012.36
วันที่ 27 ความกด = 1012.42
วันที่ 28 ความกด = 1012.97
วันที่ 29 ความกด = 1012.52
วันที่ 30 ความกด = 1011.87
วันที่ 31 ความกด = 1012.21
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2011-11-01 00:00:00
วันที่ 1 ความกด = 1012.41
วันที่ 2 ความกด = 1011.47
วันที่ 3 ความกด = 1011.22
วันที่ 4 ความกด = 1011.16
วันที่ 5 ความกด = 1010.51
วันที่ 6 ความกด = 1009.26
วันที่ 7 ความกด = 1008.2
วันที่ 8 ความกด = 1007.41
วันที่ 9 ความกด = 1010.15
วันที่ 10 ความกด = 1012.08
วันที่ 11 ความกด = 1013.29
วันที่ 12 ความกด = 1014.36
วันที่ 13 ความกด = 1014.76
วันที่ 14 ความกด = 1014.68
วันที่ 15 ความกด = 1014.52
วันที่ 16 ความกด = 1012.64
วันที่ 17 ความกด = 1011.21
วันที่ 18 ความกด = 1009.46
วันที่ 19 ความกด = 1011.73
วันที่ 20 ความกด = 1014.78
วันที่ 21 ความกด = 1015.16
วันที่ 22 ความกด = 1014.41
วันที่ 23 ความกด = 1015.21
วันที่ 24 ความกด = 1016.11
วันที่ 25 ความกด = 1014.65
วันที่ 26 ความกด = 1012.96
วันที่ 27 ความกด = 1011.91
วันที่ 28 ความกด = 1010.1
วันที่ 29 ความกด = 1010.78
วันที่ 30 ความกด = 1011.06
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = สกลนคร
 วันที่ เดือน/ปี ความกด = 2011-12-01 00:00:00
 วันที่ 1 ความกด = 1012.16
 วันที่ 2 ความกด = 1013.74
 วันที่ 3 ความกด = 1013.44
 วันที่ 4 ความกด = 1014.0
 วันที่ 5 ความกด = 1013.28
 วันที่ 6 ความกด = 1012.69
 วันที่ 7 ความกด = 1012.57
 วันที่ 8 ความกด = 1012.82
 วันที่ 9 ความกด = 1015.61
 วันที่ 10 ความกด = 1017.73
 วันที่ 11 ความกด = 1019.06
 วันที่ 12 ความกด = 1018.0
 วันที่ 13 ความกด = 1016.32
 วันที่ 14 ความกด = 1015.23
 วันที่ 15 ความกด = 1014.51
 วันที่ 16 ความกด = 1016.75
 วันที่ 17 ความกด = 1017.57
 วันที่ 18 ความกด = 1017.89
 วันที่ 19 ความกด = 1016.2
 วันที่ 20 ความกด = 1014.91
 วันที่ 21 ความกด = 1014.39
 วันที่ 22 ความกด = 1014.07
 วันที่ 23 ความกด = 1014.22
 วันที่ 24 ความกด = 1017.34
 วันที่ 25 ความกด = 1019.63
 วันที่ 26 ความกด = 1019.96
 วันที่ 27 ความกด = 1017.56
 วันที่ 28 ความกด = 1017.02
 วันที่ 29 ความกด = 1015.8
 วันที่ 30 ความกด = 1016.96
 วันที่ 31 ความกด = 1017.63
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2012-01-01 00:00:00
วันที่ 1 ความกด = 1016.61
วันที่ 2 ความกด = 1014.92
วันที่ 3 ความกด = 1013.86
วันที่ 4 ความกด = 1015.71
วันที่ 5 ความกด = 1016.87
วันที่ 6 ความกด = 1017.17
วันที่ 7 ความกด = 1018.83
วันที่ 8 ความกด = 1019.52
วันที่ 9 ความกด = 1018.28
วันที่ 10 ความกด = 1017.48
วันที่ 11 ความกด = 1017.56
วันที่ 12 ความกด = 1017.0
วันที่ 13 ความกด = 1015.03
วันที่ 14 ความกด = 1010.45
วันที่ 15 ความกด = 1008.73
วันที่ 16 ความกด = 1008.43
วันที่ 17 ความกด = 1008.3
วันที่ 18 ความกด = 1008.38
วันที่ 19 ความกด = 1009.5
วันที่ 20 ความกด = 1010.46
วันที่ 21 ความกด = 1009.49
วันที่ 22 ความกด = 1010.11
วันที่ 23 ความกด = 1012.8
วันที่ 24 ความกด = 1012.37
วันที่ 25 ความกด = 1013.47
วันที่ 26 ความกด = 1013.39
วันที่ 27 ความกด = 1011.36
วันที่ 28 ความกด = 1010.64
วันที่ 29 ความกด = 1011.95
วันที่ 30 ความกด = 1013.86
วันที่ 31 ความกด = 1015.52
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2012-02-01 00:00:00
วันที่ 1 ความกด = 1014.05
วันที่ 2 ความกด = 1013.71
วันที่ 3 ความกด = 1014.95
วันที่ 4 ความกด = 1013.68
วันที่ 5 ความกด = 1011.72
วันที่ 6 ความกด = 1008.93
วันที่ 7 ความกด = 1008.08
วันที่ 8 ความกด = 1011.6
วันที่ 9 ความกด = 1012.3
วันที่ 10 ความกด = 1011.97
วันที่ 11 ความกด = 1013.69
วันที่ 12 ความกด = 1013.7
วันที่ 13 ความกด = 1012.93
วันที่ 14 ความกด = 1011.31
วันที่ 15 ความกด = 1008.41
วันที่ 16 ความกด = 1009.2
วันที่ 17 ความกด = 1011.53
วันที่ 18 ความกด = 1013.92
วันที่ 19 ความกด = 1015.33
วันที่ 20 ความกด = 1012.94
วันที่ 21 ความกด = 1009.48
วันที่ 22 ความกด = 1007.13
วันที่ 23 ความกด = 1005.73
วันที่ 24 ความกด = 1005.04
วันที่ 25 ความกด = 1004.96
วันที่ 26 ความกด = 1005.94
วันที่ 27 ความกด = 1008.7
วันที่ 28 ความกด = 1007.38
วันที่ 29 ความกด = 1007.25
วันที่ 30 ความกด = 1011.06
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2012-10-01 00:00:00
วันที่ 1 ความกด = 1011.87
วันที่ 2 ความกด = 1011.39
วันที่ 3 ความกด = 1008.88
วันที่ 4 ความกด = 1007.37
วันที่ 5 ความกด = 1008.45
วันที่ 6 ความกด = 1010.7
วันที่ 7 ความกด = 1010.49
วันที่ 8 ความกด = 1010.52
วันที่ 9 ความกด = 1011.03
วันที่ 10 ความกด = 1012.07
วันที่ 11 ความกด = 1011.58
วันที่ 12 ความกด = 1010.85
วันที่ 13 ความกด = 1010.22
วันที่ 14 ความกด = 1010.98
วันที่ 15 ความกด = 1012.41
วันที่ 16 ความกด = 1012.47
วันที่ 17 ความกด = 1012.7
วันที่ 18 ความกด = 1013.36
วันที่ 19 ความกด = 1012.45
วันที่ 20 ความกด = 1012.41
วันที่ 21 ความกด = 1012.44
วันที่ 22 ความกด = 1012.53
วันที่ 23 ความกด = 1011.86
วันที่ 24 ความกด = 1010.66
วันที่ 25 ความกด = 1010.31
วันที่ 26 ความกด = 1009.83
วันที่ 27 ความกด = 1008.81
วันที่ 28 ความกด = 1008.29
วันที่ 29 ความกด = 1008.93
วันที่ 30 ความกด = 1009.38
วันที่ 31 ความกด = 1012.62
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2012-11-01 00:00:00
วันที่ 1 ความกด = 1013.3
วันที่ 2 ความกด = 1011.97
วันที่ 3 ความกด = 1010.91
วันที่ 4 ความกด = 1010.93
วันที่ 5 ความกด = 1011.18
วันที่ 6 ความกด = 1011.66
วันที่ 7 ความกด = 1010.08
วันที่ 8 ความกด = 1008.69
วันที่ 9 ความกด = 1008.79
วันที่ 10 ความกด = 1009.48
วันที่ 11 ความกด = 1010.91
วันที่ 12 ความกด = 1013.16
วันที่ 13 ความกด = 1013.25
วันที่ 14 ความกด = 1011.41
วันที่ 15 ความกด = 1011.58
วันที่ 16 ความกด = 1011.61
วันที่ 17 ความกด = 1012.46
วันที่ 18 ความกด = 1012.45
วันที่ 19 ความกด = 1011.88
วันที่ 20 ความกด = 1011.37
วันที่ 21 ความกด = 1010.23
วันที่ 22 ความกด = 1008.42
วันที่ 23 ความกด = 1008.84
วันที่ 24 ความกด = 1011.12
วันที่ 25 ความกด = 1011.66
วันที่ 26 ความกด = 1011.47
วันที่ 27 ความกด = 1011.38
วันที่ 28 ความกด = 1010.89
วันที่ 29 ความกด = 1010.67
วันที่ 30 ความกด = 1009.88
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2012-12-01 00:00:00
วันที่ 1 ความกด = 1010.19
วันที่ 2 ความกด = 1010.8
วันที่ 3 ความกด = 1011.88
วันที่ 4 ความกด = 1011.57
วันที่ 5 ความกด = 1011.81
วันที่ 6 ความกด = 1013.4
วันที่ 7 ความกด = 1012.71
วันที่ 8 ความกด = 1012.38
วันที่ 9 ความกด = 1011.63
วันที่ 10 ความกด = 1011.01
วันที่ 11 ความกด = 1011.73
วันที่ 12 ความกด = 1013.75
วันที่ 13 ความกด = 1013.48
วันที่ 14 ความกด = 1014.13
วันที่ 15 ความกด = 1012.62
วันที่ 16 ความกด = 1012.22
วันที่ 17 ความกด = 1011.13
วันที่ 18 ความกด = 1012.69
วันที่ 19 ความกด = 1012.84
วันที่ 20 ความกด = 1011.49
วันที่ 21 ความกด = 1011.41
วันที่ 22 ความกด = 1012.18
วันที่ 23 ความกด = 1016.55
วันที่ 24 ความกด = 1017.46
วันที่ 25 ความกด = 1014.48
วันที่ 26 ความกด = 1012.58
วันที่ 27 ความกด = 1011.33
วันที่ 28 ความกด = 1010.65
วันที่ 29 ความกด = 1010.82
วันที่ 30 ความกด = 1014.19
วันที่ 31 ความกด = 1016.29
 วันที่ จังหวัด ความกด = สกลนคร
 วันที่ เดือน/ปี ความกด = 2013-01-01 00:00:00
 วันที่ 1 ความกด = 1015.64
 วันที่ 2 ความกด = 1014.29
 วันที่ 3 ความกด = 1015.26
 วันที่ 4 ความกด = 1014.42
 วันที่ 5 ความกด = 1012.56
 วันที่ 6 ความกด = 1013.52
 วันที่ 7 ความกด = 1013.53
 วันที่ 8 ความกด = 1012.59
 วันที่ 9 ความกด = 1012.89
 วันที่ 10 ความกด = 1014.08
 วันที่ 11 ความกด = 1014.55
 วันที่ 12 ความกด = 1015.12
 วันที่ 13 ความกด = 1013.64
 วันที่ 14 ความกด = 1013.47
 วันที่ 15 ความกด = 1014.56
 วันที่ 16 ความกด = 1015.83
 วันที่ 17 ความกด = 1017.89
 วันที่ 18 ความกด = 1019.81
 วันที่ 19 ความกด = 1017.44
 วันที่ 20 ความกด = 1015.9
 วันที่ 21 ความกด = 1015.37
 วันที่ 22 ความกด = 1014.94
 วันที่ 23 ความกด = 1014.27
 วันที่ 24 ความกด = 1013.68
 วันที่ 25 ความกด = 1013.54
 วันที่ 26 ความกด = 1013.54
 วันที่ 27 ความกด = 1015.37
 วันที่ 28 ความกด = 1017.02
 วันที่ 29 ความกด = 1015.94
 วันที่ 30 ความกด = 1015.75
 วันที่ 31 ความกด = 1016.68
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2013-02-01 00:00:00
วันที่ 1 ความกด = 1015.79
วันที่ 2 ความกด = 1015.14
วันที่ 3 ความกด = 1014.6
วันที่ 4 ความกด = 1014.74
วันที่ 5 ความกด = 1014.09
วันที่ 6 ความกด = 1011.73
วันที่ 7 ความกด = 1008.51
วันที่ 8 ความกด = 1009.27
วันที่ 9 ความกด = 1013.35
วันที่ 10 ความกด = 1013.66
วันที่ 11 ความกด = 1012.59
วันที่ 12 ความกด = 1013.2
วันที่ 13 ความกด = 1013.73
วันที่ 14 ความกด = 1012.05
วันที่ 15 ความกด = 1011.03
วันที่ 16 ความกด = 1011.85
วันที่ 17 ความกด = 1010.15
วันที่ 18 ความกด = 1008.27
วันที่ 19 ความกด = 1007.92
วันที่ 20 ความกด = 1010.66
วันที่ 21 ความกด = 1013.03
วันที่ 22 ความกด = 1015.84
วันที่ 23 ความกด = 1017.21
วันที่ 24 ความกด = 1014.62
วันที่ 25 ความกด = 1012.56
วันที่ 26 ความกด = 1011.07
วันที่ 27 ความกด = 1008.7
วันที่ 28 ความกด = 1007.22
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2013-10-01 00:00:00
วันที่ 1 ความกด = 1007.79
วันที่ 2 ความกด = 1010.66
วันที่ 3 ความกด = 1010.26
วันที่ 4 ความกด = 1009.93
วันที่ 5 ความกด = 1008.74
วันที่ 6 ความกด = 1009.39
วันที่ 7 ความกด = 1009.99
วันที่ 8 ความกด = 1010.74
วันที่ 9 ความกด = 1011.02
วันที่ 10 ความกด = 1011.86
วันที่ 11 ความกด = 1011.28
วันที่ 12 ความกด = 1009.93
วันที่ 13 ความกด = 1009.38
วันที่ 14 ความกด = 1007.7
วันที่ 15 ความกด = 1005.34
วันที่ 16 ความกด = 1006.79
วันที่ 17 ความกด = 1011.69
วันที่ 18 ความกด = 1012.89
วันที่ 19 ความกด = 1014.4
วันที่ 20 ความกด = 1013.65
วันที่ 21 ความกด = 1012.75
วันที่ 22 ความกด = 1013.8
วันที่ 23 ความกด = 1013.6
วันที่ 24 ความกด = 1013.25
วันที่ 25 ความกด = 1014.88
วันที่ 26 ความกด = 1015.55
วันที่ 27 ความกด = 1014.52
วันที่ 28 ความกด = 1014.57
วันที่ 29 ความกด = 1014.73
วันที่ 30 ความกด = 1013.53
วันที่ 31 ความกด = 1013.15
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2013-11-01 00:00:00
วันที่ 1 ความกด = 1012.88
วันที่ 2 ความกด = 1012.32
วันที่ 3 ความกด = 1013.43
วันที่ 4 ความกด = 1015.01
วันที่ 5 ความกด = 1014.11
วันที่ 6 ความกด = 1013.44
วันที่ 7 ความกด = 1012.93
วันที่ 8 ความกด = 1011.44
วันที่ 9 ความกด = 1010.68
วันที่ 10 ความกด = 1007.33
วันที่ 11 ความกด = 1007.26
วันที่ 12 ความกด = 1008.75
วันที่ 13 ความกด = 1009.67
วันที่ 14 ความกด = 1011.96
วันที่ 15 ความกด = 1013.45
วันที่ 16 ความกด = 1014.19
วันที่ 17 ความกด = 1014.84
วันที่ 18 ความกด = 1015.27
วันที่ 19 ความกด = 1015.17
วันที่ 20 ความกด = 1014.11
วันที่ 21 ความกด = 1012.77
วันที่ 22 ความกด = 1012.89
วันที่ 23 ความกด = 1011.79
วันที่ 24 ความกด = 1011.4
วันที่ 25 ความกด = 1010.79
วันที่ 26 ความกด = 1011.03
วันที่ 27 ความกด = 1012.76
วันที่ 28 ความกด = 1016.39
วันที่ 29 ความกด = 1017.91
วันที่ 30 ความกด = 1016.52
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = สกลนคร
 วันที่ เดือน/ปี ความกด = 2013-12-01 00:00:00
 วันที่ 1 ความกด = 1017.99
 วันที่ 2 ความกด = 1017.33
 วันที่ 3 ความกด = 1015.58
 วันที่ 4 ความกด = 1014.83
 วันที่ 5 ความกด = 1013.25
 วันที่ 6 ความกด = 1014.1
 วันที่ 7 ความกด = 1014.77
 วันที่ 8 ความกด = 1013.25
 วันที่ 9 ความกด = 1012.26
 วันที่ 10 ความกด = 1011.54
 วันที่ 11 ความกด = 1011.87
 วันที่ 12 ความกด = 1011.63
 วันที่ 13 ความกด = 1012.28
 วันที่ 14 ความกด = 1012.2
 วันที่ 15 ความกด = 1011.6
 วันที่ 16 ความกด = 1013.81
 วันที่ 17 ความกด = 1015.25
 วันที่ 18 ความกด = 1016.07
 วันที่ 19 ความกด = 1017.66
 วันที่ 20 ความกด = 1018.65
 วันที่ 21 ความกด = 1019.96
 วันที่ 22 ความกด = 1019.48
 วันที่ 23 ความกด = 1018.09
 วันที่ 24 ความกด = 1019.21
 วันที่ 25 ความกด = 1018.79
 วันที่ 26 ความกด = 1018.14
 วันที่ 27 ความกด = 1019.26
 วันที่ 28 ความกด = 1018.35
 วันที่ 29 ความกด = 1018.24
 วันที่ 30 ความกด = 1018.84
 วันที่ 31 ความกด = 1018.82
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2014-01-01 00:00:00
วันที่ 1 ความกด = 1016.75
วันที่ 2 ความกด = 1014.22
วันที่ 3 ความกด = 1013.09
วันที่ 4 ความกด = 1014.78
วันที่ 5 ความกด = 1013.7
วันที่ 6 ความกด = 1012.25
วันที่ 7 ความกด = 1011.73
วันที่ 8 ความกด = 1012.97
วันที่ 9 ความกด = 1014.95
วันที่ 10 ความกด = 1017.17
วันที่ 11 ความกด = 1017.22
วันที่ 12 ความกด = 1017.62
วันที่ 13 ความกด = 1018.13
วันที่ 14 ความกด = 1019.75
วันที่ 15 ความกด = 1020.06
วันที่ 16 ความกด = 1019.6
วันที่ 17 ความกด = 1019.65
วันที่ 18 ความกด = 1022.46
วันที่ 19 ความกด = 1022.23
วันที่ 20 ความกด = 1020.43
วันที่ 21 ความกด = 1022.04
วันที่ 22 ความกด = 1021.91
วันที่ 23 ความกด = 1019.25
วันที่ 24 ความกด = 1014.96
วันที่ 25 ความกด = 1013.1
วันที่ 26 ความกด = 1015.46
วันที่ 27 ความกด = 1016.18
วันที่ 28 ความกด = 1015.14
วันที่ 29 ความกด = 1015.71
วันที่ 30 ความกด = 1016.42
วันที่ 31 ความกด = 1015.46
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2014-02-01 00:00:00
วันที่ 1 ความกด = 1012.4
วันที่ 2 ความกด = 1009.03
วันที่ 3 ความกด = 1006.76
วันที่ 4 ความกด = 1006.64
วันที่ 5 ความกด = 1007.19
วันที่ 6 ความกด = 1006.78
วันที่ 7 ความกด = 1006.37
วันที่ 8 ความกด = 1006.09
วันที่ 9 ความกด = 1006.22
วันที่ 10 ความกด = 1009.05
วันที่ 11 ความกด = 1012.22
วันที่ 12 ความกด = 1011.33
วันที่ 13 ความกด = 1014.06
วันที่ 14 ความกด = 1015.96
วันที่ 15 ความกด = 1013.84
วันที่ 16 ความกด = 1012.59
วันที่ 17 ความกด = 1012.23
วันที่ 18 ความกด = 1010.85
วันที่ 19 ความกด = 1015.06
วันที่ 20 ความกด = 1018.74
วันที่ 21 ความกด = 1017.58
วันที่ 22 ความกด = 1014.82
วันที่ 23 ความกด = 1014.49
วันที่ 24 ความกด = 1013.55
วันที่ 25 ความกด = 1012.37
วันที่ 26 ความกด = 1011.85
วันที่ 27 ความกด = 1012.58
วันที่ 28 ความกด = 1010.96
วันที่ 29 ความกด = 1017.86
วันที่ 30 ความกด = 1016.45
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2014-10-01 00:00:00
วันที่ 1 ความกด = 1010.84
วันที่ 2 ความกด = 1010.37
วันที่ 3 ความกด = 1009.04
วันที่ 4 ความกด = 1008.79
วันที่ 5 ความกด = 1010.0
วันที่ 6 ความกด = 1012.88
วันที่ 7 ความกด = 1011.94
วันที่ 8 ความกด = 1011.58
วันที่ 9 ความกด = 1011.08
วันที่ 10 ความกด = 1009.73
วันที่ 11 ความกด = 1010.66
วันที่ 12 ความกด = 1012.9
วันที่ 13 ความกด = 1014.52
วันที่ 14 ความกด = 1015.16
วันที่ 15 ความกด = 1014.92
วันที่ 16 ความกด = 1013.67
วันที่ 17 ความกด = 1013.4
วันที่ 18 ความกด = 1012.36
วันที่ 19 ความกด = 1012.35
วันที่ 20 ความกด = 1012.25
วันที่ 21 ความกด = 1013.3
วันที่ 22 ความกด = 1013.18
วันที่ 23 ความกด = 1012.48
วันที่ 24 ความกด = 1011.62
วันที่ 25 ความกด = 1012.05
วันที่ 26 ความกด = 1013.16
วันที่ 27 ความกด = 1012.23
วันที่ 28 ความกด = 1011.52
วันที่ 29 ความกด = 1011.39
วันที่ 30 ความกด = 1010.9
วันที่ 31 ความกด = 1010.41
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2014-11-01 00:00:00
วันที่ 1 ความกด = 1010.16
วันที่ 2 ความกด = 1011.59
วันที่ 3 ความกด = 1013.59
วันที่ 4 ความกด = 1013.85
วันที่ 5 ความกด = 1013.39
วันที่ 6 ความกด = 1012.24
วันที่ 7 ความกด = 1012.01
วันที่ 8 ความกด = 1013.18
วันที่ 9 ความกด = 1013.82
วันที่ 10 ความกด = 1012.45
วันที่ 11 ความกด = 1012.2
วันที่ 12 ความกด = 1013.06
วันที่ 13 ความกด = 1014.92
วันที่ 14 ความกด = 1015.44
วันที่ 15 ความกด = 1014.54
วันที่ 16 ความกด = 1013.99
วันที่ 17 ความกด = 1015.26
วันที่ 18 ความกด = 1017.03
วันที่ 19 ความกด = 1016.97
วันที่ 20 ความกด = 1014.98
วันที่ 21 ความกด = 1013.05
วันที่ 22 ความกด = 1012.74
วันที่ 23 ความกด = 1012.83
วันที่ 24 ความกด = 1012.06
วันที่ 25 ความกด = 1010.79
วันที่ 26 ความกด = 1009.23
วันที่ 27 ความกด = 1010.35
วันที่ 28 ความกด = 1010.37
วันที่ 29 ความกด = 1009.74
วันที่ 30 ความกด = 1008.6
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2014-12-01 00:00:00
วันที่ 1 ความกด = 1010.22
วันที่ 2 ความกด = 1012.12
วันที่ 3 ความกด = 1011.51
วันที่ 4 ความกด = 1014.08
วันที่ 5 ความกด = 1015.86
วันที่ 6 ความกด = 1014.45
วันที่ 7 ความกด = 1013.28
วันที่ 8 ความกด = 1015.45
วันที่ 9 ความกด = 1016.67
วันที่ 10 ความกด = 1015.62
วันที่ 11 ความกด = 1015.33
วันที่ 12 ความกด = 1017.91
วันที่ 13 ความกด = 1019.72
วันที่ 14 ความกด = 1018.52
วันที่ 15 ความกด = 1016.09
วันที่ 16 ความกด = 1018.37
วันที่ 17 ความกด = 1020.59
วันที่ 18 ความกด = 1020.46
วันที่ 19 ความกด = 1019.26
วันที่ 20 ความกด = 1016.63
วันที่ 21 ความกด = 1017.08
วันที่ 22 ความกด = 1018.16
วันที่ 23 ความกด = 1017.03
วันที่ 24 ความกด = 1016.82
วันที่ 25 ความกด = 1014.94
วันที่ 26 ความกด = 1013.07
วันที่ 27 ความกด = 1014.14
วันที่ 28 ความกด = 1017.34
วันที่ 29 ความกด = 1017.46
วันที่ 30 ความกด = 1015.44
วันที่ 31 ความกด = 1017.19
 วันที่ จังหวัด ความกด = สกลนคร
 วันที่ เดือน/ปี ความกด = 2015-01-01 00:00:00
 วันที่ 1 ความกด = 1019.51
 วันที่ 2 ความกด = 1019.56
 วันที่ 3 ความกด = 1017.35
 วันที่ 4 ความกด = 1013.03
 วันที่ 5 ความกด = 1010.8
 วันที่ 6 ความกด = 1010.65
 วันที่ 7 ความกด = 1012.77
 วันที่ 8 ความกด = 1016.77
 วันที่ 9 ความกด = 1016.96
 วันที่ 10 ความกด = 1016.67
 วันที่ 11 ความกด = 1017.77
 วันที่ 12 ความกด = 1018.46
 วันที่ 13 ความกด = 1019.15
 วันที่ 14 ความกด = 1019.46
 วันที่ 15 ความกด = 1018.64
 วันที่ 16 ความกด = 1018.6
 วันที่ 17 ความกด = 1019.33
 วันที่ 18 ความกด = 1018.77
 วันที่ 19 ความกด = 1018.75
 วันที่ 20 ความกด = 1018.2
 วันที่ 21 ความกด = 1018.78
 วันที่ 22 ความกด = 1018.52
 วันที่ 23 ความกด = 1014.74
 วันที่ 24 ความกด = 1014.11
 วันที่ 25 ความกด = 1014.42
 วันที่ 26 ความกด = 1014.04
 วันที่ 27 ความกด = 1012.36
 วันที่ 28 ความกด = 1011.81
 วันที่ 29 ความกด = 1012.75
 วันที่ 30 ความกด = 1015.12
 วันที่ 31 ความกด = 1017.37
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2015-02-01 00:00:00
วันที่ 1 ความกด = 1018.27
วันที่ 2 ความกด = 1019.14
วันที่ 3 ความกด = 1019.12
วันที่ 4 ความกด = 1018.2
วันที่ 5 ความกด = 1018.02
วันที่ 6 ความกด = 1019.08
วันที่ 7 ความกด = 1016.43
วันที่ 8 ความกด = 1017.88
วันที่ 9 ความกด = 1018.69
วันที่ 10 ความกด = 1016.66
วันที่ 11 ความกด = 1013.43
วันที่ 12 ความกด = 1014.09
วันที่ 13 ความกด = 1012.31
วันที่ 14 ความกด = 1011.0
วันที่ 15 ความกด = 1011.68
วันที่ 16 ความกด = 1012.63
วันที่ 17 ความกด = 1012.75
วันที่ 18 ความกด = 1013.28
วันที่ 19 ความกด = 1013.98
วันที่ 20 ความกด = 1012.99
วันที่ 21 ความกด = 1011.92
วันที่ 22 ความกด = 1012.54
วันที่ 23 ความกด = 1012.39
วันที่ 24 ความกด = 1010.25
วันที่ 25 ความกด = 1008.82
วันที่ 26 ความกด = 1008.87
วันที่ 27 ความกด = 1009.27
วันที่ 28 ความกด = 1009.56
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2015-10-01 00:00:00
วันที่ 1 ความกด = 1011.87
วันที่ 2 ความกด = 1011.1
วันที่ 3 ความกด = 1010.59
วันที่ 4 ความกด = 1010.5
วันที่ 5 ความกด = 1011.32
วันที่ 6 ความกด = 1011.75
วันที่ 7 ความกด = 1011.37
วันที่ 8 ความกด = 1011.01
วันที่ 9 ความกด = 1009.9
วันที่ 10 ความกด = 1010.37
วันที่ 11 ความกด = 1015.14
วันที่ 12 ความกด = 1015.76
วันที่ 13 ความกด = 1015.83
วันที่ 14 ความกด = 1015.2
วันที่ 15 ความกด = 1014.05
วันที่ 16 ความกด = 1013.07
วันที่ 17 ความกด = 1012.37
วันที่ 18 ความกด = 1012.55
วันที่ 19 ความกด = 1011.48
วันที่ 20 ความกด = 1009.66
วันที่ 21 ความกด = 1010.05
วันที่ 22 ความกด = 1010.87
วันที่ 23 ความกด = 1011.7
วันที่ 24 ความกด = 1013.01
วันที่ 25 ความกด = 1013.79
วันที่ 26 ความกด = 1013.63
วันที่ 27 ความกด = 1013.04
วันที่ 28 ความกด = 1013.76
วันที่ 29 ความกด = 1014.07
วันที่ 30 ความกด = 1013.87
วันที่ 31 ความกด = 1015.26
วันที่ จังหวัด ความกด = สกลนคร
วันที่ เดือน/ปี ความกด = 2015-11-01 00:00:00
วันที่ 1 ความกด = 1015.85
วันที่ 2 ความกด = 1016.12
วันที่ 3 ความกด = 1015.23
วันที่ 4 ความกด = 1013.74
วันที่ 5 ความกด = 1011.74
วันที่ 6 ความกด = 1011.51
วันที่ 7 ความกด = 1013.23
วันที่ 8 ความกด = 1013.42
วันที่ 9 ความกด = 1012.36
วันที่ 10 ความกด = 1011.95
วันที่ 11 ความกด = 1011.94
วันที่ 12 ความกด = 1012.48
วันที่ 13 ความกด = 1011.91
วันที่ 14 ความกด = 1011.22
วันที่ 15 ความกด = 1011.02
วันที่ 16 ความกด = 1010.53
วันที่ 17 ความกด = 1010.8
วันที่ 18 ความกด = 1012.02
วันที่ 19 ความกด = 1012.87
วันที่ 20 ความกด = 1012.42
วันที่ 21 ความกด = 1012.53
วันที่ 22 ความกด = 1012.54
วันที่ 23 ความกด = 1013.0
วันที่ 24 ความกด = 1012.18
วันที่ 25 ความกด = 1013.14
วันที่ 26 ความกด = 1014.32
วันที่ 27 ความกด = 1015.42
วันที่ 28 ความกด = 1016.77
วันที่ 29 ความกด = 1016.86
วันที่ 30 ความกด = 1015.16
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = สกลนคร
 วันที่ เดือน/ปี ความกด = 2015-12-01 00:00:00
 วันที่ 1 ความกด = 1013.21

####หนองคาย

In [822]:
a4 = df144[['จังหวัด','เดือน/ปี','1','2','3','4','5','6','7','8','9','10','11','12','13',
       '14','15','16','17','18','19','20','21','22','23',
       '24','25','26','27','28','29','30','31']]

In [823]:
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[1]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[2]))
for name, values in a4.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[3]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[4]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[5]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[6]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[7]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[8]))
for name, values in a4.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[9]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[10]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[11]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[12]))
for name, values in a4.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[13]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[14]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[15]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[16]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[17]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[18]))
for name, values in a4.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[19]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[20]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[21]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[22]))
for name, values in a4.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[23]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[24]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[25]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[26]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[27]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[28]))
for name, values in a4.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[29]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[30]))
for name, values in a4.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[31]))

วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2011-10-01 00:00:00
วันที่ 1 ความกด = 1005.34
วันที่ 2 ความกด = 1006.67
วันที่ 3 ความกด = 1007.39
วันที่ 4 ความกด = 1008.11
วันที่ 5 ความกด = 1009.69
วันที่ 6 ความกด = 1011.55
วันที่ 7 ความกด = 1011.28
วันที่ 8 ความกด = 1010.4
วันที่ 9 ความกด = 1010.5
วันที่ 10 ความกด = 1010.9
วันที่ 11 ความกด = 1010.17
วันที่ 12 ความกด = 1009.14
วันที่ 13 ความกด = 1007.88
วันที่ 14 ความกด = 1007.68
วันที่ 15 ความกด = 1009.09
วันที่ 16 ความกด = 1011.13
วันที่ 17 ความกด = 1013.64
วันที่ 18 ความกด = 1014.04
วันที่ 19 ความกด = 1011.9
วันที่ 20 ความกด = 1011.79
วันที่ 21 ความกด = 1011.65
วันที่ 22 ความกด = 1011.17
วันที่ 23 ความกด = 1011.01
วันที่ 24 ความกด = 1010.71
วันที่ 25 ความกด = 1011.67
วันที่ 26 ความกด = 1012.36
วันที่ 27 ความกด = 1012.5
วันที่ 28 ความกด = 1012.81
วันที่ 29 ความกด = 1011.88
วันที่ 30 ความกด = 1011.77
วันที่ 31 ความกด = 1012.18
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2011-11-01 00:00:00
วันที่ 1 ความกด = 1012.05
วันที่ 2 ความกด = 1011.35
วันที่ 3 ความกด = 1011.28
วันที่ 4 ความกด = 1011.27
วันที่ 5 ความกด = 1010.62
วันที่ 6 ความกด = 1009.58
วันที่ 7 ความกด = 1008.55
วันที่ 8 ความกด = 1007.65
วันที่ 9 ความกด = 1010.6
วันที่ 10 ความกด = 1012.42
วันที่ 11 ความกด = 1012.9
วันที่ 12 ความกด = 1014.62
วันที่ 13 ความกด = 1014.37
วันที่ 14 ความกด = 1014.75
วันที่ 15 ความกด = 1014.7
วันที่ 16 ความกด = 1012.59
วันที่ 17 ความกด = 1011.35
วันที่ 18 ความกด = 1009.83
วันที่ 19 ความกด = 1011.62
วันที่ 20 ความกด = 1015.01
วันที่ 21 ความกด = 1015.44
วันที่ 22 ความกด = 1014.32
วันที่ 23 ความกด = 1015.27
วันที่ 24 ความกด = 1016.46
วันที่ 25 ความกด = 1014.65
วันที่ 26 ความกด = 1013.08
วันที่ 27 ความกด = 1011.62
วันที่ 28 ความกด = 1010.21
วันที่ 29 ความกด = 1010.71
วันที่ 30 ความกด = 1011.1
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = หนองคาย
 วันที่ เดือน/ปี ความกด = 2011-12-01 00:00:00
 วันที่ 1 ความกด = 1012.16
 วันที่ 2 ความกด = 1013.26
 วันที่ 3 ความกด = 1012.4
 วันที่ 4 ความกด = 1013.57
 วันที่ 5 ความกด = 1013.68
 วันที่ 6 ความกด = 1012.72
 วันที่ 7 ความกด = 1012.44
 วันที่ 8 ความกด = 1012.14
 วันที่ 9 ความกด = 1015.05
 วันที่ 10 ความกด = 1017.15
 วันที่ 11 ความกด = 1018.56
 วันที่ 12 ความกด = 1017.73
 วันที่ 13 ความกด = 1016.21
 วันที่ 14 ความกด = 1015.09
 วันที่ 15 ความกด = 1014.21
 วันที่ 16 ความกด = 1015.83
 วันที่ 17 ความกด = 1017.22
 วันที่ 18 ความกด = 1017.45
 วันที่ 19 ความกด = 1015.98
 วันที่ 20 ความกด = 1014.99
 วันที่ 21 ความกด = 1014.22
 วันที่ 22 ความกด = 1013.91
 วันที่ 23 ความกด = 1013.94
 วันที่ 24 ความกด = 1016.92
 วันที่ 25 ความกด = 1019.05
 วันที่ 26 ความกด = 1019.88
 วันที่ 27 ความกด = 1017.86
 วันที่ 28 ความกด = 1016.76
 วันที่ 29 ความกด = 1015.63
 วันที่ 30 ความกด = 1016.31
 วันที่ 31 ความกด = 1017.19
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2012-01-01 00:00:00
วันที่ 1 ความกด = 1016.26
วันที่ 2 ความกด = 1014.6
วันที่ 3 ความกด = 1012.83
วันที่ 4 ความกด = 1014.85
วันที่ 5 ความกด = 1016.69
วันที่ 6 ความกด = 1016.56
วันที่ 7 ความกด = 1018.5
วันที่ 8 ความกด = 1019.33
วันที่ 9 ความกด = 1017.79
วันที่ 10 ความกด = 1016.98
วันที่ 11 ความกด = 1017.28
วันที่ 12 ความกด = 1016.85
วันที่ 13 ความกด = 1014.53
วันที่ 14 ความกด = 1010.68
วันที่ 15 ความกด = 1008.32
วันที่ 16 ความกด = 1008.29
วันที่ 17 ความกด = 1008.11
วันที่ 18 ความกด = 1008.29
วันที่ 19 ความกด = 1009.11
วันที่ 20 ความกด = 1009.79
วันที่ 21 ความกด = 1009.23
วันที่ 22 ความกด = 1010.03
วันที่ 23 ความกด = 1011.56
วันที่ 24 ความกด = 1011.98
วันที่ 25 ความกด = 1012.2
วันที่ 26 ความกด = 1012.95
วันที่ 27 ความกด = 1011.23
วันที่ 28 ความกด = 1010.63
วันที่ 29 ความกด = 1010.96
วันที่ 30 ความกด = 1013.16
วันที่ 31 ความกด = 1015.38
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2012-02-01 00:00:00
วันที่ 1 ความกด = 1013.64
วันที่ 2 ความกด = 1013.36
วันที่ 3 ความกด = 1014.86
วันที่ 4 ความกด = 1013.93
วันที่ 5 ความกด = 1011.87
วันที่ 6 ความกด = 1008.77
วันที่ 7 ความกด = 1008.42
วันที่ 8 ความกด = 1010.5
วันที่ 9 ความกด = 1012.2
วันที่ 10 ความกด = 1011.69
วันที่ 11 ความกด = 1012.59
วันที่ 12 ความกด = 1013.3
วันที่ 13 ความกด = 1012.19
วันที่ 14 ความกด = 1010.58
วันที่ 15 ความกด = 1008.35
วันที่ 16 ความกด = 1008.41
วันที่ 17 ความกด = 1010.82
วันที่ 18 ความกด = 1013.19
วันที่ 19 ความกด = 1014.44
วันที่ 20 ความกด = 1012.49
วันที่ 21 ความกด = 1009.21
วันที่ 22 ความกด = 1007.18
วันที่ 23 ความกด = 1005.89
วันที่ 24 ความกด = 1005.54
วันที่ 25 ความกด = 1005.28
วันที่ 26 ความกด = 1005.32
วันที่ 27 ความกด = 1007.59
วันที่ 28 ความกด = 1006.66
วันที่ 29 ความกด = 1007.07
วันที่ 30 ความกด = 1011.1
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2012-10-01 00:00:00
วันที่ 1 ความกด = 1011.66
วันที่ 2 ความกด = 1011.44
วันที่ 3 ความกด = 1008.66
วันที่ 4 ความกด = 1006.94
วันที่ 5 ความกด = 1008.62
วันที่ 6 ความกด = 1011.05
วันที่ 7 ความกด = 1010.61
วันที่ 8 ความกด = 1010.85
วันที่ 9 ความกด = 1011.13
วันที่ 10 ความกด = 1011.7
วันที่ 11 ความกด = 1011.49
วันที่ 12 ความกด = 1010.87
วันที่ 13 ความกด = 1010.45
วันที่ 14 ความกด = 1010.7
วันที่ 15 ความกด = 1012.16
วันที่ 16 ความกด = 1012.25
วันที่ 17 ความกด = 1012.34
วันที่ 18 ความกด = 1013.4
วันที่ 19 ความกด = 1012.33
วันที่ 20 ความกด = 1011.84
วันที่ 21 ความกด = 1012.31
วันที่ 22 ความกด = 1012.32
วันที่ 23 ความกด = 1011.8
วันที่ 24 ความกด = 1010.75
วันที่ 25 ความกด = 1010.3
วันที่ 26 ความกด = 1009.82
วันที่ 27 ความกด = 1009.26
วันที่ 28 ความกด = 1008.4
วันที่ 29 ความกด = 1008.97
วันที่ 30 ความกด = 1008.89
วันที่ 31 ความกด = 1012.23
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2012-11-01 00:00:00
วันที่ 1 ความกด = 1013.25
วันที่ 2 ความกด = 1011.65
วันที่ 3 ความกด = 1010.88
วันที่ 4 ความกด = 1010.79
วันที่ 5 ความกด = 1010.84
วันที่ 6 ความกด = 1011.38
วันที่ 7 ความกด = 1009.94
วันที่ 8 ความกด = 1008.41
วันที่ 9 ความกด = 1008.66
วันที่ 10 ความกด = 1009.63
วันที่ 11 ความกด = 1010.65
วันที่ 12 ความกด = 1012.99
วันที่ 13 ความกด = 1012.62
วันที่ 14 ความกด = 1011.29
วันที่ 15 ความกด = 1011.32
วันที่ 16 ความกด = 1011.71
วันที่ 17 ความกด = 1012.34
วันที่ 18 ความกด = 1012.21
วันที่ 19 ความกด = 1011.49
วันที่ 20 ความกด = 1011.72
วันที่ 21 ความกด = 1010.14
วันที่ 22 ความกด = 1008.69
วันที่ 23 ความกด = 1009.16
วันที่ 24 ความกด = 1010.86
วันที่ 25 ความกด = 1011.62
วันที่ 26 ความกด = 1011.53
วันที่ 27 ความกด = 1011.11
วันที่ 28 ความกด = 1010.83
วันที่ 29 ความกด = 1010.74
วันที่ 30 ความกด = 1010.1
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2012-12-01 00:00:00
วันที่ 1 ความกด = 1010.04
วันที่ 2 ความกด = 1010.28
วันที่ 3 ความกด = 1011.34
วันที่ 4 ความกด = 1011.4
วันที่ 5 ความกด = 1011.31
วันที่ 6 ความกด = 1013.4
วันที่ 7 ความกด = 1012.42
วันที่ 8 ความกด = 1012.08
วันที่ 9 ความกด = 1011.52
วันที่ 10 ความกด = 1011.01
วันที่ 11 ความกด = 1011.25
วันที่ 12 ความกด = 1014.2
วันที่ 13 ความกด = 1013.68
วันที่ 14 ความกด = 1014.26
วันที่ 15 ความกด = 1012.91
วันที่ 16 ความกด = 1012.55
วันที่ 17 ความกด = 1011.47
วันที่ 18 ความกด = 1012.59
วันที่ 19 ความกด = 1012.77
วันที่ 20 ความกด = 1011.52
วันที่ 21 ความกด = 1011.37
วันที่ 22 ความกด = 1012.03
วันที่ 23 ความกด = 1015.72
วันที่ 24 ความกด = 1017.22
วันที่ 25 ความกด = 1014.72
วันที่ 26 ความกด = 1012.86
วันที่ 27 ความกด = 1011.53
วันที่ 28 ความกด = 1010.58
วันที่ 29 ความกด = 1010.92
วันที่ 30 ความกด = 1012.66
วันที่ 31 ความกด = 1015.72
 วันที่ จังหวัด ความกด = หนองคาย
 วันที่ เดือน/ปี ความกด = 2013-01-01 00:00:00
 วันที่ 1 ความกด = 1015.38
 วันที่ 2 ความกด = 1014.02
 วันที่ 3 ความกด = 1014.56
 วันที่ 4 ความกด = 1014.07
 วันที่ 5 ความกด = 1012.31
 วันที่ 6 ความกด = 1012.87
 วันที่ 7 ความกด = 1013.07
 วันที่ 8 ความกด = 1012.35
 วันที่ 9 ความกด = 1011.9
 วันที่ 10 ความกด = 1013.23
 วันที่ 11 ความกด = 1013.96
 วันที่ 12 ความกด = 1014.04
 วันที่ 13 ความกด = 1013.06
 วันที่ 14 ความกด = 1012.72
 วันที่ 15 ความกด = 1014.1
 วันที่ 16 ความกด = 1015.21
 วันที่ 17 ความกด = 1017.33
 วันที่ 18 ความกด = 1019.45
 วันที่ 19 ความกด = 1017.3
 วันที่ 20 ความกด = 1015.92
 วันที่ 21 ความกด = 1015.16
 วันที่ 22 ความกด = 1014.9
 วันที่ 23 ความกด = 1013.98
 วันที่ 24 ความกด = 1013.14
 วันที่ 25 ความกด = 1012.74
 วันที่ 26 ความกด = 1013.02
 วันที่ 27 ความกด = 1015.21
 วันที่ 28 ความกด = 1016.8
 วันที่ 29 ความกด = 1015.97
 วันที่ 30 ความกด = 1015.36
 วันที่ 31 ความกด = 1017.11
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2013-02-01 00:00:00
วันที่ 1 ความกด = 1016.12
วันที่ 2 ความกด = 1015.23
วันที่ 3 ความกด = 1014.67
วันที่ 4 ความกด = 1014.85
วันที่ 5 ความกด = 1014.34
วันที่ 6 ความกด = 1011.44
วันที่ 7 ความกด = 1008.49
วันที่ 8 ความกด = 1009.12
วันที่ 9 ความกด = 1012.56
วันที่ 10 ความกด = 1013.32
วันที่ 11 ความกด = 1012.21
วันที่ 12 ความกด = 1012.03
วันที่ 13 ความกด = 1013.53
วันที่ 14 ความกด = 1011.78
วันที่ 15 ความกด = 1010.56
วันที่ 16 ความกด = 1011.63
วันที่ 17 ความกด = 1009.86
วันที่ 18 ความกด = 1008.13
วันที่ 19 ความกด = 1007.99
วันที่ 20 ความกด = 1009.49
วันที่ 21 ความกด = 1012.73
วันที่ 22 ความกด = 1015.43
วันที่ 23 ความกด = 1016.37
วันที่ 24 ความกด = 1014.56
วันที่ 25 ความกด = 1012.5
วันที่ 26 ความกด = 1010.69
วันที่ 27 ความกด = 1008.41
วันที่ 28 ความกด = 1006.75
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2013-10-01 00:00:00
วันที่ 1 ความกด = 1007.41
วันที่ 2 ความกด = 1010.8
วันที่ 3 ความกด = 1010.46
วันที่ 4 ความกด = 1009.76
วันที่ 5 ความกด = 1008.79
วันที่ 6 ความกด = 1009.37
วันที่ 7 ความกด = 1009.85
วันที่ 8 ความกด = 1010.47
วันที่ 9 ความกด = 1010.52
วันที่ 10 ความกด = 1011.76
วันที่ 11 ความกด = 1011.21
วันที่ 12 ความกด = 1009.8
วันที่ 13 ความกด = 1009.32
วันที่ 14 ความกด = 1007.91
วันที่ 15 ความกด = 1006.89
วันที่ 16 ความกด = 1007.24
วันที่ 17 ความกด = 1011.12
วันที่ 18 ความกด = 1012.77
วันที่ 19 ความกด = 1013.86
วันที่ 20 ความกด = 1013.4
วันที่ 21 ความกด = 1012.45
วันที่ 22 ความกด = 1013.58
วันที่ 23 ความกด = 1013.26
วันที่ 24 ความกด = 1012.98
วันที่ 25 ความกด = 1014.84
วันที่ 26 ความกด = 1015.38
วันที่ 27 ความกด = 1014.19
วันที่ 28 ความกด = 1014.47
วันที่ 29 ความกด = 1014.56
วันที่ 30 ความกด = 1013.42
วันที่ 31 ความกด = 1013.04
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2013-11-01 00:00:00
วันที่ 1 ความกด = 1012.55
วันที่ 2 ความกด = 1011.97
วันที่ 3 ความกด = 1013.12
วันที่ 4 ความกด = 1014.72
วันที่ 5 ความกด = 1014.41
วันที่ 6 ความกด = 1013.4
วันที่ 7 ความกด = 1012.64
วันที่ 8 ความกด = 1011.53
วันที่ 9 ความกด = 1010.71
วันที่ 10 ความกด = 1007.86
วันที่ 11 ความกด = 1006.65
วันที่ 12 ความกด = 1008.57
วันที่ 13 ความกด = 1008.83
วันที่ 14 ความกด = 1011.67
วันที่ 15 ความกด = 1013.28
วันที่ 16 ความกด = 1014.31
วันที่ 17 ความกด = 1014.24
วันที่ 18 ความกด = 1014.93
วันที่ 19 ความกด = 1015.09
วันที่ 20 ความกด = 1013.89
วันที่ 21 ความกด = 1012.48
วันที่ 22 ความกด = 1012.63
วันที่ 23 ความกด = 1011.63
วันที่ 24 ความกด = 1011.24
วันที่ 25 ความกด = 1010.22
วันที่ 26 ความกด = 1010.74
วันที่ 27 ความกด = 1012.29
วันที่ 28 ความกด = 1015.92
วันที่ 29 ความกด = 1017.86
วันที่ 30 ความกด = 1016.45
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = หนองคาย
 วันที่ เดือน/ปี ความกด = 2013-12-01 00:00:00
 วันที่ 1 ความกด = 1017.68
 วันที่ 2 ความกด = 1016.84
 วันที่ 3 ความกด = 1015.53
 วันที่ 4 ความกด = 1014.93
 วันที่ 5 ความกด = 1013.28
 วันที่ 6 ความกด = 1013.32
 วันที่ 7 ความกด = 1014.43
 วันที่ 8 ความกด = 1013.13
 วันที่ 9 ความกด = 1012.0
 วันที่ 10 ความกด = 1011.37
 วันที่ 11 ความกด = 1011.41
 วันที่ 12 ความกด = 1011.44
 วันที่ 13 ความกด = 1012.17
 วันที่ 14 ความกด = 1011.52
 วันที่ 15 ความกด = 1010.25
 วันที่ 16 ความกด = 1013.04
 วันที่ 17 ความกด = 1015.16
 วันที่ 18 ความกด = 1015.64
 วันที่ 19 ความกด = 1017.39
 วันที่ 20 ความกด = 1018.3
 วันที่ 21 ความกด = 1019.85
 วันที่ 22 ความกด = 1019.71
 วันที่ 23 ความกด = 1017.92
 วันที่ 24 ความกด = 1018.88
 วันที่ 25 ความกด = 1018.39
 วันที่ 26 ความกด = 1017.54
 วันที่ 27 ความกด = 1018.69
 วันที่ 28 ความกด = 1018.68
 วันที่ 29 ความกด = 1017.77
 วันที่ 30 ความกด = 1018.61
 วันที่ 31 ความกด = 1018.61
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2014-01-01 00:00:00
วันที่ 1 ความกด = 1016.47
วันที่ 2 ความกด = 1013.91
วันที่ 3 ความกด = 1012.94
วันที่ 4 ความกด = 1013.95
วันที่ 5 ความกด = 1013.57
วันที่ 6 ความกด = 1012.05
วันที่ 7 ความกด = 1011.67
วันที่ 8 ความกด = 1012.69
วันที่ 9 ความกด = 1014.38
วันที่ 10 ความกด = 1016.58
วันที่ 11 ความกด = 1016.88
วันที่ 12 ความกด = 1017.44
วันที่ 13 ความกด = 1017.31
วันที่ 14 ความกด = 1019.04
วันที่ 15 ความกด = 1019.89
วันที่ 16 ความกด = 1019.66
วันที่ 17 ความกด = 1019.51
วันที่ 18 ความกด = 1022.25
วันที่ 19 ความกด = 1022.05
วันที่ 20 ความกด = 1020.46
วันที่ 21 ความกด = 1021.6
วันที่ 22 ความกด = 1021.87
วันที่ 23 ความกด = 1019.44
วันที่ 24 ความกด = 1015.06
วันที่ 25 ความกด = 1013.22
วันที่ 26 ความกด = 1015.39
วันที่ 27 ความกด = 1016.12
วันที่ 28 ความกด = 1014.77
วันที่ 29 ความกด = 1015.43
วันที่ 30 ความกด = 1016.01
วันที่ 31 ความกด = 1014.92
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2014-02-01 00:00:00
วันที่ 1 ความกด = 1012.11
วันที่ 2 ความกด = 1008.97
วันที่ 3 ความกด = 1006.74
วันที่ 4 ความกด = 1006.27
วันที่ 5 ความกด = 1006.77
วันที่ 6 ความกด = 1006.65
วันที่ 7 ความกด = 1006.59
วันที่ 8 ความกด = 1005.96
วันที่ 9 ความกด = 1006.35
วันที่ 10 ความกด = 1007.9
วันที่ 11 ความกด = 1011.18
วันที่ 12 ความกด = 1010.86
วันที่ 13 ความกด = 1012.78
วันที่ 14 ความกด = 1014.97
วันที่ 15 ความกด = 1013.15
วันที่ 16 ความกด = 1012.27
วันที่ 17 ความกด = 1012.15
วันที่ 18 ความกด = 1010.65
วันที่ 19 ความกด = 1013.35
วันที่ 20 ความกด = 1018.04
วันที่ 21 ความกด = 1016.97
วันที่ 22 ความกด = 1014.7
วันที่ 23 ความกด = 1013.68
วันที่ 24 ความกด = 1012.83
วันที่ 25 ความกด = 1012.09
วันที่ 26 ความกด = 1011.2
วันที่ 27 ความกด = 1011.98
วันที่ 28 ความกด = 1010.41
วันที่ 29 ความกด = 1017.86
วันที่ 30 ความกด = 1016.45
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2014-10-01 00:00:00
วันที่ 1 ความกด = 1010.65
วันที่ 2 ความกด = 1009.91
วันที่ 3 ความกด = 1008.58
วันที่ 4 ความกด = 1008.42
วันที่ 5 ความกด = 1009.53
วันที่ 6 ความกด = 1012.09
วันที่ 7 ความกด = 1011.78
วันที่ 8 ความกด = 1011.47
วันที่ 9 ความกด = 1010.52
วันที่ 10 ความกด = 1009.01
วันที่ 11 ความกด = 1009.95
วันที่ 12 ความกด = 1012.43
วันที่ 13 ความกด = 1014.46
วันที่ 14 ความกด = 1015.03
วันที่ 15 ความกด = 1014.62
วันที่ 16 ความกด = 1013.52
วันที่ 17 ความกด = 1013.11
วันที่ 18 ความกด = 1012.31
วันที่ 19 ความกด = 1012.32
วันที่ 20 ความกด = 1011.87
วันที่ 21 ความกด = 1012.89
วันที่ 22 ความกด = 1012.88
วันที่ 23 ความกด = 1012.32
วันที่ 24 ความกด = 1011.53
วันที่ 25 ความกด = 1011.91
วันที่ 26 ความกด = 1012.94
วันที่ 27 ความกด = 1011.99
วันที่ 28 ความกด = 1011.05
วันที่ 29 ความกด = 1011.34
วันที่ 30 ความกด = 1010.46
วันที่ 31 ความกด = 1009.91
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2014-11-01 00:00:00
วันที่ 1 ความกด = 1009.89
วันที่ 2 ความกด = 1010.97
วันที่ 3 ความกด = 1012.71
วันที่ 4 ความกด = 1013.35
วันที่ 5 ความกด = 1013.07
วันที่ 6 ความกด = 1012.29
วันที่ 7 ความกด = 1012.3
วันที่ 8 ความกด = 1012.4
วันที่ 9 ความกด = 1013.66
วันที่ 10 ความกด = 1011.97
วันที่ 11 ความกด = 1011.7
วันที่ 12 ความกด = 1012.39
วันที่ 13 ความกด = 1014.45
วันที่ 14 ความกด = 1015.16
วันที่ 15 ความกด = 1014.16
วันที่ 16 ความกด = 1013.84
วันที่ 17 ความกด = 1014.63
วันที่ 18 ความกด = 1016.49
วันที่ 19 ความกด = 1016.48
วันที่ 20 ความกด = 1014.54
วันที่ 21 ความกด = 1012.92
วันที่ 22 ความกด = 1012.47
วันที่ 23 ความกด = 1012.6
วันที่ 24 ความกด = 1012.0
วันที่ 25 ความกด = 1010.8
วันที่ 26 ความกด = 1009.42
วันที่ 27 ความกด = 1010.15
วันที่ 28 ความกด = 1010.23
วันที่ 29 ความกด = 1009.39
วันที่ 30 ความกด = 1008.63
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2014-12-01 00:00:00
วันที่ 1 ความกด = 1010.28
วันที่ 2 ความกด = 1011.64
วันที่ 3 ความกด = 1011.23
วันที่ 4 ความกด = 1013.1
วันที่ 5 ความกด = 1015.42
วันที่ 6 ความกด = 1014.1
วันที่ 7 ความกด = 1012.49
วันที่ 8 ความกด = 1014.82
วันที่ 9 ความกด = 1016.09
วันที่ 10 ความกด = 1015.27
วันที่ 11 ความกด = 1014.91
วันที่ 12 ความกด = 1017.76
วันที่ 13 ความกด = 1019.35
วันที่ 14 ความกด = 1018.17
วันที่ 15 ความกด = 1015.84
วันที่ 16 ความกด = 1017.68
วันที่ 17 ความกด = 1019.92
วันที่ 18 ความกด = 1020.04
วันที่ 19 ความกด = 1018.73
วันที่ 20 ความกด = 1016.21
วันที่ 21 ความกด = 1016.07
วันที่ 22 ความกด = 1017.8
วันที่ 23 ความกด = 1017.04
วันที่ 24 ความกด = 1016.53
วันที่ 25 ความกด = 1014.72
วันที่ 26 ความกด = 1012.57
วันที่ 27 ความกด = 1013.43
วันที่ 28 ความกด = 1016.15
วันที่ 29 ความกด = 1016.82
วันที่ 30 ความกด = 1014.76
วันที่ 31 ความกด = 1016.47
 วันที่ จังหวัด ความกด = หนองคาย
 วันที่ เดือน/ปี ความกด = 2015-01-01 00:00:00
 วันที่ 1 ความกด = 1018.97
 วันที่ 2 ความกด = 1019.41
 วันที่ 3 ความกด = 1017.33
 วันที่ 4 ความกด = 1012.82
 วันที่ 5 ความกด = 1010.44
 วันที่ 6 ความกด = 1010.4
 วันที่ 7 ความกด = 1012.16
 วันที่ 8 ความกด = 1016.07
 วันที่ 9 ความกด = 1016.8
 วันที่ 10 ความกด = 1016.79
 วันที่ 11 ความกด = 1017.52
 วันที่ 12 ความกด = 1018.13
 วันที่ 13 ความกด = 1018.79
 วันที่ 14 ความกด = 1019.13
 วันที่ 15 ความกด = 1018.27
 วันที่ 16 ความกด = 1017.97
 วันที่ 17 ความกด = 1018.8
 วันที่ 18 ความกด = 1018.31
 วันที่ 19 ความกด = 1018.17
 วันที่ 20 ความกด = 1017.92
 วันที่ 21 ความกด = 1018.23
 วันที่ 22 ความกด = 1017.71
 วันที่ 23 ความกด = 1014.3
 วันที่ 24 ความกด = 1013.77
 วันที่ 25 ความกด = 1014.02
 วันที่ 26 ความกด = 1013.65
 วันที่ 27 ความกด = 1012.21
 วันที่ 28 ความกด = 1011.48
 วันที่ 29 ความกด = 1012.25
 วันที่ 30 ความกด = 1014.11
 วันที่ 31 ความกด = 1016.59
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2015-02-01 00:00:00
วันที่ 1 ความกด = 1017.58
วันที่ 2 ความกด = 1018.41
วันที่ 3 ความกด = 1018.76
วันที่ 4 ความกด = 1017.11
วันที่ 5 ความกด = 1017.18
วันที่ 6 ความกด = 1018.33
วันที่ 7 ความกด = 1015.85
วันที่ 8 ความกด = 1016.78
วันที่ 9 ความกด = 1018.03
วันที่ 10 ความกด = 1016.2
วันที่ 11 ความกด = 1013.27
วันที่ 12 ความกด = 1013.0
วันที่ 13 ความกด = 1012.07
วันที่ 14 ความกด = 1010.62
วันที่ 15 ความกด = 1011.43
วันที่ 16 ความกด = 1012.36
วันที่ 17 ความกด = 1012.3
วันที่ 18 ความกด = 1012.39
วันที่ 19 ความกด = 1013.47
วันที่ 20 ความกด = 1012.35
วันที่ 21 ความกด = 1011.22
วันที่ 22 ความกด = 1012.2
วันที่ 23 ความกด = 1012.29
วันที่ 24 ความกด = 1010.05
วันที่ 25 ความกด = 1008.5
วันที่ 26 ความกด = 1008.31
วันที่ 27 ความกด = 1009.05
วันที่ 28 ความกด = 1009.48
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2015-10-01 00:00:00
วันที่ 1 ความกด = 1011.54
วันที่ 2 ความกด = 1010.82
วันที่ 3 ความกด = 1010.45
วันที่ 4 ความกด = 1010.27
วันที่ 5 ความกด = 1010.75
วันที่ 6 ความกด = 1010.88
วันที่ 7 ความกด = 1011.41
วันที่ 8 ความกด = 1010.28
วันที่ 9 ความกด = 1009.09
วันที่ 10 ความกด = 1009.56
วันที่ 11 ความกด = 1014.78
วันที่ 12 ความกด = 1015.95
วันที่ 13 ความกด = 1015.9
วันที่ 14 ความกด = 1014.43
วันที่ 15 ความกด = 1013.48
วันที่ 16 ความกด = 1012.44
วันที่ 17 ความกด = 1011.77
วันที่ 18 ความกด = 1012.31
วันที่ 19 ความกด = 1010.69
วันที่ 20 ความกด = 1009.0
วันที่ 21 ความกด = 1009.3
วันที่ 22 ความกด = 1010.61
วันที่ 23 ความกด = 1011.22
วันที่ 24 ความกด = 1012.45
วันที่ 25 ความกด = 1013.53
วันที่ 26 ความกด = 1013.21
วันที่ 27 ความกด = 1012.74
วันที่ 28 ความกด = 1013.36
วันที่ 29 ความกด = 1013.52
วันที่ 30 ความกด = 1013.6
วันที่ 31 ความกด = 1014.88
วันที่ จังหวัด ความกด = หนองคาย
วันที่ เดือน/ปี ความกด = 2015-11-01 00:00:00
วันที่ 1 ความกด = 1015.83
วันที่ 2 ความกด = 1015.92
วันที่ 3 ความกด = 1014.93
วันที่ 4 ความกด = 1013.35
วันที่ 5 ความกด = 1011.71
วันที่ 6 ความกด = 1010.93
วันที่ 7 ความกด = 1012.56
วันที่ 8 ความกด = 1013.38
วันที่ 9 ความกด = 1012.0
วันที่ 10 ความกด = 1011.33
วันที่ 11 ความกด = 1011.24
วันที่ 12 ความกด = 1011.83
วันที่ 13 ความกด = 1011.61
วันที่ 14 ความกด = 1010.97
วันที่ 15 ความกด = 1010.84
วันที่ 16 ความกด = 1009.84
วันที่ 17 ความกด = 1010.22
วันที่ 18 ความกด = 1011.83
วันที่ 19 ความกด = 1012.34
วันที่ 20 ความกด = 1012.09
วันที่ 21 ความกด = 1012.12
วันที่ 22 ความกด = 1012.22
วันที่ 23 ความกด = 1012.5
วันที่ 24 ความกด = 1011.82
วันที่ 25 ความกด = 1012.36
วันที่ 26 ความกด = 1013.46
วันที่ 27 ความกด = 1014.98
วันที่ 28 ความกด = 1016.37
วันที่ 29 ความกด = 1016.63
วันที่ 30 ความกด = 1014.82
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = หนองคาย
 วันที่ เดือน/ปี ความกด = 2015-12-01 00:00:00

####เลย

In [824]:
a5 = df155[['จังหวัด','เดือน/ปี','1','2','3','4','5','6','7','8','9','10','11','12','13',
       '14','15','16','17','18','19','20','21','22','23',
       '24','25','26','27','28','29','30','31']]

In [825]:
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[1]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[2]))
for name, values in a5.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[3]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[4]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[5]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[6]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[7]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[8]))
for name, values in a5.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[9]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[10]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[11]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[12]))
for name, values in a5.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[13]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[14]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[15]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[16]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[17]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[18]))
for name, values in a5.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[19]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[20]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[21]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[22]))
for name, values in a5.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[23]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[24]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[25]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[26]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[27]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[28]))
for name, values in a5.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[29]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[30]))
for name, values in a5.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[31]))

วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2011-10-01 00:00:00
วันที่ 1 ความกด = 1005.12
วันที่ 2 ความกด = 1006.51
วันที่ 3 ความกด = 1007.81
วันที่ 4 ความกด = 1008.15
วันที่ 5 ความกด = 1009.21
วันที่ 6 ความกด = 1011.28
วันที่ 7 ความกด = 1011.22
วันที่ 8 ความกด = 1010.36
วันที่ 9 ความกด = 1010.43
วันที่ 10 ความกด = 1010.34
วันที่ 11 ความกด = 1010.09
วันที่ 12 ความกด = 1008.69
วันที่ 13 ความกด = 1007.76
วันที่ 14 ความกด = 1007.44
วันที่ 15 ความกด = 1008.82
วันที่ 16 ความกด = 1010.6
วันที่ 17 ความกด = 1013.37
วันที่ 18 ความกด = 1013.84
วันที่ 19 ความกด = 1011.56
วันที่ 20 ความกด = 1011.5
วันที่ 21 ความกด = 1011.57
วันที่ 22 ความกด = 1010.98
วันที่ 23 ความกด = 1010.79
วันที่ 24 ความกด = 1010.25
วันที่ 25 ความกด = 1011.52
วันที่ 26 ความกด = 1012.04
วันที่ 27 ความกด = 1012.0
วันที่ 28 ความกด = 1012.74
วันที่ 29 ความกด = 1011.69
วันที่ 30 ความกด = 1011.27
วันที่ 31 ความกด = 1011.71
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2011-11-01 00:00:00
วันที่ 1 ความกด = 1012.09
วันที่ 2 ความกด = 1011.32
วันที่ 3 ความกด = 1010.99
วันที่ 4 ความกด = 1011.47
วันที่ 5 ความกด = 1010.88
วันที่ 6 ความกด = 1009.62
วันที่ 7 ความกด = 1008.28
วันที่ 8 ความกด = 1007.65
วันที่ 9 ความกด = 1009.7
วันที่ 10 ความกด = 1011.87
วันที่ 11 ความกด = 1012.55
วันที่ 12 ความกด = 1013.66
วันที่ 13 ความกด = 1014.15
วันที่ 14 ความกด = 1014.75
วันที่ 15 ความกด = 1014.32
วันที่ 16 ความกด = 1012.65
วันที่ 17 ความกด = 1011.3
วันที่ 18 ความกด = 1009.32
วันที่ 19 ความกด = 1011.28
วันที่ 20 ความกด = 1014.61
วันที่ 21 ความกด = 1015.18
วันที่ 22 ความกด = 1014.21
วันที่ 23 ความกด = 1014.79
วันที่ 24 ความกด = 1015.74
วันที่ 25 ความกด = 1014.36
วันที่ 26 ความกด = 1013.3
วันที่ 27 ความกด = 1011.92
วันที่ 28 ความกด = 1009.86
วันที่ 29 ความกด = 1010.1
วันที่ 30 ความกด = 1010.43
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = เลย
 วันที่ เดือน/ปี ความกด = 2011-12-01 00:00:00
 วันที่ 1 ความกด = 1010.43
 วันที่ 2 ความกด = 1011.81
 วันที่ 3 ความกด = 1012.45
 วันที่ 4 ความกด = 1012.03
 วันที่ 5 ความกด = 1013.29
 วันที่ 6 ความกด = 1013.21
 วันที่ 7 ความกด = 1012.81
 วันที่ 8 ความกด = 1012.23
 วันที่ 9 ความกด = 1011.69
 วันที่ 10 ความกด = 1014.29
 วันที่ 11 ความกด = 1015.94
 วันที่ 12 ความกด = 1018.07
 วันที่ 13 ความกด = 1016.97
 วันที่ 14 ความกด = 1015.55
 วันที่ 15 ความกด = 1015.04
 วันที่ 16 ความกด = 1014.19
 วันที่ 17 ความกด = 1014.91
 วันที่ 18 ความกด = 1016.28
 วันที่ 19 ความกด = 1017.07
 วันที่ 20 ความกด = 1015.56
 วันที่ 21 ความกด = 1014.59
 วันที่ 22 ความกด = 1014.34
 วันที่ 23 ความกด = 1013.75
 วันที่ 24 ความกด = 1013.11
 วันที่ 25 ความกด = 1015.95
 วันที่ 26 ความกด = 1018.79
 วันที่ 27 ความกด = 1019.39
 วันที่ 28 ความกด = 1017.88
 วันที่ 29 ความกด = 1016.49
 วันที่ 30 ความกด = 1014.97
 วันที่ 31 ความกด = 1015.62
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2012-01-01 00:00:00
วันที่ 1 ความกด = 1015.42
วันที่ 2 ความกด = 1014.07
วันที่ 3 ความกด = 1012.35
วันที่ 4 ความกด = 1013.49
วันที่ 5 ความกด = 1014.99
วันที่ 6 ความกด = 1015.7
วันที่ 7 ความกด = 1017.24
วันที่ 8 ความกด = 1018.1
วันที่ 9 ความกด = 1017.31
วันที่ 10 ความกด = 1016.22
วันที่ 11 ความกด = 1016.14
วันที่ 12 ความกด = 1016.25
วันที่ 13 ความกด = 1013.84
วันที่ 14 ความกด = 1010.33
วันที่ 15 ความกด = 1008.24
วันที่ 16 ความกด = 1008.17
วันที่ 17 ความกด = 1007.83
วันที่ 18 ความกด = 1008.21
วันที่ 19 ความกด = 1009.13
วันที่ 20 ความกด = 1009.82
วันที่ 21 ความกด = 1008.81
วันที่ 22 ความกด = 1009.65
วันที่ 23 ความกด = 1010.1
วันที่ 24 ความกด = 1010.76
วันที่ 25 ความกด = 1011.11
วันที่ 26 ความกด = 1011.72
วันที่ 27 ความกด = 1010.91
วันที่ 28 ความกด = 1010.31
วันที่ 29 ความกด = 1010.16
วันที่ 30 ความกด = 1012.61
วันที่ 31 ความกด = 1014.4
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2012-02-01 00:00:00
วันที่ 1 ความกด = 1013.19
วันที่ 2 ความกด = 1012.82
วันที่ 3 ความกด = 1013.94
วันที่ 4 ความกด = 1013.18
วันที่ 5 ความกด = 1010.99
วันที่ 6 ความกด = 1008.58
วันที่ 7 ความกด = 1008.19
วันที่ 8 ความกด = 1009.6
วันที่ 9 ความกด = 1010.97
วันที่ 10 ความกด = 1010.97
วันที่ 11 ความกด = 1011.28
วันที่ 12 ความกด = 1012.2
วันที่ 13 ความกด = 1011.47
วันที่ 14 ความกด = 1010.1
วันที่ 15 ความกด = 1007.98
วันที่ 16 ความกด = 1008.04
วันที่ 17 ความกด = 1009.86
วันที่ 18 ความกด = 1011.95
วันที่ 19 ความกด = 1012.85
วันที่ 20 ความกด = 1011.71
วันที่ 21 ความกด = 1008.76
วันที่ 22 ความกด = 1006.79
วันที่ 23 ความกด = 1005.78
วันที่ 24 ความกด = 1005.48
วันที่ 25 ความกด = 1004.96
วันที่ 26 ความกด = 1005.05
วันที่ 27 ความกด = 1006.27
วันที่ 28 ความกด = 1005.59
วันที่ 29 ความกด = 1006.52
วันที่ 30 ความกด = 1010.43
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2012-10-01 00:00:00
วันที่ 1 ความกด = 1011.41
วันที่ 2 ความกด = 1010.77
วันที่ 3 ความกด = 1008.72
วันที่ 4 ความกด = 1007.1
วันที่ 5 ความกด = 1008.28
วันที่ 6 ความกด = 1010.43
วันที่ 7 ความกด = 1010.47
วันที่ 8 ความกด = 1010.63
วันที่ 9 ความกด = 1010.64
วันที่ 10 ความกด = 1011.63
วันที่ 11 ความกด = 1011.1
วันที่ 12 ความกด = 1010.39
วันที่ 13 ความกด = 1009.8
วันที่ 14 ความกด = 1009.97
วันที่ 15 ความกด = 1012.01
วันที่ 16 ความกด = 1012.11
วันที่ 17 ความกด = 1011.69
วันที่ 18 ความกด = 1012.89
วันที่ 19 ความกด = 1011.99
วันที่ 20 ความกด = 1012.01
วันที่ 21 ความกด = 1011.89
วันที่ 22 ความกด = 1011.98
วันที่ 23 ความกด = 1011.23
วันที่ 24 ความกด = 1010.45
วันที่ 25 ความกด = 1009.91
วันที่ 26 ความกด = 1009.48
วันที่ 27 ความกด = 1008.96
วันที่ 28 ความกด = 1008.94
วันที่ 29 ความกด = 1008.57
วันที่ 30 ความกด = 1008.67
วันที่ 31 ความกด = 1011.74
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2012-11-01 00:00:00
วันที่ 1 ความกด = 1012.46
วันที่ 2 ความกด = 1011.06
วันที่ 3 ความกด = 1010.41
วันที่ 4 ความกด = 1010.43
วันที่ 5 ความกด = 1010.33
วันที่ 6 ความกด = 1010.79
วันที่ 7 ความกด = 1009.67
วันที่ 8 ความกด = 1008.27
วันที่ 9 ความกด = 1008.55
วันที่ 10 ความกด = 1009.35
วันที่ 11 ความกด = 1010.36
วันที่ 12 ความกด = 1012.09
วันที่ 13 ความกด = 1012.04
วันที่ 14 ความกด = 1011.15
วันที่ 15 ความกด = 1011.28
วันที่ 16 ความกด = 1011.3
วันที่ 17 ความกด = 1011.76
วันที่ 18 ความกด = 1011.61
วันที่ 19 ความกด = 1011.05
วันที่ 20 ความกด = 1010.93
วันที่ 21 ความกด = 1010.11
วันที่ 22 ความกด = 1008.85
วันที่ 23 ความกด = 1008.87
วันที่ 24 ความกด = 1010.62
วันที่ 25 ความกด = 1011.06
วันที่ 26 ความกด = 1010.99
วันที่ 27 ความกด = 1010.52
วันที่ 28 ความกด = 1010.43
วันที่ 29 ความกด = 1010.11
วันที่ 30 ความกด = 1009.83
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2012-12-01 00:00:00
วันที่ 1 ความกด = 1009.81
วันที่ 2 ความกด = 1010.25
วันที่ 3 ความกด = 1011.09
วันที่ 4 ความกด = 1010.69
วันที่ 5 ความกด = 1010.66
วันที่ 6 ความกด = 1011.99
วันที่ 7 ความกด = 1011.76
วันที่ 8 ความกด = 1011.27
วันที่ 9 ความกด = 1010.69
วันที่ 10 ความกด = 1010.59
วันที่ 11 ความกด = 1010.82
วันที่ 12 ความกด = 1012.82
วันที่ 13 ความกด = 1013.49
วันที่ 14 ความกด = 1014.23
วันที่ 15 ความกด = 1012.83
วันที่ 16 ความกด = 1012.75
วันที่ 17 ความกด = 1011.48
วันที่ 18 ความกด = 1012.78
วันที่ 19 ความกด = 1011.94
วันที่ 20 ความกด = 1010.88
วันที่ 21 ความกด = 1011.24
วันที่ 22 ความกด = 1011.88
วันที่ 23 ความกด = 1014.52
วันที่ 24 ความกด = 1016.15
วันที่ 25 ความกด = 1013.87
วันที่ 26 ความกด = 1012.48
วันที่ 27 ความกด = 1011.23
วันที่ 28 ความกด = 1010.29
วันที่ 29 ความกด = 1010.23
วันที่ 30 ความกด = 1011.63
วันที่ 31 ความกด = 1014.75
 วันที่ จังหวัด ความกด = เลย
 วันที่ เดือน/ปี ความกด = 2013-01-01 00:00:00
 วันที่ 1 ความกด = 1014.63
 วันที่ 2 ความกด = 1013.32
 วันที่ 3 ความกด = 1013.99
 วันที่ 4 ความกด = 1012.97
 วันที่ 5 ความกด = 1011.7
 วันที่ 6 ความกด = 1012.76
 วันที่ 7 ความกด = 1012.56
 วันที่ 8 ความกด = 1011.84
 วันที่ 9 ความกด = 1011.04
 วันที่ 10 ความกด = 1011.87
 วันที่ 11 ความกด = 1012.73
 วันที่ 12 ความกด = 1013.2
 วันที่ 13 ความกด = 1012.04
 วันที่ 14 ความกด = 1011.72
 วันที่ 15 ความกด = 1013.34
 วันที่ 16 ความกด = 1014.29
 วันที่ 17 ความกด = 1016.31
 วันที่ 18 ความกด = 1018.52
 วันที่ 19 ความกด = 1016.45
 วันที่ 20 ความกด = 1015.55
 วันที่ 21 ความกด = 1015.12
 วันที่ 22 ความกด = 1014.37
 วันที่ 23 ความกด = 1013.02
 วันที่ 24 ความกด = 1012.71
 วันที่ 25 ความกด = 1012.15
 วันที่ 26 ความกด = 1011.74
 วันที่ 27 ความกด = 1014.16
 วันที่ 28 ความกด = 1015.69
 วันที่ 29 ความกด = 1014.81
 วันที่ 30 ความกด = 1014.81
 วันที่ 31 ความกด = 1016.39
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2013-02-01 00:00:00
วันที่ 1 ความกด = 1015.68
วันที่ 2 ความกด = 1014.51
วันที่ 3 ความกด = 1013.94
วันที่ 4 ความกด = 1013.86
วันที่ 5 ความกด = 1013.7
วันที่ 6 ความกด = 1011.59
วันที่ 7 ความกด = 1008.45
วันที่ 8 ความกด = 1008.92
วันที่ 9 ความกด = 1012.04
วันที่ 10 ความกด = 1012.29
วันที่ 11 ความกด = 1011.34
วันที่ 12 ความกด = 1011.39
วันที่ 13 ความกด = 1012.46
วันที่ 14 ความกด = 1011.31
วันที่ 15 ความกด = 1010.19
วันที่ 16 ความกด = 1010.58
วันที่ 17 ความกด = 1009.06
วันที่ 18 ความกด = 1007.89
วันที่ 19 ความกด = 1007.77
วันที่ 20 ความกด = 1008.75
วันที่ 21 ความกด = 1011.39
วันที่ 22 ความกด = 1014.41
วันที่ 23 ความกด = 1015.19
วันที่ 24 ความกด = 1013.89
วันที่ 25 ความกด = 1012.02
วันที่ 26 ความกด = 1010.21
วันที่ 27 ความกด = 1008.33
วันที่ 28 ความกด = 1006.6
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2013-10-01 00:00:00
วันที่ 1 ความกด = 1006.79
วันที่ 2 ความกด = 1009.61
วันที่ 3 ความกด = 1010.4
วันที่ 4 ความกด = 1009.45
วันที่ 5 ความกด = 1008.43
วันที่ 6 ความกด = 1008.67
วันที่ 7 ความกด = 1009.57
วันที่ 8 ความกด = 1010.07
วันที่ 9 ความกด = 1010.81
วันที่ 10 ความกด = 1011.51
วันที่ 11 ความกด = 1011.08
วันที่ 12 ความกด = 1009.55
วันที่ 13 ความกด = 1008.86
วันที่ 14 ความกด = 1007.53
วันที่ 15 ความกด = 1006.97
วันที่ 16 ความกด = 1006.87
วันที่ 17 ความกด = 1010.32
วันที่ 18 ความกด = 1012.38
วันที่ 19 ความกด = 1013.6
วันที่ 20 ความกด = 1013.04
วันที่ 21 ความกด = 1011.95
วันที่ 22 ความกด = 1013.13
วันที่ 23 ความกด = 1012.7
วันที่ 24 ความกด = 1012.26
วันที่ 25 ความกด = 1014.67
วันที่ 26 ความกด = 1015.04
วันที่ 27 ความกด = 1013.89
วันที่ 28 ความกด = 1014.06
วันที่ 29 ความกด = 1013.98
วันที่ 30 ความกด = 1013.17
วันที่ 31 ความกด = 1012.73
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2013-11-01 00:00:00
วันที่ 1 ความกด = 1012.15
วันที่ 2 ความกด = 1011.51
วันที่ 3 ความกด = 1012.06
วันที่ 4 ความกด = 1014.61
วันที่ 5 ความกด = 1014.44
วันที่ 6 ความกด = 1013.41
วันที่ 7 ความกด = 1012.64
วันที่ 8 ความกด = 1011.32
วันที่ 9 ความกด = 1010.55
วันที่ 10 ความกด = 1008.37
วันที่ 11 ความกด = 1006.59
วันที่ 12 ความกด = 1007.7
วันที่ 13 ความกด = 1008.92
วันที่ 14 ความกด = 1010.64
วันที่ 15 ความกด = 1012.85
วันที่ 16 ความกด = 1013.97
วันที่ 17 ความกด = 1013.82
วันที่ 18 ความกด = 1013.81
วันที่ 19 ความกด = 1014.03
วันที่ 20 ความกด = 1013.4
วันที่ 21 ความกด = 1012.37
วันที่ 22 ความกด = 1012.37
วันที่ 23 ความกด = 1011.48
วันที่ 24 ความกด = 1010.97
วันที่ 25 ความกด = 1010.37
วันที่ 26 ความกด = 1009.94
วันที่ 27 ความกด = 1011.64
วันที่ 28 ความกด = 1014.64
วันที่ 29 ความกด = 1016.92
วันที่ 30 ความกด = 1015.59
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = เลย
 วันที่ เดือน/ปี ความกด = 2013-12-01 00:00:00
 วันที่ 1 ความกด = 1016.55
 วันที่ 2 ความกด = 1016.2
 วันที่ 3 ความกด = 1014.86
 วันที่ 4 ความกด = 1014.6
 วันที่ 5 ความกด = 1012.75
 วันที่ 6 ความกด = 1012.95
 วันที่ 7 ความกด = 1014.03
 วันที่ 8 ความกด = 1012.97
 วันที่ 9 ความกด = 1011.66
 วันที่ 10 ความกด = 1011.02
 วันที่ 11 ความกด = 1011.04
 วันที่ 12 ความกด = 1010.89
 วันที่ 13 ความกด = 1011.49
 วันที่ 14 ความกด = 1010.89
 วันที่ 15 ความกด = 1009.03
 วันที่ 16 ความกด = 1011.13
 วันที่ 17 ความกด = 1014.3
 วันที่ 18 ความกด = 1014.93
 วันที่ 19 ความกด = 1016.73
 วันที่ 20 ความกด = 1017.78
 วันที่ 21 ความกด = 1018.87
 วันที่ 22 ความกด = 1019.13
 วันที่ 23 ความกด = 1017.52
 วันที่ 24 ความกด = 1018.11
 วันที่ 25 ความกด = 1017.88
 วันที่ 26 ความกด = 1017.11
 วันที่ 27 ความกด = 1018.02
 วันที่ 28 ความกด = 1017.6
 วันที่ 29 ความกด = 1017.3
 วันที่ 30 ความกด = 1017.81
 วันที่ 31 ความกด = 1018.09
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2014-01-01 00:00:00
วันที่ 1 ความกด = 1015.82
วันที่ 2 ความกด = 1013.82
วันที่ 3 ความกด = 1012.55
วันที่ 4 ความกด = 1012.86
วันที่ 5 ความกด = 1012.71
วันที่ 6 ความกด = 1011.55
วันที่ 7 ความกด = 1011.23
วันที่ 8 ความกด = 1012.34
วันที่ 9 ความกด = 1013.38
วันที่ 10 ความกด = 1015.83
วันที่ 11 ความกด = 1016.36
วันที่ 12 ความกด = 1017.01
วันที่ 13 ความกด = 1016.41
วันที่ 14 ความกด = 1018.37
วันที่ 15 ความกด = 1018.58
วันที่ 16 ความกด = 1019.15
วันที่ 17 ความกด = 1018.68
วันที่ 18 ความกด = 1021.25
วันที่ 19 ความกด = 1021.39
วันที่ 20 ความกด = 1020.01
วันที่ 21 ความกด = 1020.99
วันที่ 22 ความกด = 1021.19
วันที่ 23 ความกด = 1019.05
วันที่ 24 ความกด = 1015.13
วันที่ 25 ความกด = 1013.12
วันที่ 26 ความกด = 1014.93
วันที่ 27 ความกด = 1015.4
วันที่ 28 ความกด = 1014.46
วันที่ 29 ความกด = 1014.59
วันที่ 30 ความกด = 1015.44
วันที่ 31 ความกด = 1014.21
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2014-02-01 00:00:00
วันที่ 1 ความกด = 1012.3
วันที่ 2 ความกด = 1008.7
วันที่ 3 ความกด = 1006.54
วันที่ 4 ความกด = 1005.96
วันที่ 5 ความกด = 1006.46
วันที่ 6 ความกด = 1006.54
วันที่ 7 ความกด = 1006.6
วันที่ 8 ความกด = 1005.76
วันที่ 9 ความกด = 1006.51
วันที่ 10 ความกด = 1007.66
วันที่ 11 ความกด = 1009.64
วันที่ 12 ความกด = 1009.73
วันที่ 13 ความกด = 1011.58
วันที่ 14 ความกด = 1013.16
วันที่ 15 ความกด = 1012.22
วันที่ 16 ความกด = 1011.42
วันที่ 17 ความกด = 1011.54
วันที่ 18 ความกด = 1010.2
วันที่ 19 ความกด = 1011.35
วันที่ 20 ความกด = 1016.63
วันที่ 21 ความกด = 1015.89
วันที่ 22 ความกด = 1014.09
วันที่ 23 ความกด = 1012.73
วันที่ 24 ความกด = 1012.23
วันที่ 25 ความกด = 1011.42
วันที่ 26 ความกด = 1010.41
วันที่ 27 ความกด = 1010.84
วันที่ 28 ความกด = 1009.77
วันที่ 29 ความกด = 1017.86
วันที่ 30 ความกด = 1016.45
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2014-10-01 00:00:00
วันที่ 1 ความกด = 1010.38
วันที่ 2 ความกด = 1009.84
วันที่ 3 ความกด = 1008.74
วันที่ 4 ความกด = 1008.89
วันที่ 5 ความกด = 1009.4
วันที่ 6 ความกด = 1011.85
วันที่ 7 ความกด = 1011.45
วันที่ 8 ความกด = 1011.18
วันที่ 9 ความกด = 1010.62
วันที่ 10 ความกด = 1008.77
วันที่ 11 ความกด = 1009.43
วันที่ 12 ความกด = 1011.95
วันที่ 13 ความกด = 1013.85
วันที่ 14 ความกด = 1014.64
วันที่ 15 ความกด = 1014.13
วันที่ 16 ความกด = 1013.35
วันที่ 17 ความกด = 1013.03
วันที่ 18 ความกด = 1011.82
วันที่ 19 ความกด = 1011.91
วันที่ 20 ความกด = 1011.82
วันที่ 21 ความกด = 1012.72
วันที่ 22 ความกด = 1012.54
วันที่ 23 ความกด = 1012.1
วันที่ 24 ความกด = 1011.25
วันที่ 25 ความกด = 1011.84
วันที่ 26 ความกด = 1012.7
วันที่ 27 ความกด = 1011.57
วันที่ 28 ความกด = 1010.64
วันที่ 29 ความกด = 1011.28
วันที่ 30 ความกด = 1010.66
วันที่ 31 ความกด = 1009.8
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2014-11-01 00:00:00
วันที่ 1 ความกด = 1009.65
วันที่ 2 ความกด = 1010.52
วันที่ 3 ความกด = 1011.93
วันที่ 4 ความกด = 1012.48
วันที่ 5 ความกด = 1013.05
วันที่ 6 ความกด = 1011.92
วันที่ 7 ความกด = 1011.7
วันที่ 8 ความกด = 1012.02
วันที่ 9 ความกด = 1013.3
วันที่ 10 ความกด = 1011.87
วันที่ 11 ความกด = 1011.72
วันที่ 12 ความกด = 1012.31
วันที่ 13 ความกด = 1013.88
วันที่ 14 ความกด = 1014.57
วันที่ 15 ความกด = 1013.6
วันที่ 16 ความกด = 1013.32
วันที่ 17 ความกด = 1014.25
วันที่ 18 ความกด = 1016.42
วันที่ 19 ความกด = 1015.86
วันที่ 20 ความกด = 1014.51
วันที่ 21 ความกด = 1013.05
วันที่ 22 ความกด = 1012.56
วันที่ 23 ความกด = 1012.29
วันที่ 24 ความกด = 1011.96
วันที่ 25 ความกด = 1010.78
วันที่ 26 ความกด = 1009.32
วันที่ 27 ความกด = 1009.99
วันที่ 28 ความกด = 1010.12
วันที่ 29 ความกด = 1009.47
วันที่ 30 ความกด = 1008.68
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2014-12-01 00:00:00
วันที่ 1 ความกด = 1010.32
วันที่ 2 ความกด = 1011.9
วันที่ 3 ความกด = 1011.0
วันที่ 4 ความกด = 1012.64
วันที่ 5 ความกด = 1014.67
วันที่ 6 ความกด = 1013.46
วันที่ 7 ความกด = 1011.9
วันที่ 8 ความกด = 1013.62
วันที่ 9 ความกด = 1015.37
วันที่ 10 ความกด = 1014.8
วันที่ 11 ความกด = 1014.74
วันที่ 12 ความกด = 1016.74
วันที่ 13 ความกด = 1018.62
วันที่ 14 ความกด = 1017.51
วันที่ 15 ความกด = 1015.35
วันที่ 16 ความกด = 1017.0
วันที่ 17 ความกด = 1019.13
วันที่ 18 ความกด = 1019.21
วันที่ 19 ความกด = 1018.15
วันที่ 20 ความกด = 1015.58
วันที่ 21 ความกด = 1015.55
วันที่ 22 ความกด = 1017.66
วันที่ 23 ความกด = 1016.56
วันที่ 24 ความกด = 1016.6
วันที่ 25 ความกด = 1014.85
วันที่ 26 ความกด = 1012.38
วันที่ 27 ความกด = 1012.92
วันที่ 28 ความกด = 1015.29
วันที่ 29 ความกด = 1016.47
วันที่ 30 ความกด = 1014.51
วันที่ 31 ความกด = 1015.73
 วันที่ จังหวัด ความกด = เลย
 วันที่ เดือน/ปี ความกด = 2015-01-01 00:00:00
 วันที่ 1 ความกด = 1018.46
 วันที่ 2 ความกด = 1019.27
 วันที่ 3 ความกด = 1017.13
 วันที่ 4 ความกด = 1012.48
 วันที่ 5 ความกด = 1010.52
 วันที่ 6 ความกด = 1010.34
 วันที่ 7 ความกด = 1011.62
 วันที่ 8 ความกด = 1015.3
 วันที่ 9 ความกด = 1015.99
 วันที่ 10 ความกด = 1016.67
 วันที่ 11 ความกด = 1017.43
 วันที่ 12 ความกด = 1017.57
 วันที่ 13 ความกด = 1018.28
 วันที่ 14 ความกด = 1018.38
 วันที่ 15 ความกด = 1017.47
 วันที่ 16 ความกด = 1017.14
 วันที่ 17 ความกด = 1018.26
 วันที่ 18 ความกด = 1017.82
 วันที่ 19 ความกด = 1017.74
 วันที่ 20 ความกด = 1017.25
 วันที่ 21 ความกด = 1017.81
 วันที่ 22 ความกด = 1017.21
 วันที่ 23 ความกด = 1013.73
 วันที่ 24 ความกด = 1013.36
 วันที่ 25 ความกด = 1014.08
 วันที่ 26 ความกด = 1013.97
 วันที่ 27 ความกด = 1012.07
 วันที่ 28 ความกด = 1011.37
 วันที่ 29 ความกด = 1012.32
 วันที่ 30 ความกด = 1013.41
 วันที่ 31 ความกด = 1015.9
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2015-02-01 00:00:00
วันที่ 1 ความกด = 1017.04
วันที่ 2 ความกด = 1017.88
วันที่ 3 ความกด = 1018.25
วันที่ 4 ความกด = 1016.36
วันที่ 5 ความกด = 1016.34
วันที่ 6 ความกด = 1017.39
วันที่ 7 ความกด = 1015.23
วันที่ 8 ความกด = 1016.02
วันที่ 9 ความกด = 1016.95
วันที่ 10 ความกด = 1015.55
วันที่ 11 ความกด = 1012.83
วันที่ 12 ความกด = 1011.86
วันที่ 13 ความกด = 1011.33
วันที่ 14 ความกด = 1010.01
วันที่ 15 ความกด = 1011.24
วันที่ 16 ความกด = 1011.74
วันที่ 17 ความกด = 1011.56
วันที่ 18 ความกด = 1011.8
วันที่ 19 ความกด = 1013.38
วันที่ 20 ความกด = 1012.18
วันที่ 21 ความกด = 1010.74
วันที่ 22 ความกด = 1011.34
วันที่ 23 ความกด = 1012.12
วันที่ 24 ความกด = 1009.85
วันที่ 25 ความกด = 1008.45
วันที่ 26 ความกด = 1008.38
วันที่ 27 ความกด = 1008.99
วันที่ 28 ความกด = 1009.4
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2015-10-01 00:00:00
วันที่ 1 ความกด = 1011.38
วันที่ 2 ความกด = 1010.69
วันที่ 3 ความกด = 1010.42
วันที่ 4 ความกด = 1010.12
วันที่ 5 ความกด = 1010.15
วันที่ 6 ความกด = 1010.56
วันที่ 7 ความกด = 1011.12
วันที่ 8 ความกด = 1010.5
วันที่ 9 ความกด = 1008.88
วันที่ 10 ความกด = 1009.21
วันที่ 11 ความกด = 1013.99
วันที่ 12 ความกด = 1015.93
วันที่ 13 ความกด = 1015.67
วันที่ 14 ความกด = 1014.36
วันที่ 15 ความกด = 1013.63
วันที่ 16 ความกด = 1012.33
วันที่ 17 ความกด = 1011.44
วันที่ 18 ความกด = 1011.83
วันที่ 19 ความกด = 1010.6
วันที่ 20 ความกด = 1008.99
วันที่ 21 ความกด = 1009.21
วันที่ 22 ความกด = 1010.23
วันที่ 23 ความกด = 1011.12
วันที่ 24 ความกด = 1011.92
วันที่ 25 ความกด = 1012.88
วันที่ 26 ความกด = 1013.29
วันที่ 27 ความกด = 1012.0
วันที่ 28 ความกด = 1012.99
วันที่ 29 ความกด = 1013.31
วันที่ 30 ความกด = 1013.26
วันที่ 31 ความกด = 1014.4
วันที่ จังหวัด ความกด = เลย
วันที่ เดือน/ปี ความกด = 2015-11-01 00:00:00
วันที่ 1 ความกด = 1014.98
วันที่ 2 ความกด = 1015.29
วันที่ 3 ความกด = 1014.61
วันที่ 4 ความกด = 1013.22
วันที่ 5 ความกด = 1011.33
วันที่ 6 ความกด = 1010.56
วันที่ 7 ความกด = 1012.4
วันที่ 8 ความกด = 1012.97
วันที่ 9 ความกด = 1011.69
วันที่ 10 ความกด = 1010.96
วันที่ 11 ความกด = 1011.29
วันที่ 12 ความกด = 1011.84
วันที่ 13 ความกด = 1011.43
วันที่ 14 ความกด = 1010.72
วันที่ 15 ความกด = 1010.39
วันที่ 16 ความกด = 1009.91
วันที่ 17 ความกด = 1009.7
วันที่ 18 ความกด = 1011.48
วันที่ 19 ความกด = 1012.4
วันที่ 20 ความกด = 1011.96
วันที่ 21 ความกด = 1012.08
วันที่ 22 ความกด = 1012.1
วันที่ 23 ความกด = 1012.61
วันที่ 24 ความกด = 1011.87
วันที่ 25 ความกด = 1012.18
วันที่ 26 ความกด = 1012.75
วันที่ 27 ความกด = 1014.53
วันที่ 28 ความกด = 1015.93
วันที่ 29 ความกด = 1015.98
วันที่ 30 ความกด = 1014.23
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = เลย
 วันที่ เดือน/ปี ความกด = 2015-12-01 00:00:00
 วันที่ 1 ความกด = 1012.41
 วันที่ 2 ความกด = 1012.12
 วันที่ 3 ความกด = 1012.62
 วันที่ 4 ความกด = 1012.6

#ความชื้นสัมพันธ์

##ขอนแก่น

In [826]:
b1 = df211[['จังหวัด','เดือน/ปี','1','2','3','4','5','6','7','8','9','10','11','12','13',
       '14','15','16','17','18','19','20','21','22','23',
       '24','25','26','27','28','29','30','31']]

In [827]:
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[1]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[2]))
for name, values in b1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[3]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[4]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[5]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[6]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[7]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[8]))
for name, values in b1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[9]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[10]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[11]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[12]))
for name, values in b1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[13]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[14]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[15]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[16]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[17]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[18]))
for name, values in b1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[19]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[20]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[21]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[22]))
for name, values in b1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[23]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[24]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[25]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[26]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[27]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[28]))
for name, values in b1.iteritems():
    print(' วันที่ {name} ความกด = {value}'.format(name=name, value=values[29]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[30]))
for name, values in b1.iteritems():
    print('วันที่ {name} ความกด = {value}'.format(name=name, value=values[31]))

วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2011-10-01 00:00:00
วันที่ 1 ความกด = 83
วันที่ 2 ความกด = 92
วันที่ 3 ความกด = 86
วันที่ 4 ความกด = 80
วันที่ 5 ความกด = 86
วันที่ 6 ความกด = 86
วันที่ 7 ความกด = 83
วันที่ 8 ความกด = 82
วันที่ 9 ความกด = 82
วันที่ 10 ความกด = 77
วันที่ 11 ความกด = 78
วันที่ 12 ความกด = 86
วันที่ 13 ความกด = 88
วันที่ 14 ความกด = 91
วันที่ 15 ความกด = 91
วันที่ 16 ความกด = 85
วันที่ 17 ความกด = 85
วันที่ 18 ความกด = 72
วันที่ 19 ความกด = 71
วันที่ 20 ความกด = 74
วันที่ 21 ความกด = 71
วันที่ 22 ความกด = 73
วันที่ 23 ความกด = 73
วันที่ 24 ความกด = 72
วันที่ 25 ความกด = 73
วันที่ 26 ความกด = 69
วันที่ 27 ความกด = 69
วันที่ 28 ความกด = 75
วันที่ 29 ความกด = 71
วันที่ 30 ความกด = 71
วันที่ 31 ความกด = 68
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2011-11-01 00:00:00
วันที่ 1 ความกด = 71
วันที่ 2 ความกด = 65
วันที่ 3 ความกด = 68
วันที่ 4 ความกด = 65
วันที่ 5 ความกด = 65
วันที่ 6 ความกด = 68
วันที่ 7 ความกด = 69
วันที่ 8 ความกด = 69
วันที่ 9 ความกด = 80
วันที่ 10 ความกด = 83
วันที่ 11 ความกด = 75
วันที่ 12 ความกด = 66
วันที่ 13 ความกด = 66
วันที่ 14 ความกด = 64
วันที่ 15 ความกด = 66
วันที่ 16 ความกด = 67
วันที่ 17 ความกด = 68
วันที่ 18 ความกด = 70
วันที่ 19 ความกด = 66
วันที่ 20 ความกด = 62
วันที่ 21 ความกด = 65
วันที่ 22 ความกด = 69
วันที่ 23 ความกด = 65
วันที่ 24 ความกด = 66
วันที่ 25 ความกด = 65
วันที่ 26 ความกด = 67
วันที่ 27 ความกด = 68
วันที่ 28 ความกด = 67
วันที่ 29 ความกด = 67
วันที่ 30 ความกด = 65
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = ขอนแก่น
 วันที่ เดือน/ปี ความกด = 2011-12-01 00:00:00
 วันที่ 1 ความกด = 66
 วันที่ 2 ความกด = 61
 วันที่ 3 ความกด = 61
 วันที่ 4 ความกด = 62
 วันที่ 5 ความกด = 61
 วันที่ 6 ความกด = 60
 วันที่ 7 ความกด = 69
 วันที่ 8 ความกด = 68
 วันที่ 9 ความกด = 62
 วันที่ 10 ความกด = 61
 วันที่ 11 ความกด = 59
 วันที่ 12 ความกด = 60
 วันที่ 13 ความกด = 62
 วันที่ 14 ความกด = 66
 วันที่ 15 ความกด = 63
 วันที่ 16 ความกด = 61
 วันที่ 17 ความกด = 63
 วันที่ 18 ความกด = 62
 วันที่ 19 ความกด = 68
 วันที่ 20 ความกด = 64
 วันที่ 21 ความกด = 64
 วันที่ 22 ความกด = 64
 วันที่ 23 ความกด = 63
 วันที่ 24 ความกด = 62
 วันที่ 25 ความกด = 60
 วันที่ 26 ความกด = 60
 วันที่ 27 ความกด = 62
 วันที่ 28 ความกด = 65
 วันที่ 29 ความกด = 66
 วันที่ 30 ความกด = 63
 วันที่ 31 ความกด = 64
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2012-01-01 00:00:00
วันที่ 1 ความกด = 65
วันที่ 2 ความกด = 66
วันที่ 3 ความกด = 69
วันที่ 4 ความกด = 63
วันที่ 5 ความกด = 64
วันที่ 6 ความกด = 68
วันที่ 7 ความกด = 65
วันที่ 8 ความกด = 62
วันที่ 9 ความกด = 60
วันที่ 10 ความกด = 60
วันที่ 11 ความกด = 59
วันที่ 12 ความกด = 61
วันที่ 13 ความกด = 67
วันที่ 14 ความกด = 67
วันที่ 15 ความกด = 72
วันที่ 16 ความกด = 72
วันที่ 17 ความกด = 64
วันที่ 18 ความกด = 73
วันที่ 19 ความกด = 78
วันที่ 20 ความกด = 84
วันที่ 21 ความกด = 86
วันที่ 22 ความกด = 78
วันที่ 23 ความกด = 80
วันที่ 24 ความกด = 74
วันที่ 25 ความกด = 75
วันที่ 26 ความกด = 71
วันที่ 27 ความกด = 75
วันที่ 28 ความกด = 69
วันที่ 29 ความกด = 70
วันที่ 30 ความกด = 67
วันที่ 31 ความกด = 68
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2012-02-01 00:00:00
วันที่ 1 ความกด = 71
วันที่ 2 ความกด = 72
วันที่ 3 ความกด = 71
วันที่ 4 ความกด = 72
วันที่ 5 ความกด = 70
วันที่ 6 ความกด = 68
วันที่ 7 ความกด = 61
วันที่ 8 ความกด = 69
วันที่ 9 ความกด = 70
วันที่ 10 ความกด = 70
วันที่ 11 ความกด = 65
วันที่ 12 ความกด = 65
วันที่ 13 ความกด = 65
วันที่ 14 ความกด = 67
วันที่ 15 ความกด = 64
วันที่ 16 ความกด = 64
วันที่ 17 ความกด = 68
วันที่ 18 ความกด = 66
วันที่ 19 ความกด = 60
วันที่ 20 ความกด = 63
วันที่ 21 ความกด = 64
วันที่ 22 ความกด = 57
วันที่ 23 ความกด = 58
วันที่ 24 ความกด = 53
วันที่ 25 ความกด = 48
วันที่ 26 ความกด = 57
วันที่ 27 ความกด = 71
วันที่ 28 ความกด = 73
วันที่ 29 ความกด = 68
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2012-10-01 00:00:00
วันที่ 1 ความกด = 73
วันที่ 2 ความกด = 73
วันที่ 3 ความกด = 72
วันที่ 4 ความกด = 81
วันที่ 5 ความกด = 83
วันที่ 6 ความกด = 73
วันที่ 7 ความกด = 70
วันที่ 8 ความกด = 86
วันที่ 9 ความกด = 78
วันที่ 10 ความกด = 71
วันที่ 11 ความกด = 72
วันที่ 12 ความกด = 74
วันที่ 13 ความกด = 77
วันที่ 14 ความกด = 75
วันที่ 15 ความกด = 72
วันที่ 16 ความกด = 69
วันที่ 17 ความกด = 72
วันที่ 18 ความกด = 67
วันที่ 19 ความกด = 69
วันที่ 20 ความกด = 70
วันที่ 21 ความกด = 67
วันที่ 22 ความกด = 65
วันที่ 23 ความกด = 65
วันที่ 24 ความกด = 68
วันที่ 25 ความกด = 69
วันที่ 26 ความกด = 69
วันที่ 27 ความกด = 62
วันที่ 28 ความกด = 64
วันที่ 29 ความกด = 69
วันที่ 30 ความกด = 74
วันที่ 31 ความกด = 68
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2012-11-01 00:00:00
วันที่ 1 ความกด = 64
วันที่ 2 ความกด = 67
วันที่ 3 ความกด = 67
วันที่ 4 ความกด = 66
วันที่ 5 ความกด = 65
วันที่ 6 ความกด = 65
วันที่ 7 ความกด = 67
วันที่ 8 ความกด = 70
วันที่ 9 ความกด = 72
วันที่ 10 ความกด = 67
วันที่ 11 ความกด = 67
วันที่ 12 ความกด = 65
วันที่ 13 ความกด = 66
วันที่ 14 ความกด = 67
วันที่ 15 ความกด = 60
วันที่ 16 ความกด = 59
วันที่ 17 ความกด = 68
วันที่ 18 ความกด = 63
วันที่ 19 ความกด = 64
วันที่ 20 ความกด = 66
วันที่ 21 ความกด = 62
วันที่ 22 ความกด = 64
วันที่ 23 ความกด = 63
วันที่ 24 ความกด = 75
วันที่ 25 ความกด = 82
วันที่ 26 ความกด = 75
วันที่ 27 ความกด = 73
วันที่ 28 ความกด = 73
วันที่ 29 ความกด = 75
วันที่ 30 ความกด = 74
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2012-12-01 00:00:00
วันที่ 1 ความกด = 68
วันที่ 2 ความกด = 66
วันที่ 3 ความกด = 69
วันที่ 4 ความกด = 71
วันที่ 5 ความกด = 69
วันที่ 6 ความกด = 63
วันที่ 7 ความกด = 67
วันที่ 8 ความกด = 67
วันที่ 9 ความกด = 70
วันที่ 10 ความกด = 67
วันที่ 11 ความกด = 63
วันที่ 12 ความกด = 63
วันที่ 13 ความกด = 67
วันที่ 14 ความกด = 63
วันที่ 15 ความกด = 64
วันที่ 16 ความกด = 59
วันที่ 17 ความกด = 58
วันที่ 18 ความกด = 57
วันที่ 19 ความกด = 61
วันที่ 20 ความกด = 62
วันที่ 21 ความกด = 55
วันที่ 22 ความกด = 56
วันที่ 23 ความกด = 59
วันที่ 24 ความกด = 56
วันที่ 25 ความกด = 60
วันที่ 26 ความกด = 59
วันที่ 27 ความกด = 58
วันที่ 28 ความกด = 61
วันที่ 29 ความกด = 57
วันที่ 30 ความกด = 55
วันที่ 31 ความกด = 54
 วันที่ จังหวัด ความกด = ขอนแก่น
 วันที่ เดือน/ปี ความกด = 2013-01-01 00:00:00
 วันที่ 1 ความกด = 62
 วันที่ 2 ความกด = 58
 วันที่ 3 ความกด = 59
 วันที่ 4 ความกด = 60
 วันที่ 5 ความกด = 62
 วันที่ 6 ความกด = 61
 วันที่ 7 ความกด = 62
 วันที่ 8 ความกด = 63
 วันที่ 9 ความกด = 62
 วันที่ 10 ความกด = 61
 วันที่ 11 ความกด = 63
 วันที่ 12 ความกด = 61
 วันที่ 13 ความกด = 63
 วันที่ 14 ความกด = 62
 วันที่ 15 ความกด = 68
 วันที่ 16 ความกด = 59
 วันที่ 17 ความกด = 52
 วันที่ 18 ความกด = 57
 วันที่ 19 ความกด = 59
 วันที่ 20 ความกด = 55
 วันที่ 21 ความกด = 49
 วันที่ 22 ความกด = 54
 วันที่ 23 ความกด = 59
 วันที่ 24 ความกด = 59
 วันที่ 25 ความกด = 59
 วันที่ 26 ความกด = 67
 วันที่ 27 ความกด = 71
 วันที่ 28 ความกด = 91
 วันที่ 29 ความกด = 78
 วันที่ 30 ความกด = 71
 วันที่ 31 ความกด = 72
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2013-02-01 00:00:00
วันที่ 1 ความกด = 69
วันที่ 2 ความกด = 66
วันที่ 3 ความกด = 62
วันที่ 4 ความกด = 58
วันที่ 5 ความกด = 59
วันที่ 6 ความกด = 53
วันที่ 7 ความกด = 50
วันที่ 8 ความกด = 47
วันที่ 9 ความกด = 61
วันที่ 10 ความกด = 56
วันที่ 11 ความกด = 60
วันที่ 12 ความกด = 54
วันที่ 13 ความกด = 54
วันที่ 14 ความกด = 55
วันที่ 15 ความกด = 49
วันที่ 16 ความกด = 55
วันที่ 17 ความกด = 58
วันที่ 18 ความกด = 53
วันที่ 19 ความกด = 55
วันที่ 20 ความกด = 53
วันที่ 21 ความกด = 52
วันที่ 22 ความกด = 51
วันที่ 23 ความกด = 50
วันที่ 24 ความกด = 52
วันที่ 25 ความกด = 56
วันที่ 26 ความกด = 53
วันที่ 27 ความกด = 51
วันที่ 28 ความกด = 54
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2013-10-01 00:00:00
วันที่ 1 ความกด = 86
วันที่ 2 ความกด = 85
วันที่ 3 ความกด = 78
วันที่ 4 ความกด = 73
วันที่ 5 ความกด = 69
วันที่ 6 ความกด = 72
วันที่ 7 ความกด = 72
วันที่ 8 ความกด = 66
วันที่ 9 ความกด = 65
วันที่ 10 ความกด = 68
วันที่ 11 ความกด = 69
วันที่ 12 ความกด = 72
วันที่ 13 ความกด = 74
วันที่ 14 ความกด = 81
วันที่ 15 ความกด = 73
วันที่ 16 ความกด = 91
วันที่ 17 ความกด = 86
วันที่ 18 ความกด = 82
วันที่ 19 ความกด = 76
วันที่ 20 ความกด = 76
วันที่ 21 ความกด = 79
วันที่ 22 ความกด = 74
วันที่ 23 ความกด = 73
วันที่ 24 ความกด = 71
วันที่ 25 ความกด = 75
วันที่ 26 ความกด = 69
วันที่ 27 ความกด = 68
วันที่ 28 ความกด = 69
วันที่ 29 ความกด = 71
วันที่ 30 ความกด = 70
วันที่ 31 ความกด = 69
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2013-11-01 00:00:00
วันที่ 1 ความกด = 68
วันที่ 2 ความกด = 69
วันที่ 3 ความกด = 62
วันที่ 4 ความกด = 65
วันที่ 5 ความกด = 66
วันที่ 6 ความกด = 68
วันที่ 7 ความกด = 76
วันที่ 8 ความกด = 72
วันที่ 9 ความกด = 70
วันที่ 10 ความกด = 65
วันที่ 11 ความกด = 67
วันที่ 12 ความกด = 71
วันที่ 13 ความกด = 73
วันที่ 14 ความกด = 71
วันที่ 15 ความกด = 68
วันที่ 16 ความกด = 68
วันที่ 17 ความกด = 71
วันที่ 18 ความกด = 69
วันที่ 19 ความกด = 68
วันที่ 20 ความกด = 71
วันที่ 21 ความกด = 69
วันที่ 22 ความกด = 67
วันที่ 23 ความกด = 68
วันที่ 24 ความกด = 69
วันที่ 25 ความกด = 71
วันที่ 26 ความกด = 71
วันที่ 27 ความกด = 70
วันที่ 28 ความกด = 66
วันที่ 29 ความกด = 61
วันที่ 30 ความกด = 64
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = ขอนแก่น
 วันที่ เดือน/ปี ความกด = 2013-12-01 00:00:00
 วันที่ 1 ความกด = 63
 วันที่ 2 ความกด = 60
 วันที่ 3 ความกด = 56
 วันที่ 4 ความกด = 61
 วันที่ 5 ความกด = 63
 วันที่ 6 ความกด = 63
 วันที่ 7 ความกด = 59
 วันที่ 8 ความกด = 64
 วันที่ 9 ความกด = 60
 วันที่ 10 ความกด = 63
 วันที่ 11 ความกด = 66
 วันที่ 12 ความกด = 66
 วันที่ 13 ความกด = 67
 วันที่ 14 ความกด = 68
 วันที่ 15 ความกด = 74
 วันที่ 16 ความกด = 94
 วันที่ 17 ความกด = 73
 วันที่ 18 ความกด = 63
 วันที่ 19 ความกด = 63
 วันที่ 20 ความกด = 64
 วันที่ 21 ความกด = 61
 วันที่ 22 ความกด = 65
 วันที่ 23 ความกด = 68
 วันที่ 24 ความกด = 63
 วันที่ 25 ความกด = 62
 วันที่ 26 ความกด = 62
 วันที่ 27 ความกด = 60
 วันที่ 28 ความกด = 65
 วันที่ 29 ความกด = 65
 วันที่ 30 ความกด = 66
 วันที่ 31 ความกด = 63
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2014-01-01 00:00:00
วันที่ 1 ความกด = 62
วันที่ 2 ความกด = 63
วันที่ 3 ความกด = 64
วันที่ 4 ความกด = 65
วันที่ 5 ความกด = 64
วันที่ 6 ความกด = 67
วันที่ 7 ความกด = 66
วันที่ 8 ความกด = 63
วันที่ 9 ความกด = 64
วันที่ 10 ความกด = 66
วันที่ 11 ความกด = 64
วันที่ 12 ความกด = 65
วันที่ 13 ความกด = 59
วันที่ 14 ความกด = 59
วันที่ 15 ความกด = 57
วันที่ 16 ความกด = 57
วันที่ 17 ความกด = 56
วันที่ 18 ความกด = 59
วันที่ 19 ความกด = 58
วันที่ 20 ความกด = 62
วันที่ 21 ความกด = 55
วันที่ 22 ความกด = 55
วันที่ 23 ความกด = 52
วันที่ 24 ความกด = 50
วันที่ 25 ความกด = 50
วันที่ 26 ความกด = 59
วันที่ 27 ความกด = 60
วันที่ 28 ความกด = 59
วันที่ 29 ความกด = 60
วันที่ 30 ความกด = 60
วันที่ 31 ความกด = 59
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2014-02-01 00:00:00
วันที่ 1 ความกด = 60
วันที่ 2 ความกด = 55
วันที่ 3 ความกด = 55
วันที่ 4 ความกด = 51
วันที่ 5 ความกด = 59
วันที่ 6 ความกด = 60
วันที่ 7 ความกด = 61
วันที่ 8 ความกด = 61
วันที่ 9 ความกด = 57
วันที่ 10 ความกด = 51
วันที่ 11 ความกด = 61
วันที่ 12 ความกด = 64
วันที่ 13 ความกด = 66
วันที่ 14 ความกด = 58
วันที่ 15 ความกด = 63
วันที่ 16 ความกด = 67
วันที่ 17 ความกด = 63
วันที่ 18 ความกด = 61
วันที่ 19 ความกด = 61
วันที่ 20 ความกด = 58
วันที่ 21 ความกด = 60
วันที่ 22 ความกด = 61
วันที่ 23 ความกด = 59
วันที่ 24 ความกด = 60
วันที่ 25 ความกด = 57
วันที่ 26 ความกด = 59
วันที่ 27 ความกด = 61
วันที่ 28 ความกด = 57
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2014-10-01 00:00:00
วันที่ 1 ความกด = 83
วันที่ 2 ความกด = 75
วันที่ 3 ความกด = 73
วันที่ 4 ความกด = 69
วันที่ 5 ความกด = 73
วันที่ 6 ความกด = 73
วันที่ 7 ความกด = 68
วันที่ 8 ความกด = 72
วันที่ 9 ความกด = 72
วันที่ 10 ความกด = 73
วันที่ 11 ความกด = 80
วันที่ 12 ความกด = 68
วันที่ 13 ความกด = 67
วันที่ 14 ความกด = 63
วันที่ 15 ความกด = 62
วันที่ 16 ความกด = 66
วันที่ 17 ความกด = 70
วันที่ 18 ความกด = 66
วันที่ 19 ความกด = 74
วันที่ 20 ความกด = 75
วันที่ 21 ความกด = 81
วันที่ 22 ความกด = 71
วันที่ 23 ความกด = 72
วันที่ 24 ความกด = 84
วันที่ 25 ความกด = 76
วันที่ 26 ความกด = 76
วันที่ 27 ความกด = 72
วันที่ 28 ความกด = 77
วันที่ 29 ความกด = 77
วันที่ 30 ความกด = 79
วันที่ 31 ความกด = 75
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2014-11-01 00:00:00
วันที่ 1 ความกด = 74
วันที่ 2 ความกด = 72
วันที่ 3 ความกด = 69
วันที่ 4 ความกด = 71
วันที่ 5 ความกด = 75
วันที่ 6 ความกด = 79
วันที่ 7 ความกด = 84
วันที่ 8 ความกด = 81
วันที่ 9 ความกด = 77
วันที่ 10 ความกด = 76
วันที่ 11 ความกด = 70
วันที่ 12 ความกด = 69
วันที่ 13 ความกด = 72
วันที่ 14 ความกด = 69
วันที่ 15 ความกด = 68
วันที่ 16 ความกด = 66
วันที่ 17 ความกด = 66
วันที่ 18 ความกด = 69
วันที่ 19 ความกด = 66
วันที่ 20 ความกด = 65
วันที่ 21 ความกด = 68
วันที่ 22 ความกด = 68
วันที่ 23 ความกด = 61
วันที่ 24 ความกด = 59
วันที่ 25 ความกด = 60
วันที่ 26 ความกด = 59
วันที่ 27 ความกด = 66
วันที่ 28 ความกด = 70
วันที่ 29 ความกด = 67
วันที่ 30 ความกด = 61
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2014-12-01 00:00:00
วันที่ 1 ความกด = 62
วันที่ 2 ความกด = 72
วันที่ 3 ความกด = 70
วันที่ 4 ความกด = 71
วันที่ 5 ความกด = 67
วันที่ 6 ความกด = 68
วันที่ 7 ความกด = 70
วันที่ 8 ความกด = 62
วันที่ 9 ความกด = 62
วันที่ 10 ความกด = 64
วันที่ 11 ความกด = 66
วันที่ 12 ความกด = 59
วันที่ 13 ความกด = 63
วันที่ 14 ความกด = 63
วันที่ 15 ความกด = 60
วันที่ 16 ความกด = 63
วันที่ 17 ความกด = 48
วันที่ 18 ความกด = 52
วันที่ 19 ความกด = 51
วันที่ 20 ความกด = 57
วันที่ 21 ความกด = 57
วันที่ 22 ความกด = 55
วันที่ 23 ความกด = 58
วันที่ 24 ความกด = 61
วันที่ 25 ความกด = 66
วันที่ 26 ความกด = 63
วันที่ 27 ความกด = 67
วันที่ 28 ความกด = 61
วันที่ 29 ความกด = 60
วันที่ 30 ความกด = 63
วันที่ 31 ความกด = 61
 วันที่ จังหวัด ความกด = ขอนแก่น
 วันที่ เดือน/ปี ความกด = 2015-01-01 00:00:00
 วันที่ 1 ความกด = 54
 วันที่ 2 ความกด = 52
 วันที่ 3 ความกด = 59
 วันที่ 4 ความกด = 61
 วันที่ 5 ความกด = 59
 วันที่ 6 ความกด = 57
 วันที่ 7 ความกด = 62
 วันที่ 8 ความกด = 62
 วันที่ 9 ความกด = 60
 วันที่ 10 ความกด = 68
 วันที่ 11 ความกด = 72
 วันที่ 12 ความกด = 70
 วันที่ 13 ความกด = 55
 วันที่ 14 ความกด = 50
 วันที่ 15 ความกด = 52
 วันที่ 16 ความกด = 53
 วันที่ 17 ความกด = 56
 วันที่ 18 ความกด = 61
 วันที่ 19 ความกด = 62
 วันที่ 20 ความกด = 62
 วันที่ 21 ความกด = 53
 วันที่ 22 ความกด = 56
 วันที่ 23 ความกด = 54
 วันที่ 24 ความกด = 54
 วันที่ 25 ความกด = 50
 วันที่ 26 ความกด = 51
 วันที่ 27 ความกด = 52
 วันที่ 28 ความกด = 52
 วันที่ 29 ความกด = 51
 วันที่ 30 ความกด = 57
 วันที่ 31 ความกด = 51
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2015-02-01 00:00:00
วันที่ 1 ความกด = 48
วันที่ 2 ความกด = 56
วันที่ 3 ความกด = 57
วันที่ 4 ความกด = 53
วันที่ 5 ความกด = 54
วันที่ 6 ความกด = 55
วันที่ 7 ความกด = 56
วันที่ 8 ความกด = 55
วันที่ 9 ความกด = 57
วันที่ 10 ความกด = 59
วันที่ 11 ความกด = 54
วันที่ 12 ความกด = 57
วันที่ 13 ความกด = 66
วันที่ 14 ความกด = 78
วันที่ 15 ความกด = 68
วันที่ 16 ความกด = 68
วันที่ 17 ความกด = 79
วันที่ 18 ความกด = 77
วันที่ 19 ความกด = 74
วันที่ 20 ความกด = 78
วันที่ 21 ความกด = 75
วันที่ 22 ความกด = 78
วันที่ 23 ความกด = 82
วันที่ 24 ความกด = 66
วันที่ 25 ความกด = 58
วันที่ 26 ความกด = 55
วันที่ 27 ความกด = 58
วันที่ 28 ความกด = 55
วันที่ 29 ความกด = -
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2015-10-01 00:00:00
วันที่ 1 ความกด = 83
วันที่ 2 ความกด = 86
วันที่ 3 ความกด = 83
วันที่ 4 ความกด = 86
วันที่ 5 ความกด = 86
วันที่ 6 ความกด = 87
วันที่ 7 ความกด = 93
วันที่ 8 ความกด = 93
วันที่ 9 ความกด = 94
วันที่ 10 ความกด = 87
วันที่ 11 ความกด = 90
วันที่ 12 ความกด = 75
วันที่ 13 ความกด = 65
วันที่ 14 ความกด = 73
วันที่ 15 ความกด = 78
วันที่ 16 ความกด = 75
วันที่ 17 ความกด = 71
วันที่ 18 ความกด = 71
วันที่ 19 ความกด = 72
วันที่ 20 ความกด = 71
วันที่ 21 ความกด = 72
วันที่ 22 ความกด = 74
วันที่ 23 ความกด = 68
วันที่ 24 ความกด = 63
วันที่ 25 ความกด = 69
วันที่ 26 ความกด = 66
วันที่ 27 ความกด = 66
วันที่ 28 ความกด = 68
วันที่ 29 ความกด = 72
วันที่ 30 ความกด = 69
วันที่ 31 ความกด = 65
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2015-11-01 00:00:00
วันที่ 1 ความกด = 72
วันที่ 2 ความกด = 70
วันที่ 3 ความกด = 69
วันที่ 4 ความกด = 67
วันที่ 5 ความกด = 67
วันที่ 6 ความกด = 78
วันที่ 7 ความกด = 85
วันที่ 8 ความกด = 76
วันที่ 9 ความกด = 73
วันที่ 10 ความกด = 68
วันที่ 11 ความกด = 70
วันที่ 12 ความกด = 72
วันที่ 13 ความกด = 74
วันที่ 14 ความกด = 85
วันที่ 15 ความกด = 76
วันที่ 16 ความกด = 74
วันที่ 17 ความกด = 74
วันที่ 18 ความกด = 71
วันที่ 19 ความกด = 70
วันที่ 20 ความกด = 67
วันที่ 21 ความกด = 69
วันที่ 22 ความกด = 67
วันที่ 23 ความกด = 71
วันที่ 24 ความกด = 68
วันที่ 25 ความกด = 68
วันที่ 26 ความกด = 72
วันที่ 27 ความกด = 67
วันที่ 28 ความกด = 70
วันที่ 29 ความกด = 70
วันที่ 30 ความกด = 69
วันที่ 31 ความกด = -
 วันที่ จังหวัด ความกด = ขอนแก่น
 วันที่ เดือน/ปี ความกด = 2015-12-01 00:00:00
 วันที่ 1 ความกด = 71
 วันที่ 2 ความกด = 68
 วันที่ 3 ความกด = 72
 วันที่ 4 ความกด = 70
 วันที่ 5 ความกด = 78
 วันที่ 6 ความกด = 74
 วันที่ 7 ความกด = 64
 วันที่ 8 ความกด = 65
 วันที่ 9 ความกด = 66
 วันที่ 10 ความกด = 66
 วันที่ 11 ความกด = 63
 วันที่ 12 ความกด = 63
 วันที่ 13 ความกด = 57
 วันที่ 14 ความกด = 62
 วันที่ 15 ความกด = 65
 วันที่ 16 ความกด = 63
 วันที่ 17 ความกด = 59
 วันที่ 18 ความกด = 66
 วันที่ 19 ความกด = 67
 วันที่ 20 ความกด = 66
 วันที่ 21 ความกด = 64
 วันที่ 22 ความกด = 63
 วันที่ 23 ความกด = 68
 วันที่ 24 ความกด = 67
 วันที่ 25 ความกด = 65
 วันที่ 26 ความกด = 71
 วันที่ 27 ความกด = 71
 วันที่ 28 ความกด = 64
 วันที่ 29 ความกด = 69
 วันที่ 30 ความกด = 69
 วันที่ 31 ความกด = 62
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2016-01-01 00:00:00
วันที่ 1 ความกด = 67
วันที่ 2 ความกด = 67
วันที่ 3 ความกด = 64
วันที่ 4 ความกด = 64
วันที่ 5 ความกด = 54
วันที่ 6 ความกด = 60
วันที่ 7 ความกด = 70
วันที่ 8 ความกด = 72
วันที่ 9 ความกด = 78
วันที่ 10 ความกด = 78
วันที่ 11 ความกด = 62
วันที่ 12 ความกด = 64
วันที่ 13 ความกด = 73
วันที่ 14 ความกด = 77
วันที่ 15 ความกด = 70
วันที่ 16 ความกด = 71
วันที่ 17 ความกด = 68
วันที่ 18 ความกด = 68
วันที่ 19 ความกด = 80
วันที่ 20 ความกด = 81
วันที่ 21 ความกด = 75
วันที่ 22 ความกด = 75
วันที่ 23 ความกด = 80
วันที่ 24 ความกด = 85
วันที่ 25 ความกด = 75
วันที่ 26 ความกด = 82
วันที่ 27 ความกด = 80
วันที่ 28 ความกด = 75
วันที่ 29 ความกด = 69
วันที่ 30 ความกด = 70
วันที่ 31 ความกด = 76
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2016-02-01 00:00:00
วันที่ 1 ความกด = 79
วันที่ 2 ความกด = 69
วันที่ 3 ความกด = 68
วันที่ 4 ความกด = 68
วันที่ 5 ความกด = 68
วันที่ 6 ความกด = 59
วันที่ 7 ความกด = 56
วันที่ 8 ความกด = 51
วันที่ 9 ความกด = 64
วันที่ 10 ความกด = 56
วันที่ 11 ความกด = 61
วันที่ 12 ความกด = 58
วันที่ 13 ความกด = 54
วันที่ 14 ความกด = 50
วันที่ 15 ความกด = 59
วันที่ 16 ความกด = 66
วันที่ 17 ความกด = 69
วันที่ 18 ความกด = 73
วันที่ 19 ความกด = 72
วันที่ 20 ความกด = 70
วันที่ 21 ความกด = 67
วันที่ 22 ความกด = 67
วันที่ 23 ความกด = 66
วันที่ 24 ความกด = 66
วันที่ 25 ความกด = 65
วันที่ 26 ความกด = 66
วันที่ 27 ความกด = 64
วันที่ 28 ความกด = 62
วันที่ 29 ความกด = 61
วันที่ 30 ความกด = -
วันที่ 31 ความกด = -
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2016-10-01 00:00:00
วันที่ 1 ความกด = 91
วันที่ 2 ความกด = 81
วันที่ 3 ความกด = 77
วันที่ 4 ความกด = 78
วันที่ 5 ความกด = 85
วันที่ 6 ความกด = 93
วันที่ 7 ความกด = 83
วันที่ 8 ความกด = 86
วันที่ 9 ความกด = 81
วันที่ 10 ความกด = 83
วันที่ 11 ความกด = 79
วันที่ 12 ความกด = 72
วันที่ 13 ความกด = 70
วันที่ 14 ความกด = 73
วันที่ 15 ความกด = 88
วันที่ 16 ความกด = 83
วันที่ 17 ความกด = 71
วันที่ 18 ความกด = 75
วันที่ 19 ความกด = 75
วันที่ 20 ความกด = 74
วันที่ 21 ความกด = 76
วันที่ 22 ความกด = 77
วันที่ 23 ความกด = 84
วันที่ 24 ความกด = 85
วันที่ 25 ความกด = 85
วันที่ 26 ความกด = 80
วันที่ 27 ความกด = 82
วันที่ 28 ความกด = 78
วันที่ 29 ความกด = 75
วันที่ 30 ความกด = 74
วันที่ 31 ความกด = 70
วันที่ จังหวัด ความกด = ขอนแก่น
วันที่ เดือน/ปี ความกด = 2016-11-01 00:00:00
วันที่ 1 ความกด = 73
วันที่ 2 ความกด = 70
วันที่ 3 ความกด = 68
วันที่ 4 ความกด = 69
วันที่ 5 ความกด = 72
วันที่ 6 ความกด = 69
วันที่ 7 ความกด = 91
วันที่ 8 ความกด = 88
วันที่ 9 ความกด = 87
วันที่ 10 ความกด = 80
วันที่ 11 ความกด = 73
วันที่ 12 ความกด = 73

####นครพนม

In [828]:
b2 = df222[['จังหวัด','เดือน/ปี','1','2','3','4','5','6','7','8','9','10','11','12','13',
       '14','15','16','17','18','19','20','21','22','23',
       '24','25','26','27','28','29','30','31']]