<a href="https://colab.research.google.com/github/1234567890qqqqqq/bsc_dpdm22/blob/main/Quiz_Group_7_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [929]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#นำเข้าไฟล์ทั้งหมด

##ความกด(เปอร์เซ็นต์)

In [930]:
df11 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df12 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df13 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df14 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df15 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [931]:
df11.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [932]:
df12.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1006.30,1007.38,1008.07,1008.44,1010.51,1011.65,1011.24,...,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28,1010.754839
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.28,1011.23,1011.08,1010.96,1010.57,1009.20,1007.99,...,1015.49,1016.09,1014.62,1012.80,1011.83,1010.00,1010.6,1011.13,-,1012.184667
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.15,1013.75,1013.24,1013.94,1013.35,1012.62,1012.48,...,1014.23,1017.58,1019.77,1019.71,1017.34,1017.01,1015.64,1016.89,1017.73,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.56,1014.88,1013.41,1015.85,1016.94,1017.13,1019.21,...,1013.13,1012.45,1013.59,1013.15,1011.56,1010.71,1011.95,1013.77,1015.5,1013.510000
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.98,1013.75,1014.96,1013.52,1011.85,1008.82,1008.15,...,1005.76,1005.13,1004.94,1006.42,1008.93,1007.88,1007.29,1011.13,-,1010.608000

In [933]:
df13.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,1011.24,...,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21,1010.772258
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,1008.20,...,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-,1012.255000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,1012.57,...,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.61,1014.92,1013.86,1015.71,1016.87,1017.17,1018.83,...,1012.80,1012.37,1013.47,1013.39,1011.36,1010.64,1011.95,1013.86,1015.52,1013.485484
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1014.05,1013.71,1014.95,1013.68,1011.72,1008.93,1008.08,...,1005.73,1005.04,1004.96,1005.94,1008.70,1007.38,1007.25,1011.06,-,1010.554000

In [934]:
df13.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,1011.24,...,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21,1010.772258
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,1008.20,...,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-,1012.255000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,1012.57,...,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.61,1014.92,1013.86,1015.71,1016.87,1017.17,1018.83,...,1012.80,1012.37,1013.47,1013.39,1011.36,1010.64,1011.95,1013.86,1015.52,1013.485484
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1014.05,1013.71,1014.95,1013.68,1011.72,1008.93,1008.08,...,1005.73,1005.04,1004.96,1005.94,1008.70,1007.38,1007.25,1011.06,-,1010.554000

In [935]:
df14.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.34,1006.67,1007.39,1008.11,1009.69,1011.55,1011.28,...,1011.01,1010.71,1011.67,1012.36,1012.50,1012.81,1011.88,1011.77,1012.18,1010.580645
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.05,1011.35,1011.28,1011.27,1010.62,1009.58,1008.55,...,1015.27,1016.46,1014.65,1013.08,1011.62,1010.21,1010.71,1011.1,-,1012.332333
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.26,1012.40,1013.57,1013.68,1012.72,1012.44,...,1013.94,1016.92,1019.05,1019.88,1017.86,1016.76,1015.63,1016.31,1017.19,1015.468065
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.26,1014.60,1012.83,1014.85,1016.69,1016.56,1018.50,...,1011.56,1011.98,1012.20,1012.95,1011.23,1010.63,1010.96,1013.16,1015.38,1013.062903
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.64,1013.36,1014.86,1013.93,1011.87,1008.77,1008.42,...,1005.89,1005.54,1005.28,1005.32,1007.59,1006.66,1007.07,1011.1,-,1010.214667

In [936]:
df15.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,1011.22,...,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71,1010.343871
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,1008.28,...,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-,1012.078333
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,1012.81,...,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.42,1014.07,1012.35,1013.49,1014.99,1015.70,1017.24,...,1010.10,1010.76,1011.11,1011.72,1010.91,1010.31,1010.16,1012.61,1014.4,1012.367419
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.19,1012.82,1013.94,1013.18,1010.99,1008.58,1008.19,...,1005.78,1005.48,1004.96,1005.05,1006.27,1005.59,1006.52,1010.43,-,1009.516667

###Fillna

In [937]:
df111 = df11.fillna(method='ffill')
df111.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [938]:
df122 = df12.fillna(method='ffill')
df122.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1006.30,1007.38,1008.07,1008.44,1010.51,1011.65,1011.24,...,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28,1010.754839
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.28,1011.23,1011.08,1010.96,1010.57,1009.20,1007.99,...,1015.49,1016.09,1014.62,1012.80,1011.83,1010.00,1010.6,1011.13,-,1012.184667
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.15,1013.75,1013.24,1013.94,1013.35,1012.62,1012.48,...,1014.23,1017.58,1019.77,1019.71,1017.34,1017.01,1015.64,1016.89,1017.73,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.56,1014.88,1013.41,1015.85,1016.94,1017.13,1019.21,...,1013.13,1012.45,1013.59,1013.15,1011.56,1010.71,1011.95,1013.77,1015.5,1013.510000
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.98,1013.75,1014.96,1013.52,1011.85,1008.82,1008.15,...,1005.76,1005.13,1004.94,1006.42,1008.93,1007.88,1007.29,1011.13,-,1010.608000

In [939]:
df133 = df13.fillna(method='ffill')
df133.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,1011.24,...,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21,1010.772258
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,1008.20,...,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-,1012.255000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,1012.57,...,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.61,1014.92,1013.86,1015.71,1016.87,1017.17,1018.83,...,1012.80,1012.37,1013.47,1013.39,1011.36,1010.64,1011.95,1013.86,1015.52,1013.485484
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1014.05,1013.71,1014.95,1013.68,1011.72,1008.93,1008.08,...,1005.73,1005.04,1004.96,1005.94,1008.70,1007.38,1007.25,1011.06,-,1010.554000

In [940]:
df144 = df14.fillna(method='ffill')
df144.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.34,1006.67,1007.39,1008.11,1009.69,1011.55,1011.28,...,1011.01,1010.71,1011.67,1012.36,1012.50,1012.81,1011.88,1011.77,1012.18,1010.580645
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.05,1011.35,1011.28,1011.27,1010.62,1009.58,1008.55,...,1015.27,1016.46,1014.65,1013.08,1011.62,1010.21,1010.71,1011.1,-,1012.332333
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.26,1012.40,1013.57,1013.68,1012.72,1012.44,...,1013.94,1016.92,1019.05,1019.88,1017.86,1016.76,1015.63,1016.31,1017.19,1015.468065
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.26,1014.60,1012.83,1014.85,1016.69,1016.56,1018.50,...,1011.56,1011.98,1012.20,1012.95,1011.23,1010.63,1010.96,1013.16,1015.38,1013.062903
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.64,1013.36,1014.86,1013.93,1011.87,1008.77,1008.42,...,1005.89,1005.54,1005.28,1005.32,1007.59,1006.66,1007.07,1011.1,-,1010.214667

In [941]:
df155 = df15.fillna(method='ffill')
df155.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,1011.22,...,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71,1010.343871
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,1008.28,...,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-,1012.078333
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,1012.81,...,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62,1016.470000
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.42,1014.07,1012.35,1013.49,1014.99,1015.70,1017.24,...,1010.10,1010.76,1011.11,1011.72,1010.91,1010.31,1010.16,1012.61,1014.4,1012.367419
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.19,1012.82,1013.94,1013.18,1010.99,1008.58,1008.19,...,1005.78,1005.48,1004.96,1005.05,1006.27,1005.59,1006.52,1010.43,-,1009.516667

###เปลี่ยนชื่อcolumns

In [942]:
df111.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df111['จังหวัด'] = "ขอนแก่น"
df122.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df122['จังหวัด'] = "นครพนม"
df133.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df133['จังหวัด'] = "สกลนคร"
df144.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df144['จังหวัด'] = "หนองคาย"
df155.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df155['จังหวัด'] = "เลย"

In [943]:
df111.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
5,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [944]:
df155.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,เลย,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,1011.22,...,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71,1010.343871
2,เลย,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,1008.28,...,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-,1012.078333
3,เลย,352201-หนองคาย จ.หนองคาย,2011-12-01,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,1012.81,...,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62,1016.470000
4,เลย,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.42,1014.07,1012.35,1013.49,1014.99,1015.70,1017.24,...,1010.10,1010.76,1011.11,1011.72,1010.91,1010.31,1010.16,1012.61,1014.4,1012.367419
5,เลย,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.19,1012.82,1013.94,1013.18,1010.99,1008.58,1008.19,...,1005.78,1005.48,1004.96,1005.05,1006.27,1005.59,1006.52,1010.43,-,1009.516667

##ความชื้นสัมพันธ์

In [945]:
df21 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df22 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df23 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df24 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df25 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [946]:
df21.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,83,92,86,80,86,86,83,...,73,72,73,69,69,75,71,71,68,79.0
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,65,66,65,67,68,67,67,65,-,68.0
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,63,62,60,60,62,65,66,63,64,63.0
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,80,74,75,71,75,69,70,67,68,69.0
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,58,53,48,57,71,73,68,-,-,65.0

In [947]:
df22.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,95,84,74,72,87,88,81,...,66,67,70,69,71,66,72,70,69,77.0
2,2,357201-นครพนม จ.นครพนม,2011-11-01,69,67,70,68,71,68,73,...,66,66,70,78,74,69,66,65,-,69.0
3,3,357201-นครพนม จ.นครพนม,2011-12-01,64,56,62,67,69,77,73,...,66,54,60,61,70,71,63,66,70,65.0
4,1,357201-นครพนม จ.นครพนม,2012-01-01,71,70,64,59,68,69,66,...,73,74,62,67,74,71,61,59,62,71.0
5,2,357201-นครพนม จ.นครพนม,2012-02-01,68,69,66,71,71,71,64,...,63,61,64,64,68,76,69,-,-,65.0

In [948]:
df23.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,87,88,77,75,87,86,81,...,74,73,73,72,72,70,74,73,72,78.0
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,71,71,71,72,73,70,75,...,68,66,71,71,70,70,69,69,-,70.0
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,66,61,64,67,70,73,72,...,69,65,64,62,69,69,69,69,68,6.0
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,67,69,66,63,65,67,65,...,75,72,67,72,73,71,64,64,62,72.0
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,66,70,67,69,73,64,60,...,55,53,55,64,69,74,71,-,-,64.0

In [949]:
df24.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,89,91,78,75,90,88,87,...,76,73,68,71,70,71,70,66,68,76.0
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,68,66,66,67,68,69,68,...,60,64,65,67,68,69,71,69,-,68.0
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,67,62,66,66,65,68,71,...,65,56,61,58,67,71,70,67,68,65.0
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,67,70,68,65,73,68,66,...,81,71,71,68,71,69,65,68,73,70.0
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,68,71,91,79,78,71,67,...,63,63,61,62,69,76,69,-,-,69.0

In [950]:
df25.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,90,95,92,89,86,94,90,...,85,86,83,84,85,85,82,83,85,87.0
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,85,83,84,83,83,85,83,...,73,77,80,81,80,84,82,79,-,82.0
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,80,77,77,76,78,83,82,...,80,74,75,74,80,80,78,81,78,77.0
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,75,78,81,79,73,77,82,...,83,80,83,79,80,78,77,82,79,78.0
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,79,81,91,84,78,73,69,...,67,68,68,67,76,73,70,-,-,73.0

###Fillna

In [951]:
df211 = df21.fillna(method='ffill')
df211.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,83,92,86,80,86,86,83,...,73,72,73,69,69,75,71,71,68,79.0
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,65,66,65,67,68,67,67,65,-,68.0
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,63,62,60,60,62,65,66,63,64,63.0
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,80,74,75,71,75,69,70,67,68,69.0
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,58,53,48,57,71,73,68,-,-,65.0

In [952]:
df222 = df22.fillna(method='ffill')
df222.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,95,84,74,72,87,88,81,...,66,67,70,69,71,66,72,70,69,77.0
2,2,357201-นครพนม จ.นครพนม,2011-11-01,69,67,70,68,71,68,73,...,66,66,70,78,74,69,66,65,-,69.0
3,3,357201-นครพนม จ.นครพนม,2011-12-01,64,56,62,67,69,77,73,...,66,54,60,61,70,71,63,66,70,65.0
4,1,357201-นครพนม จ.นครพนม,2012-01-01,71,70,64,59,68,69,66,...,73,74,62,67,74,71,61,59,62,71.0
5,2,357201-นครพนม จ.นครพนม,2012-02-01,68,69,66,71,71,71,64,...,63,61,64,64,68,76,69,-,-,65.0

In [953]:
df233 = df23.fillna(method='ffill')
df233.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,87,88,77,75,87,86,81,...,74,73,73,72,72,70,74,73,72,78.0
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,71,71,71,72,73,70,75,...,68,66,71,71,70,70,69,69,-,70.0
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,66,61,64,67,70,73,72,...,69,65,64,62,69,69,69,69,68,6.0
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,67,69,66,63,65,67,65,...,75,72,67,72,73,71,64,64,62,72.0
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,66,70,67,69,73,64,60,...,55,53,55,64,69,74,71,-,-,64.0

In [954]:
df244 = df24.fillna(method='ffill')
df244.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,89,91,78,75,90,88,87,...,76,73,68,71,70,71,70,66,68,76.0
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,68,66,66,67,68,69,68,...,60,64,65,67,68,69,71,69,-,68.0
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,67,62,66,66,65,68,71,...,65,56,61,58,67,71,70,67,68,65.0
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,67,70,68,65,73,68,66,...,81,71,71,68,71,69,65,68,73,70.0
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,68,71,91,79,78,71,67,...,63,63,61,62,69,76,69,-,-,69.0

In [955]:
df255 = df25.fillna(method='ffill')
df255.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,90,95,92,89,86,94,90,...,85,86,83,84,85,85,82,83,85,87.0
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,85,83,84,83,83,85,83,...,73,77,80,81,80,84,82,79,-,82.0
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,80,77,77,76,78,83,82,...,80,74,75,74,80,80,78,81,78,77.0
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,75,78,81,79,73,77,82,...,83,80,83,79,80,78,77,82,79,78.0
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,79,81,91,84,78,73,69,...,67,68,68,67,76,73,70,-,-,73.0

###เปลี่ยนชื่อcolumns

In [956]:
df211.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df211['จังหวัด'] = "ขอนแก่น"

In [957]:
df222.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df222['จังหวัด'] = "นครพนม"

In [958]:
df233.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df233['จังหวัด'] = "สกลนคร"

In [959]:
df244.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df244['จังหวัด'] = "หนองคาย"

In [960]:
df255.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df255['จังหวัด'] = "เลย"

In [961]:
df255.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,เลย,353301-เลย สกษ. จ.เลย,2011-10-01,90,95,92,89,86,94,90,...,85,86,83,84,85,85,82,83,85,87.0
2,เลย,353301-เลย สกษ. จ.เลย,2011-11-01,85,83,84,83,83,85,83,...,73,77,80,81,80,84,82,79,-,82.0
3,เลย,353301-เลย สกษ. จ.เลย,2011-12-01,80,77,77,76,78,83,82,...,80,74,75,74,80,80,78,81,78,77.0
4,เลย,353301-เลย สกษ. จ.เลย,2012-01-01,75,78,81,79,73,77,82,...,83,80,83,79,80,78,77,82,79,78.0
5,เลย,353301-เลย สกษ. จ.เลย,2012-02-01,79,81,91,84,78,73,69,...,67,68,68,67,76,73,70,-,-,73.0

##ความเร็วลม

In [962]:
df31 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df32 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df33 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df34 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df35 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [963]:
df31.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,3,2,3,2,2,3,4,...,2,3,5,5,5,4,6,4,5,3.354839
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,7,6,5,5,3,1,3,3,-,3.466667
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,5,6,7,6,5,4,4,6,5,4.806452
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,3,3,4,2,2,1,3,4,4,3.129032
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,1,2,3,2,4,3,3,3,-,2.566667

In [964]:
df32.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,1,2,2,1,0,2,...,1,2,2,1,2,2,1,1,1,1.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,1,1,1,1,1,1,...,3,3,2,2,1,1,1,1,-,1.200000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,2,2,1,1,1,1,...,1,3,3,1,2,1,1,2,2,1.741935
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,2,3,3,...,4,1,5,1,1,1,4,5,4,2.448276
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,1,3,4,0,0,1,1,...,1,2,2,3,3,3,1,2,-,2.200000

In [965]:
df33.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,1,2,2,1,0,2,...,1,2,2,1,2,2,1,1,1,1.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,1,1,1,1,1,1,...,3,3,2,2,1,1,1,1,-,1.200000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,2,2,1,1,1,1,...,1,3,3,1,2,1,1,2,2,1.741935
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,3,2,4,...,5,4,5,3,2,3,3,3,4,2.870968
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,3,4,2,1,2,2,...,1,2,1,3,7,5,3,2,-,2.733333

In [966]:
df34.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,4,4,2,1,3,1,...,2,2,3,3,3,3,3,3,4,2.580645
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,3,3,3,2,2,1,2,...,7,4,2,3,2,2,2,2,-,2.433333
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,5,3,2,2,2,2,...,3,6,5,4,2,2,2,3,2,3.161290
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,3,2,4,...,5,4,5,3,2,3,3,3,4,2.870968
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,3,4,2,1,2,2,...,1,2,1,3,7,5,3,2,-,2.733333

In [967]:
df35.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,2,2,3,2,3,2,1,...,1,1,2,2,1,2,2,2,1,1.612903
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,2,1,1,2,2,2,...,3,2,1,1,2,1,2,1,-,1.700000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,2,3,2,1,2,1,...,1,2,3,2,1,2,1,2,2,1.870968
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,1,2,2,2,2,...,2,1,3,2,2,2,2,1,1,1.838710
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,1,2,2,1,1,2,1,...,1,1,1,1,3,4,2,1,-,1.700000

###Fillna

In [968]:
df311 = df31.fillna(method='ffill')
df311.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,3,2,3,2,2,3,4,...,2,3,5,5,5,4,6,4,5,3.354839
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,7,6,5,5,3,1,3,3,-,3.466667
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,5,6,7,6,5,4,4,6,5,4.806452
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,4,2,1,4,4,2,4,...,3,3,4,2,2,1,3,4,4,3.129032
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,2,3,2,3,1,2,...,1,2,3,2,4,3,3,3,-,2.566667

In [969]:
df322 = df32.fillna(method='ffill')
df322.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,1,2,2,1,0,2,...,1,2,2,1,2,2,1,1,1,1.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,1,1,1,1,1,1,...,3,3,2,2,1,1,1,1,-,1.200000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,2,2,1,1,1,1,...,1,3,3,1,2,1,1,2,2,1.741935
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,2,3,3,...,4,1,5,1,1,1,4,5,4,2.448276
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,1,3,4,0,0,1,1,...,1,2,2,3,3,3,1,2,-,2.200000

In [970]:
df333 = df33.fillna(method='ffill')
df333.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,1,2,2,1,0,2,...,1,2,2,1,2,2,1,1,1,1.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,1,1,1,1,1,1,...,3,3,2,2,1,1,1,1,-,1.200000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,2,2,1,1,1,1,...,1,3,3,1,2,1,1,2,2,1.741935
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,3,2,4,...,5,4,5,3,2,3,3,3,4,2.870968
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,3,4,2,1,2,2,...,1,2,1,3,7,5,3,2,-,2.733333

In [971]:
df344 = df34.fillna(method='ffill')
df344.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,1,4,4,2,1,3,1,...,2,2,3,3,3,3,3,3,4,2.580645
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,3,3,3,2,2,1,2,...,7,4,2,3,2,2,2,2,-,2.433333
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,5,3,2,2,2,2,...,3,6,5,4,2,2,2,3,2,3.161290
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,3,5,3,2,4,...,5,4,5,3,2,3,3,3,4,2.870968
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2,3,4,2,1,2,2,...,1,2,1,3,7,5,3,2,-,2.733333

In [972]:
df355 = df35.fillna(method='ffill')
df355.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,2,2,3,2,3,2,1,...,1,1,2,2,1,2,2,2,1,1.612903
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,2,1,1,2,2,2,...,3,2,1,1,2,1,2,1,-,1.700000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,2,3,2,1,2,1,...,1,2,3,2,1,2,1,2,2,1.870968
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,2,2,1,2,2,2,2,...,2,1,3,2,2,2,2,1,1,1.838710
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,1,2,2,1,1,2,1,...,1,1,1,1,3,4,2,1,-,1.700000

###เปลี่ยนชื่อcolumns

In [973]:
df311.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df311['จังหวัด'] = "ขอนแก่น"
df322.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df322['จังหวัด'] = "นครพนม"
df333.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df333['จังหวัด'] = "สกลนคร"
df344.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df344['จังหวัด'] = "หนองคาย"
df355.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df355['จังหวัด'] = "เลย"

##จำนวนเมฆ

In [974]:
df41 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df42 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df43 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df44 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df45 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [975]:
df41.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,10,10,8,10,10,10,...,2,3,5,3,3,5,4,2,2,6.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,6,6,3,2,2,1,3,2,-,3.533333
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,5,5,3,3,1,2,1,1,1,3.516129
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,4,7,6,3,1,3,...,6,4,4,3,2,5,6,10,10,5.354839
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,6,6,8,8,3,3,1,...,1,2,0,1,4,5,1,2,-,2.533333

In [976]:
df42.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,10,7,8,8,10,10,9,...,2,2,2,2,3,3,4,2,4,5.903226
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,3,5,7,9,...,4,4,4,2,2,2,1,1,-,3.066667
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,2,2,4,4,7,8,...,4,2,2,2,2,1,2,1,1,3.290323
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,4,6,4,2,5,...,5,3,2,2,2,3,3,6,5,4.741935
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,5,5,8,7,3,3,2,...,2,2,2,3,7,6,2,1,-,2.966667

In [977]:
df43.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,9,7,7,9,10,8,...,2,1,2,1,1,3,3,1,4,5.483871
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,0,0,1,3,7,8,...,4,3,1,1,1,1,1,0,-,2.300000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,1,2,2,2,6,6,...,3,2,-,0,0,0,0,1,-,2.703704
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,0,0,4,3,2,0,1,...,4,1,0,3,0,1,4,7,8,3.548387
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,4,4,8,5,1,0,0,...,-,-,-,1,6,4,0,0,-,2.142857

In [978]:
df44.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,10,10,8,9,9,10,10,...,3,1,1,2,1,1,1,4,3,5.580645
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,0,0,1,1,2,6,...,6,6,-,0,1,2,4,2,-,2.571429
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,4,4,-,2,7,5,5,...,2,8,1,-,3,1,1,3,-,3.285714
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,8,2,3,...,8,5,6,6,1,0,6,10,9,4.774194
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,7,8,10,6,1,-,-,...,-,-,-,-,6,5,6,NaN,-,4.928571

In [979]:
df45.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,8,10,10,9,8,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,1,2,1,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,3,1,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,6,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,8,5,10,7,1,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###Fillna

In [980]:
df411 = df41.fillna(method='ffill')
df411.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,10,10,8,10,10,10,...,2,3,5,3,3,5,4,2,2,6.322581
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,6,6,3,2,2,1,3,2,-,3.533333
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,5,5,3,3,1,2,1,1,1,3.516129
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,4,7,6,3,1,3,...,6,4,4,3,2,5,6,10,10,5.354839
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,6,6,8,8,3,3,1,...,1,2,0,1,4,5,1,2,-,2.533333

In [981]:
df422 = df42.fillna(method='ffill')
df422.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,10,7,8,8,10,10,9,...,2,2,2,2,3,3,4,2,4,5.903226
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,3,5,7,9,...,4,4,4,2,2,2,1,1,-,3.066667
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,2,2,4,4,7,8,...,4,2,2,2,2,1,2,1,1,3.290323
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,4,6,4,2,5,...,5,3,2,2,2,3,3,6,5,4.741935
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,5,5,8,7,3,3,2,...,2,2,2,3,7,6,2,1,-,2.966667

In [982]:
df433 = df43.fillna(method='ffill')
df433.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,9,7,7,9,10,8,...,2,1,2,1,1,3,3,1,4,5.483871
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,0,0,1,3,7,8,...,4,3,1,1,1,1,1,0,-,2.300000
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,1,2,2,2,6,6,...,3,2,-,0,0,0,0,1,-,2.703704
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,0,0,4,3,2,0,1,...,4,1,0,3,0,1,4,7,8,3.548387
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,4,4,8,5,1,0,0,...,-,-,-,1,6,4,0,0,-,2.142857

In [983]:
df444 = df44.fillna(method='ffill')
df444.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,10,10,8,9,9,10,10,...,3,1,1,2,1,1,1,4,3,5.580645
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,1,0,0,1,1,2,6,...,6,6,-,0,1,2,4,2,-,2.571429
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,4,4,-,2,7,5,5,...,2,8,1,-,3,1,1,3,-,3.285714
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,8,2,3,...,8,5,6,6,1,0,6,10,9,4.774194
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,7,8,10,6,1,-,-,...,-,-,-,-,6,5,6,10,-,4.928571

In [984]:
df455 = df45.fillna(method='ffill')
df455.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,8,10,10,9,8,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,1,2,1,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,3,1,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,6,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,8,5,10,7,1,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###เปลี่ยนชื่อcolumns

In [985]:
df411.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df411['จังหวัด'] = "ขอนแก่น"
df422.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df422['จังหวัด'] = "นครพนม"
df433.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df433['จังหวัด'] = "สกลนคร"
df444.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df444['จังหวัด'] = "หนองคาย"
df455.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df455['จังหวัด'] = "เลย"

##ปริมาณฝน

In [986]:
df51 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df52 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df53 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df54 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df55 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [987]:
df51.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,1.4,17.7,3,0,2.2,0.5,1.3,...,0,0,T,0,0.5,1.1,0,0,0,176.8
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,11.8
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,T,0,38.7
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,0,0,0,-,-,T

In [988]:
df52.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,17,0.3,0,0.3,1.9,T,0,...,0,0,0,0,0,0,0,0,0,75.4
2,2,357201-นครพนม จ.นครพนม,2011-11-01,0,0,0,0,T,T,0,...,0,0,0,0,0.5,0,0,0,-,0.5
3,3,357201-นครพนม จ.นครพนม,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,357201-นครพนม จ.นครพนม,2012-01-01,0,0,0,0,0,0,0,...,2.3,0,0,0,0,0,0,0,0,14.9
5,2,357201-นครพนม จ.นครพนม,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,1.2,0,0,-,-,1.2

In [989]:
df53.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,84.8,28.1,0,T,5.5,0.3,0,...,0,0,0,0,0,0,1,0,0,200.8
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,0,0,0,0,T,T,2.8,...,0,0,0,0,0,0,0,0,-,2.8
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,0,0,0,0,0,0,0,...,0.9,0,0,0,0,0,0,0,0,30.4
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,0,0,0,0,0,0,0,...,0,0,0,0.4,5.6,0,0,-,-,6

In [990]:
df54.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,48.6,59,0,1,19.1,6.2,0.2,...,0,0,0,0,0,0,0,0,0,184.3
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,5.1
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,0,0,0,0,1.1,0,0,...,0,0,0,0,0,0,0,0,0.4,3.4
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,0,28.7,9.1,0,0,0,0,...,0,0,0,0,6.1,0,0,-,-,43.9

In [991]:
df55.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,21.6,111.4,0.4,0,0,3.4,1.8,...,0,0,0,0,0,0.2,0,0,0,183
2,2,353201-เลย จ.เลย,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0.6,0,0,-,7.4
3,3,353201-เลย จ.เลย,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.2
4,1,353201-เลย จ.เลย,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,T,0,18.2
5,2,353201-เลย จ.เลย,2012-02-01,0,0.2,1.2,0,0,0,0,...,0,0,0,0,1,0,0,-,-,2.4

###Fillna

In [992]:
df511 = df51.fillna(method='ffill')
df511.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,1.4,17.7,3,0,2.2,0.5,1.3,...,0,0,T,0,0.5,1.1,0,0,0,176.8
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,11.8
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,T,0,38.7
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,0,0,0,-,-,T

In [993]:
df522 = df52.fillna(method='ffill')
df522.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,17,0.3,0,0.3,1.9,T,0,...,0,0,0,0,0,0,0,0,0,75.4
2,2,357201-นครพนม จ.นครพนม,2011-11-01,0,0,0,0,T,T,0,...,0,0,0,0,0.5,0,0,0,-,0.5
3,3,357201-นครพนม จ.นครพนม,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,357201-นครพนม จ.นครพนม,2012-01-01,0,0,0,0,0,0,0,...,2.3,0,0,0,0,0,0,0,0,14.9
5,2,357201-นครพนม จ.นครพนม,2012-02-01,0,0,T,0,0,0,0,...,0,0,0,0,1.2,0,0,-,-,1.2

In [994]:
df533 = df53.fillna(method='ffill')
df533.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,84.8,28.1,0,T,5.5,0.3,0,...,0,0,0,0,0,0,1,0,0,200.8
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,0,0,0,0,T,T,2.8,...,0,0,0,0,0,0,0,0,-,2.8
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,0,0,0,0,0,0,0,...,0.9,0,0,0,0,0,0,0,0,30.4
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,0,0,0,0,0,0,0,...,0,0,0,0.4,5.6,0,0,-,-,6

In [995]:
df544 = df54.fillna(method='ffill')
df544.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,48.6,59,0,1,19.1,6.2,0.2,...,0,0,0,0,0,0,0,0,0,184.3
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,5.1
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,0,0,0,0,1.1,0,0,...,0,0,0,0,0,0,0,0,0.4,3.4
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,0,28.7,9.1,0,0,0,0,...,0,0,0,0,6.1,0,0,-,-,43.9

In [996]:
df555 = df55.fillna(method='ffill')
df555.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,21.6,111.4,0.4,0,0,3.4,1.8,...,0,0,0,0,0,0.2,0,0,0,183
2,2,353201-เลย จ.เลย,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0.6,0,0,-,7.4
3,3,353201-เลย จ.เลย,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.2
4,1,353201-เลย จ.เลย,2012-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,T,0,18.2
5,2,353201-เลย จ.เลย,2012-02-01,0,0.2,1.2,0,0,0,0,...,0,0,0,0,1,0,0,-,-,2.4

###เปลี่ยนชื่อcolumns

In [997]:
df511.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df511['จังหวัด'] = "ขอนแก่น"
df522.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df522['จังหวัด'] = "นครพนม"
df533.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df533['จังหวัด'] = "สกลนคร"
df544.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df544['จังหวัด'] = "หนองคาย"
df555.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df555['จังหวัด'] = "เลย"

##อุณหภูมิจุดน้ำค้าง

In [998]:
df61 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df62 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df63 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df64 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df65 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [999]:
df61.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.2,24.0,22.9,21.9,21.7,21.3,21.9,...,21.0,21.8,21.8,20.7,20.8,21.9,20.3,19.7,19.7,21.903226
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.2,18.5,19.4,19.0,19.2,20.6,21.3,...,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-,18.910000
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,17.7,15.3,12.7,14.0,14.6,16.6,19.1,...,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3,14.525806
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,16.5,17.4,18.7,17.0,15.3,16.7,15.6,...,21.5,19.2,19.2,16.3,19.5,19.7,19.4,18.7,16.7,18.058065
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,18.0,19.6,19.5,19.2,20.7,20.8,19.1,...,18.4,17.0,16.3,18.8,22.3,22.1,21.3,-,-,18.772414

In [1000]:
df62.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.1,23.1,20.1,18.9,20.7,21.1,21.7,...,20.0,20.7,20.7,20.8,21.0,20.3,19.8,19.3,19.3,21.200000
2,2,357201-นครพนม จ.นครพนม,2011-11-01,19.2,18.8,19.1,19.8,20.3,20.9,21.7,...,18.1,16.5,17.5,20.2,19.7,19.5,18.6,18.5,-,18.896667
3,3,357201-นครพนม จ.นครพนม,2011-12-01,17.6,12.7,12.2,14.1,16.0,18.5,19.7,...,14.4,10.3,9.0,9.6,13.7,15.8,16,16.2,15.7,14.041935
4,1,357201-นครพนม จ.นครพนม,2012-01-01,15.6,16.4,17.1,14.7,13.8,14.7,14.0,...,15.8,16.1,13.4,14.7,17.4,18.7,16.2,15.5,14.6,16.664516
5,2,357201-นครพนม จ.นครพนม,2012-02-01,16.3,17.8,16.6,17.9,19.3,20.7,19.6,...,18.4,19.6,20.3,19.7,17.4,17.7,19.9,18.5,-,17.546667

In [1001]:
df63.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,24.5,23.6,21.1,20.0,21.2,20.8,21.9,...,20.7,21.5,21.1,21.0,21.2,21.1,20.4,19.5,19.7,21.429032
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,19.6,19.4,19.5,20.0,20.9,21.4,21.7,...,18.9,16.9,17.5,18.7,19.1,19.1,18.4,18.5,-,18.973333
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,18.0,14.0,12.3,14.1,15.7,18.1,19.5,...,15.1,12.2,9.6,10.1,13.5,15.6,16,16.2,15.5,14.400000
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,15.3,16.3,17.0,15.6,13.5,14.6,13.6,...,17.2,16.7,14.4,14.6,17.6,19.1,16.9,16.1,14.4,16.845161
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,15.9,18.0,16.6,17.6,20.2,19.7,18.8,...,16.0,18.0,17.8,19.5,18.2,18.7,20.3,18.5,-,17.233333

In [1002]:
df64.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,24.6,23.8,22.4,21.9,23.3,22.0,23.0,...,22.6,22.3,21.1,21.5,21.4,21.3,20.8,19.8,20.3,22.074194
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,19.3,19.0,18.7,19.1,20.2,20.7,21.5,...,17.9,16.2,16.2,18.1,18.7,19.1,19.7,19.1,-,19.040000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,18.4,15.5,14.4,14.6,15.6,17.7,19.0,...,15.2,11.4,8.9,8.5,13.0,16.7,17.7,17.6,16.7,14.751613
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,16.4,17.6,18.3,16.9,15.4,16.2,15.8,...,20.9,17.0,17.4,15.4,18.3,18.9,18.3,18.4,17.2,17.532258
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,17.5,18.8,20.0,19.8,21.3,21.2,19.8,...,18.5,18.7,18.5,19.9,19.5,20.6,20.2,19.1,-,18.890000

In [1003]:
df65.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,23.6,23.5,21.9,21.9,21.8,21.6,21.7,...,21.0,21.5,21.2,21.0,21.6,21.3,21,20.2,20.2,21.793548
2,2,353201-เลย จ.เลย,2011-11-01,20.1,19.5,19.5,19.1,19.5,20.5,20.6,...,18.6,17.0,16.7,17.5,18.8,19.2,19.5,19.4,-,18.953333
3,3,353201-เลย จ.เลย,2011-12-01,18.0,16.6,15.0,14.6,15.3,16.7,18.9,...,16.1,12.8,9.7,9.4,11.0,14.9,16.2,16.2,16.5,14.735484
4,1,353201-เลย จ.เลย,2012-01-01,16.2,16.4,17.6,18.2,15.2,16.1,17.0,...,20.6,18.7,18.5,16.9,17.6,18.5,19.2,18.2,17.4,16.851613
5,2,353201-เลย จ.เลย,2012-02-01,17.8,18.8,20.7,19.1,19.5,18.2,16.4,...,15.0,16.3,17.1,16.7,18.7,18.6,16.9,-,-,17.310345

###Fillna

In [1004]:
df611 = df61.fillna(method='ffill')
df611.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.2,24.0,22.9,21.9,21.7,21.3,21.9,...,21.0,21.8,21.8,20.7,20.8,21.9,20.3,19.7,19.7,21.903226
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.2,18.5,19.4,19.0,19.2,20.6,21.3,...,18.9,16.7,16.7,18.3,19.2,18.9,19,18.3,-,18.910000
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,17.7,15.3,12.7,14.0,14.6,16.6,19.1,...,15.8,12.9,9.8,9.7,12.4,16.1,16.3,16.1,16.3,14.525806
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,16.5,17.4,18.7,17.0,15.3,16.7,15.6,...,21.5,19.2,19.2,16.3,19.5,19.7,19.4,18.7,16.7,18.058065
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,18.0,19.6,19.5,19.2,20.7,20.8,19.1,...,18.4,17.0,16.3,18.8,22.3,22.1,21.3,-,-,18.772414

In [1005]:
df622 = df62.fillna(method='ffill')
df622.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.1,23.1,20.1,18.9,20.7,21.1,21.7,...,20.0,20.7,20.7,20.8,21.0,20.3,19.8,19.3,19.3,21.200000
2,2,357201-นครพนม จ.นครพนม,2011-11-01,19.2,18.8,19.1,19.8,20.3,20.9,21.7,...,18.1,16.5,17.5,20.2,19.7,19.5,18.6,18.5,-,18.896667
3,3,357201-นครพนม จ.นครพนม,2011-12-01,17.6,12.7,12.2,14.1,16.0,18.5,19.7,...,14.4,10.3,9.0,9.6,13.7,15.8,16,16.2,15.7,14.041935
4,1,357201-นครพนม จ.นครพนม,2012-01-01,15.6,16.4,17.1,14.7,13.8,14.7,14.0,...,15.8,16.1,13.4,14.7,17.4,18.7,16.2,15.5,14.6,16.664516
5,2,357201-นครพนม จ.นครพนม,2012-02-01,16.3,17.8,16.6,17.9,19.3,20.7,19.6,...,18.4,19.6,20.3,19.7,17.4,17.7,19.9,18.5,-,17.546667

In [1006]:
df633 = df63.fillna(method='ffill')
df633.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,24.5,23.6,21.1,20.0,21.2,20.8,21.9,...,20.7,21.5,21.1,21.0,21.2,21.1,20.4,19.5,19.7,21.429032
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,19.6,19.4,19.5,20.0,20.9,21.4,21.7,...,18.9,16.9,17.5,18.7,19.1,19.1,18.4,18.5,-,18.973333
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,18.0,14.0,12.3,14.1,15.7,18.1,19.5,...,15.1,12.2,9.6,10.1,13.5,15.6,16,16.2,15.5,14.400000
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,15.3,16.3,17.0,15.6,13.5,14.6,13.6,...,17.2,16.7,14.4,14.6,17.6,19.1,16.9,16.1,14.4,16.845161
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,15.9,18.0,16.6,17.6,20.2,19.7,18.8,...,16.0,18.0,17.8,19.5,18.2,18.7,20.3,18.5,-,17.233333

In [1007]:
df644 = df64.fillna(method='ffill')
df644.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,24.6,23.8,22.4,21.9,23.3,22.0,23.0,...,22.6,22.3,21.1,21.5,21.4,21.3,20.8,19.8,20.3,22.074194
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,19.3,19.0,18.7,19.1,20.2,20.7,21.5,...,17.9,16.2,16.2,18.1,18.7,19.1,19.7,19.1,-,19.040000
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,18.4,15.5,14.4,14.6,15.6,17.7,19.0,...,15.2,11.4,8.9,8.5,13.0,16.7,17.7,17.6,16.7,14.751613
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,16.4,17.6,18.3,16.9,15.4,16.2,15.8,...,20.9,17.0,17.4,15.4,18.3,18.9,18.3,18.4,17.2,17.532258
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,17.5,18.8,20.0,19.8,21.3,21.2,19.8,...,18.5,18.7,18.5,19.9,19.5,20.6,20.2,19.1,-,18.890000

In [1008]:
df655 = df65.fillna(method='ffill')
df655.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,23.6,23.5,21.9,21.9,21.8,21.6,21.7,...,21.0,21.5,21.2,21.0,21.6,21.3,21,20.2,20.2,21.793548
2,2,353201-เลย จ.เลย,2011-11-01,20.1,19.5,19.5,19.1,19.5,20.5,20.6,...,18.6,17.0,16.7,17.5,18.8,19.2,19.5,19.4,-,18.953333
3,3,353201-เลย จ.เลย,2011-12-01,18.0,16.6,15.0,14.6,15.3,16.7,18.9,...,16.1,12.8,9.7,9.4,11.0,14.9,16.2,16.2,16.5,14.735484
4,1,353201-เลย จ.เลย,2012-01-01,16.2,16.4,17.6,18.2,15.2,16.1,17.0,...,20.6,18.7,18.5,16.9,17.6,18.5,19.2,18.2,17.4,16.851613
5,2,353201-เลย จ.เลย,2012-02-01,17.8,18.8,20.7,19.1,19.5,18.2,16.4,...,15.0,16.3,17.1,16.7,18.7,18.6,16.9,-,-,17.310345

###เปลี่ยนชื่อcolumns

In [1009]:
df611.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df611['จังหวัด'] = "ขอนแก่น"
df622.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df622['จังหวัด'] = "นครพนม"
df633.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df633['จังหวัด'] = "สกลนคร"
df644.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df644['จังหวัด'] = "หนองคาย"
df655.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df655['จังหวัด'] = "เลย"

##อุณภูมิตุ้มแห้ง

In [1010]:
df71 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df72 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df73 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df74 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df75 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [1011]:
df71.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,27.6,25.6,25.6,25.8,24.3,24.0,25.1,...,26.7,27.6,27.4,27.2,27.3,26.9,26.3,25.8,26.2,26.2
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,26.3,26.3,26.3,26.6,26.8,27.5,27.9,...,26.5,23.9,24.4,25.5,26.1,26.2,26,26,-,25.8
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,25.4,23.9,21.3,22.3,23.0,25.6,25.4,...,23.6,21.1,18.3,18.3,20.4,23.5,23.7,24.2,24.1,22.4
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,23.8,24.5,25.0,24.8,22.8,23.4,23.1,...,25.3,24.4,24.1,22.1,24.6,26.3,25.6,25.3,23,24.4
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,23.9,25.4,25.3,24.8,27.2,28.2,28.3,...,28.3,29.1,29.6,29.2,28.2,27.5,28.5,-,-,26.5

In [1012]:
df72.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.9,26.1,25.3,24.7,23.1,23.2,25.6,...,27.3,27.9,27.0,27.2,27.1,27.6,25.5,25.8,25.9,26.0
2,2,357201-นครพนม จ.นครพนม,2011-11-01,25.8,25.8,25.5,26.8,26.5,27.8,27.3,...,25.5,23.7,23.9,24.8,25.2,26.2,26.2,26.2,-,25.5
3,3,357201-นครพนม จ.นครพนม,2011-12-01,25.4,22.1,20.4,21.3,22.6,23.1,25.2,...,21.6,20.0,17.4,18.0,20.0,22.0,23.9,23.2,21.9,21.3
4,1,357201-นครพนม จ.นครพนม,2012-01-01,21.7,22.8,24.7,23.4,20.3,21.2,21.1,...,20.9,21.4,21.3,21.4,22.8,25.2,24.5,24.1,22.6,22.6
5,2,357201-นครพนม จ.นครพนม,2012-02-01,23.0,24.3,23.4,24.0,25.6,27.3,27.8,...,27.4,28.8,28.5,27.4,23.8,22.4,26.7,-,-,25.1

In [1013]:
df73.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,26.9,25.9,25.7,25.2,23.6,23.5,25.6,...,26.2,27.0,26.6,26.9,27.1,27.5,25.4,25.2,25.5,26.0
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,25.7,25.5,25.5,26.1,26.7,27.8,26.7,...,25.8,23.8,23.7,24.8,25.6,25.7,25.3,25.4,-,25.3
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,25.4,22.4,19.9,21.0,22.0,23.5,25.2,...,21.4,19.4,17.1,18.1,20.0,22.0,22.7,22.9,22.3,21.1
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,22.2,22.7,24.3,23.3,20.5,21.4,20.9,...,22.0,22.1,21.0,20.2,23.2,25.2,24.4,23.4,22.1,22.6
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,23.0,24.1,23.1,23.8,25.9,27.8,28.1,...,27.3,29.6,28.6,27.4,24.4,23.8,26.3,-,-,25.0

In [1014]:
df74.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,26.7,25.5,27.0,26.8,24.9,24.3,25.4,...,27.7,27.9,28.0,27.8,27.8,27.4,27.2,27,27.2,27.0
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,26.3,26.4,26.3,26.5,27.1,27.4,28.3,...,26.8,23.9,23.9,25.2,25.6,26.0,25.7,25.8,-,25.9
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,25.6,23.6,21.4,21.9,23.2,24.7,24.9,...,22.5,20.9,17.0,17.4,19.8,22.8,23.9,24.6,23.5,22.1
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,23.4,23.9,25.1,24.3,20.7,22.8,22.8,...,24.6,23.0,23.2,21.8,24.3,25.8,25.9,24.9,22.4,23.8
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,24.1,24.6,21.7,23.9,26.1,27.7,27.4,...,27.2,27.4,27.4,28.3,25.8,25.5,26.9,-,-,25.6

In [1015]:
df75.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,26.3,25.1,24.4,25.2,25.6,23.7,24.6,...,25.8,26.1,26.1,26.2,25.9,25.6,26.3,25.6,24.8,25.6
2,2,353201-เลย จ.เลย,2011-11-01,25.3,24.7,24.5,24.4,24.9,25.4,25.8,...,26.3,23.6,22.9,23.3,24.5,24.1,25.5,25.5,-,24.4
3,3,353201-เลย จ.เลย,2011-12-01,23.9,22.9,21.0,20.9,22.3,21.6,23.8,...,21.8,19.8,16.6,16.4,17.6,21.1,22.7,22.6,23.2,21.1
4,1,353201-เลย จ.เลย,2012-01-01,22.7,22.9,24.1,24.3,23.3,23.0,22.2,...,25.2,24.4,23.5,22.8,23.4,24.9,25.5,23.5,23.5,23.3
5,2,353201-เลย จ.เลย,2012-02-01,23.4,24.2,23.2,24.0,25.6,26.3,25.9,...,25.5,25.9,26.9,26.8,26.5,26.7,26.7,-,-,25.4

###Fillna

In [1016]:
df711 = df71.fillna(method='ffill')
df711.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,27.6,25.6,25.6,25.8,24.3,24.0,25.1,...,26.7,27.6,27.4,27.2,27.3,26.9,26.3,25.8,26.2,26.2
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,26.3,26.3,26.3,26.6,26.8,27.5,27.9,...,26.5,23.9,24.4,25.5,26.1,26.2,26,26,-,25.8
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,25.4,23.9,21.3,22.3,23.0,25.6,25.4,...,23.6,21.1,18.3,18.3,20.4,23.5,23.7,24.2,24.1,22.4
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,23.8,24.5,25.0,24.8,22.8,23.4,23.1,...,25.3,24.4,24.1,22.1,24.6,26.3,25.6,25.3,23,24.4
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,23.9,25.4,25.3,24.8,27.2,28.2,28.3,...,28.3,29.1,29.6,29.2,28.2,27.5,28.5,-,-,26.5

In [1017]:
df722 = df72.fillna(method='ffill')
df722.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.9,26.1,25.3,24.7,23.1,23.2,25.6,...,27.3,27.9,27.0,27.2,27.1,27.6,25.5,25.8,25.9,26.0
2,2,357201-นครพนม จ.นครพนม,2011-11-01,25.8,25.8,25.5,26.8,26.5,27.8,27.3,...,25.5,23.7,23.9,24.8,25.2,26.2,26.2,26.2,-,25.5
3,3,357201-นครพนม จ.นครพนม,2011-12-01,25.4,22.1,20.4,21.3,22.6,23.1,25.2,...,21.6,20.0,17.4,18.0,20.0,22.0,23.9,23.2,21.9,21.3
4,1,357201-นครพนม จ.นครพนม,2012-01-01,21.7,22.8,24.7,23.4,20.3,21.2,21.1,...,20.9,21.4,21.3,21.4,22.8,25.2,24.5,24.1,22.6,22.6
5,2,357201-นครพนม จ.นครพนม,2012-02-01,23.0,24.3,23.4,24.0,25.6,27.3,27.8,...,27.4,28.8,28.5,27.4,23.8,22.4,26.7,-,-,25.1

In [1018]:
df733 = df73.fillna(method='ffill')
df733.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,26.9,25.9,25.7,25.2,23.6,23.5,25.6,...,26.2,27.0,26.6,26.9,27.1,27.5,25.4,25.2,25.5,26.0
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,25.7,25.5,25.5,26.1,26.7,27.8,26.7,...,25.8,23.8,23.7,24.8,25.6,25.7,25.3,25.4,-,25.3
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,25.4,22.4,19.9,21.0,22.0,23.5,25.2,...,21.4,19.4,17.1,18.1,20.0,22.0,22.7,22.9,22.3,21.1
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,22.2,22.7,24.3,23.3,20.5,21.4,20.9,...,22.0,22.1,21.0,20.2,23.2,25.2,24.4,23.4,22.1,22.6
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,23.0,24.1,23.1,23.8,25.9,27.8,28.1,...,27.3,29.6,28.6,27.4,24.4,23.8,26.3,-,-,25.0

In [1019]:
df744 = df74.fillna(method='ffill')
df744.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,26.7,25.5,27.0,26.8,24.9,24.3,25.4,...,27.7,27.9,28.0,27.8,27.8,27.4,27.2,27,27.2,27.0
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,26.3,26.4,26.3,26.5,27.1,27.4,28.3,...,26.8,23.9,23.9,25.2,25.6,26.0,25.7,25.8,-,25.9
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,25.6,23.6,21.4,21.9,23.2,24.7,24.9,...,22.5,20.9,17.0,17.4,19.8,22.8,23.9,24.6,23.5,22.1
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,23.4,23.9,25.1,24.3,20.7,22.8,22.8,...,24.6,23.0,23.2,21.8,24.3,25.8,25.9,24.9,22.4,23.8
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,24.1,24.6,21.7,23.9,26.1,27.7,27.4,...,27.2,27.4,27.4,28.3,25.8,25.5,26.9,-,-,25.6

In [1020]:
df755 = df75.fillna(method='ffill')
df755.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,26.3,25.1,24.4,25.2,25.6,23.7,24.6,...,25.8,26.1,26.1,26.2,25.9,25.6,26.3,25.6,24.8,25.6
2,2,353201-เลย จ.เลย,2011-11-01,25.3,24.7,24.5,24.4,24.9,25.4,25.8,...,26.3,23.6,22.9,23.3,24.5,24.1,25.5,25.5,-,24.4
3,3,353201-เลย จ.เลย,2011-12-01,23.9,22.9,21.0,20.9,22.3,21.6,23.8,...,21.8,19.8,16.6,16.4,17.6,21.1,22.7,22.6,23.2,21.1
4,1,353201-เลย จ.เลย,2012-01-01,22.7,22.9,24.1,24.3,23.3,23.0,22.2,...,25.2,24.4,23.5,22.8,23.4,24.9,25.5,23.5,23.5,23.3
5,2,353201-เลย จ.เลย,2012-02-01,23.4,24.2,23.2,24.0,25.6,26.3,25.9,...,25.5,25.9,26.9,26.8,26.5,26.7,26.7,-,-,25.4

###เปลี่ยนชื่อcolumns

In [1021]:
df711.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df711['จังหวัด'] = "ขอนแก่น"
df722.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df722['จังหวัด'] = "นครพนม"
df733.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df733['จังหวัด'] = "สกลนคร"
df744.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df744['จังหวัด'] = "หนองคาย"
df755.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df755['จังหวัด'] = "เลย"

##อุณภูมิต่ำสุด

In [1022]:
df81 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df82 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df83 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df84 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df85 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

In [1023]:
df81.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.8,23.0,22.1,22.8,23.1,21.7,22.0,...,21.3,22,22.7,21.6,21.7,22.4,21.7,20.2,21.1,22.4
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.7,20.4,20.5,20.9,20.6,22.2,23.8,...,21.5,18.5,18.4,18.9,20.2,20.1,20.2,19.8,-,20.3
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,19.3,18.9,15.4,15.6,16.3,20.2,20.8,...,17.1,16.5,12.1,11.6,13.2,16.5,16.7,18.4,17,16.4
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,17.7,19.6,20.4,20.7,16.8,16.9,16.8,...,22.6,18.6,19.4,16.2,17.5,21.6,20.8,21.6,20.1,19.4
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,19.4,20.5,20.9,20.9,21.5,21.1,20.7,...,19.6,21.3,21.1,21.3,23.4,22,22.2,-,-,20.1

In [1024]:
df82.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.0,23.4,22.2,20.6,21.1,21.0,22.5,...,22,22.5,22.2,22.2,22.3,23.5,21.5,20.5,21,22.4
2,2,357201-นครพนม จ.นครพนม,2011-11-01,20.4,20.5,19.7,20.6,21.3,23.7,24.4,...,21.7,19.2,18.8,18.8,19.6,20.4,19.8,20.9,-,20.4
3,3,357201-นครพนม จ.นครพนม,2011-12-01,19.4,19.8,14.1,14.5,15,18.1,20.7,...,15.8,19.0,13.2,11.6,12.0,14.6,18.6,17.7,15.8,16.1
4,1,357201-นครพนม จ.นครพนม,2012-01-01,15.1,15.5,19.9,21.7,14.9,13.8,15.9,...,20.4,14.6,18.9,14.1,16.3,19.1,18.7,21.3,18.5,17.9
5,2,357201-นครพนม จ.นครพนม,2012-02-01,17.3,18.2,21.5,19.1,20.1,21.3,21.4,...,19.5,21.6,21.3,22.5,21.8,18.6,19,-,-,19.2

In [1025]:
df83.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,24.5,23.1,22.6,21.8,22.5,21.1,23.0,...,22.4,22.4,22.6,22.1,22.2,24.3,22,20.7,20.7,22.7
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,20.5,20.5,20.4,20.6,21.5,24.0,24.3,...,22.5,20.9,18.5,19.0,19.8,20,19.9,19.6,-,20.5
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,19.5,19.3,14.0,15.3,15.8,18.0,21.2,...,16.2,16.7,11.7,13.0,12.6,15.3,16.4,17.2,17,15.9
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,16.9,16.5,18.6,19.9,15.3,15.0,16.0,...,19.8,16.0,17.1,14.6,17.3,20,19.4,20,18.7,18.2
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,18.3,19.0,19.8,19.3,20.2,20.5,21.5,...,19.2,23.5,21.0,20.9,20.8,19.3,19.4,-,-,19.0

In [1026]:
df84.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,25.3,23.3,23.6,23.8,23.3,22.0,22.5,...,23.4,23.9,23.0,23.2,23.2,22.8,22.5,23,23.4,23.5
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,21.2,21.4,21.0,21.3,22.0,22.6,24.2,...,23.1,20.0,18.0,19.2,20.0,21,21.1,20.1,-,21.0
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,20.0,20.1,15.0,15.5,17.2,18.8,20.8,...,16.3,19.0,12.0,11.1,12.7,16,18,18.8,17.5,16.7
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,17.1,17.8,19.3,20.5,17.8,16.8,16.8,...,21.8,18.8,19.2,17.1,17.2,20,21.8,21.3,20.9,19.0
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,19.6,20.0,19.5,19.7,20.1,21.8,21.3,...,20.3,21.0,20.7,22.2,23.0,20.7,21.4,-,-,20.2

In [1027]:
df85.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,23.5,24.3,22.5,23.0,22.7,23.2,21.0,...,20.9,21.5,21.6,21.8,21.5,21.2,21.8,21,20.5,22.2
2,2,353201-เลย จ.เลย,2011-11-01,20.7,19.9,19.1,19.0,19.5,19.8,20.5,...,21.7,18.6,16.9,17.0,19.2,19.3,20.3,19.5,-,19.2
3,3,353201-เลย จ.เลย,2011-12-01,18,19.6,15.5,14.4,17.1,15.5,17.2,...,16.9,15.0,11.1,9.9,10.0,13,15.9,16.5,16.4,15.2
4,1,353201-เลย จ.เลย,2012-01-01,16,16.1,17.9,20.9,19.6,16.8,17.0,...,19.9,21.0,19.0,18.9,16.8,19,21,21.3,20.5,18.2
5,2,353201-เลย จ.เลย,2012-02-01,19,19.0,21.7,20.2,18.9,18.0,16.5,...,15.6,16.5,18.5,18.5,20.0,20.1,18.4,-,-,18.6

###Fillna

In [1028]:
df811 = df81.fillna(method='ffill')
df811.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.8,23.0,22.1,22.8,23.1,21.7,22.0,...,21.3,22,22.7,21.6,21.7,22.4,21.7,20.2,21.1,22.4
2,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.7,20.4,20.5,20.9,20.6,22.2,23.8,...,21.5,18.5,18.4,18.9,20.2,20.1,20.2,19.8,-,20.3
3,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,19.3,18.9,15.4,15.6,16.3,20.2,20.8,...,17.1,16.5,12.1,11.6,13.2,16.5,16.7,18.4,17,16.4
4,1,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,17.7,19.6,20.4,20.7,16.8,16.9,16.8,...,22.6,18.6,19.4,16.2,17.5,21.6,20.8,21.6,20.1,19.4
5,2,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,19.4,20.5,20.9,20.9,21.5,21.1,20.7,...,19.6,21.3,21.1,21.3,23.4,22,22.2,-,-,20.1

In [1029]:
df822 = df82.fillna(method='ffill')
df822.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,357201-นครพนม จ.นครพนม,2011-10-01,25.0,23.4,22.2,20.6,21.1,21.0,22.5,...,22,22.5,22.2,22.2,22.3,23.5,21.5,20.5,21,22.4
2,2,357201-นครพนม จ.นครพนม,2011-11-01,20.4,20.5,19.7,20.6,21.3,23.7,24.4,...,21.7,19.2,18.8,18.8,19.6,20.4,19.8,20.9,-,20.4
3,3,357201-นครพนม จ.นครพนม,2011-12-01,19.4,19.8,14.1,14.5,15,18.1,20.7,...,15.8,19.0,13.2,11.6,12.0,14.6,18.6,17.7,15.8,16.1
4,1,357201-นครพนม จ.นครพนม,2012-01-01,15.1,15.5,19.9,21.7,14.9,13.8,15.9,...,20.4,14.6,18.9,14.1,16.3,19.1,18.7,21.3,18.5,17.9
5,2,357201-นครพนม จ.นครพนม,2012-02-01,17.3,18.2,21.5,19.1,20.1,21.3,21.4,...,19.5,21.6,21.3,22.5,21.8,18.6,19,-,-,19.2

In [1030]:
df833 = df83.fillna(method='ffill')
df833.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,356201-สกลนคร จ.สกลนคร,2011-10-01,24.5,23.1,22.6,21.8,22.5,21.1,23.0,...,22.4,22.4,22.6,22.1,22.2,24.3,22,20.7,20.7,22.7
2,2,356201-สกลนคร จ.สกลนคร,2011-11-01,20.5,20.5,20.4,20.6,21.5,24.0,24.3,...,22.5,20.9,18.5,19.0,19.8,20,19.9,19.6,-,20.5
3,3,356201-สกลนคร จ.สกลนคร,2011-12-01,19.5,19.3,14.0,15.3,15.8,18.0,21.2,...,16.2,16.7,11.7,13.0,12.6,15.3,16.4,17.2,17,15.9
4,1,356201-สกลนคร จ.สกลนคร,2012-01-01,16.9,16.5,18.6,19.9,15.3,15.0,16.0,...,19.8,16.0,17.1,14.6,17.3,20,19.4,20,18.7,18.2
5,2,356201-สกลนคร จ.สกลนคร,2012-02-01,18.3,19.0,19.8,19.3,20.2,20.5,21.5,...,19.2,23.5,21.0,20.9,20.8,19.3,19.4,-,-,19.0

In [1031]:
df844 = df84.fillna(method='ffill')
df844.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,25.3,23.3,23.6,23.8,23.3,22.0,22.5,...,23.4,23.9,23.0,23.2,23.2,22.8,22.5,23,23.4,23.5
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,21.2,21.4,21.0,21.3,22.0,22.6,24.2,...,23.1,20.0,18.0,19.2,20.0,21,21.1,20.1,-,21.0
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,20.0,20.1,15.0,15.5,17.2,18.8,20.8,...,16.3,19.0,12.0,11.1,12.7,16,18,18.8,17.5,16.7
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,17.1,17.8,19.3,20.5,17.8,16.8,16.8,...,21.8,18.8,19.2,17.1,17.2,20,21.8,21.3,20.9,19.0
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,19.6,20.0,19.5,19.7,20.1,21.8,21.3,...,20.3,21.0,20.7,22.2,23.0,20.7,21.4,-,-,20.2

In [1032]:
df855 = df85.fillna(method='ffill')
df855.head()

,ที่,สถานี,เดือน/ปี,วันที่,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,เฉลี่ย
1,1,353201-เลย จ.เลย,2011-10-01,23.5,24.3,22.5,23.0,22.7,23.2,21.0,...,20.9,21.5,21.6,21.8,21.5,21.2,21.8,21,20.5,22.2
2,2,353201-เลย จ.เลย,2011-11-01,20.7,19.9,19.1,19.0,19.5,19.8,20.5,...,21.7,18.6,16.9,17.0,19.2,19.3,20.3,19.5,-,19.2
3,3,353201-เลย จ.เลย,2011-12-01,18,19.6,15.5,14.4,17.1,15.5,17.2,...,16.9,15.0,11.1,9.9,10.0,13,15.9,16.5,16.4,15.2
4,1,353201-เลย จ.เลย,2012-01-01,16,16.1,17.9,20.9,19.6,16.8,17.0,...,19.9,21.0,19.0,18.9,16.8,19,21,21.3,20.5,18.2
5,2,353201-เลย จ.เลย,2012-02-01,19,19.0,21.7,20.2,18.9,18.0,16.5,...,15.6,16.5,18.5,18.5,20.0,20.1,18.4,-,-,18.6

###เปลี่ยนชื่อcolumns

In [1033]:
df811.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df811['จังหวัด'] = "ขอนแก่น"
df822.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df822['จังหวัด'] = "นครพนม"
df833.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df833['จังหวัด'] = "สกลนคร"
df844.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df844['จังหวัด'] = "หนองคาย"
df855.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df855['จังหวัด'] = "เลย"

#ต่อจากเดิม Commit2

#ความกด(เปอร์เซ็นต์)

##รวมตาราง ความกดทุกจังหวัด Concat

In [1034]:
x1 = pd.concat([df111,df122,df133,df144,df155])
x1.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
5,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

####ขอนแก่น

In [1035]:
a1 = df111.drop('เฉลี่ย', axis=1)
a1

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.90,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1013.63,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1009.62,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52
5,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1006.99,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-
6,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-10-01,1011.50,1011.11,1008.60,1007.07,1008.17,1010.06,1010.11,...,1011.87,1010.93,1010.20,1009.78,1009.08,1008.67,1008.41,1008.71,1008.7,1011.83
7,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-11-01,1012.67,1011.17,1010.47,1010.24,1010.43,1010.90,1009.76,...,1008.60,1008.60,1010.51,1011.46,1010.77,1010.16,1010.18,1010.04,1009.54,-
8,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-12-01,1009.80,1010.17,1010.74,1010.72,1010.61,1012.15,1011.02,...,1010.88,1014.53,1016.29,1013.54,1011.60,1010.58,1009.61,1009.9,1011.64,1014.86
9,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2013-01-01,1014.58,1013.30,1013.73,1012.89,1011.43,1011.80,1012.20,...,1013.70,1013.16,1012.54,1012.09,1012.41,1013.80,1016.45,1015.31,1014.99,1015.58
10,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2013-02-01,1015.19,1013.97,1013.89,1013.91,1013.43,1011.11,1008.35,...,1013.99,1015.38,1013.40,1011.79,1010.17,1007.95,1006.82,-,-,-
11,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2013-10-01,1007.15,1010.12,1009.88,1009.47,1008.08,1008.35,1009.30,...,1012.93,1012.52,1012.21,1013.81,1014.58,1013.70,1013.78,1013.54,1012.81,1012.4
12,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2013-11-01,1011.98,1011.46,1012.38,1014.27,1013.73,1012.49,1012.23,...,1011.68,1010.88,1010.65,1009.57,1009.86,1011.42,1014.45,1016.41,1015.26,-
13,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2013-12-01,1016.33,1016.26,1014.47,1013.72,1012.13,1012.41,1013.45,...,1018.30,1016.96,1017.48,1017.28,1016.62,1017.87,1016.97,1016.84,1017,1017.5
14,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2014-01-01,1015.68,1013.34,1012.22,1013.22,1012.63,1011.37,1011.15,...,1020.76,1018.49,1014.48,1012.48,1014.52,1015.37,1013.99,1014.53,1015.39,1014.49
15,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2014-02-01,1011.69,1008.58,1006.13,1005.61,1006.28,1006.33,1006.42,...,1014.33,1013.56,1013.11,1012.19,1010.95,1011.90,1010.65,1017.86,1016.45,-
16,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2014-10-01,1010.85,1010.07,1008.86,1008.74,1009.45,1011.89,1011.67,...,1012.54,1011.90,1011.71,1011.75,1012.54,1011.60,1010.97,1011.07,1010.28,1009.99
17,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2014-11-01,1009.82,1010.80,1012.60,1012.98,1013.05,1011.94,1011.51,...,1012.35,1012.04,1011.58,1010.59,1009.18,1009.71,1009.71,1009.31,1008.11,-
18,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2014-12-01,1010.10,1011.37,1011.13,1012.84,1015.01,1013.72,1012.41,...,1016.93,1016.09,1015.77,1014.03,1011.86,1012.67,1015.48,1016.54,1014.73,1015.75
19,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2015-01-01,1018.10,1018.43,1016.61,1013.04,1010.62,1010.23,1011.51,...,1017.44,1014.58,1013.35,1013.90,1013.39,1011.88,1010.83,1012.02,1013.99,1016.1
20,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2015-02-01,1017.24,1017.93,1018.05,1016.92,1016.98,1017.54,1015.70,...,1012.25,1012.47,1010.20,1008.99,1008.88,1009.33,1009.39,-,-,-
21,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2015-10-01,1011.22,1010.97,1010.41,1010.60,1010.96,1011.22,1011.05,...,1010.32,1011.04,1012.27,1013.21,1013.10,1012.37,1013.38,1013.26,1013.24,1013.93
22,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2015-11-01,1014.97,1015.22,1014.31,1012.89,1010.98,1010.44,1012.16,...,1011.73,1011.81,1011.37,1011.94,1013.02,1014.29,1015.72,1015.5,1014.26,-
23,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2015-12-01,1012.55,1012.12,1012.52,1012.37,1013.84,1015.29,1016.55,...,1015.41,1014.23,1012.50,1012.83,1014.45,1016.48,1018.15,1017.3,1016.83,1018.79
24,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2016-01-01,1019.11,1017.96,1016.01,1014.81,1013.54,1014.17,1015.09,...,1012.14,1014.31,1022.85,1024.58,1021.61,1018.09,1014.91,1012.85,1012.14,1010.96
25,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2016-02-01,1012.54,1015.56,1015.71,1014.56,1014.67,1018.76,1021.78,...,1014.81,1013.14,1016.51,1020.20,1020.62,1019.59,1018.81,1018.79,1014.23,-
26,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2016-10-01,1008.89,1008.47,1007.18,1006.91,1006.73,1008.18,1008.18,...,1007.17,1007.01,1007.45,1008.60,1010.82,1012.48,1011.16,1011.55,1012.69,1012.93
27,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2016-11-01,1012.79,1013.98,1014.58,1012.23,1009.86,1009.65,1010.88,...,1008.34,1009.72,1010.14,1010.23,1010.87,1012.68,1014.55,1015.79,1016.13,-
28,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2016-12-01,1016.86,1016.16,1015.39,1014.32,1013.74,1015.07,1014.06,...,1012.42,1012.91,1012.30,1012.25,1011.84,1013.72,1016.30,1017.37,1017.8,1016.77
29,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2017-01-01,1015.76,1014.10,1013.84,1012.96,1012.34,1010.60,1008.84,...,1018.39,1018.28,1017.70,1017.96,1017.01,1016.06,1014.32,1012.96,1012.88,1013.95
30,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2017-02-01,1014.21,1015.26,1014.23,1011.67,1010.69,1009.80,1008.96,...,1009.86,1010.00,1011.29,1012.89,1013.60,1014.51,1013.49,1016.69,1017.07,-
31,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2017-10-01,1009.04,1007.45,1007.44,1009.05,1010.15,1009.71,1008.66,...,1010.01,1011.04,1014.10,1015.08,1013.71,1011.98,1012.53,1013.79,1015.2,1014.65
32,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2017-11-01,1013.68,1011.33,1012.00,1011.97,1013.19,1012.18,1011.52,...,1011.44,1012.42,1015.12,1015.78,1014.90,1012.86,1012.40,1012.22,1011.47,-
33,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2017-12-01,1012.16,1012.63,1012.48,1012.26,1013.50,1012.88,1012.24,...,1015.55,1012.10,1013.11,1014.21,1015.17,1014.80,1014.75,1014.72,1014.49,1015.22
34,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2018-01-01,1013.49,1012.55,1011.88,1010.84,1009.47,1008.59,1009.45,...,1009.26,1008.89,1008.44,1008.10,1008.46,1008.72,1008.65,1009.56,1012.29,1013.5
35,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2018-02-01,1016.03,1016.00,1018.19,1017.67,1019.01,1018.11,1015.02,...,1010.92,1013.25,1013.63,1011.51,1011.92,1011.70,1009.53,-,-,-
36,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2018-10-01,1010.47,1011.63,1011.63,1011.91,1012.22,1011.63,1011.61,...,1012.39,1011.66,1012.16,1012.58,1013.42,1013.89,1013.66,1012.7,1012.71,1013.87
37,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2018-11-01,1013.50,1013.96,1014.10,1013.05,1012.12,1012.11,1012.37,...,1013.10,1015.23,1014.18,1013.51,1013.95,1015.92,1015.71,1015.89,1014.52,-
38,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2018-12-01,1012.48,1011.29,1011.47,1011.69,1010.70,1009.97,1010.74,...,1011.26,1012.47,1012.12,1011.17,1009.81,1009.58,1011.02,1014.95,1017.04,1019.08
39,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2019-01-01,1019.06,1018.25,1018.03,1016.94,1015.36,1014.87,1013.64,...,1016.50,1015.52,1014.71,1015.12,1017.06,1017.11,1015.93,1014.39,1014.12,1014.12
40,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2019-02-01,1014.93,1013.13,1012.71,1012.92,1011.68,1009.89,1010.78,...,1009.84,1008.36,1008.63,1009.36,1010.52,1009.81,1008.33,-,-,-
41,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2019-10-01,1009.73,1009.64,1009.30,1009.99,1010.62,1011.12,1011.16,...,1008.59,1007.96,1009.48,1011.38,1011.52,1010.91,1010.81,1011.95,1012.02,1010.36
42,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2019-11-01,1010.27,1010.69,1011.01,1012.42,1010.78,1009.42,1010.89,...,1014.05,1013.12,1012.68,1014.43,1013.98,1013.13,1014.15,1014.29,1013.6,1010.36
43,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2019-12-01,1012.81,1015.07,1017.05,1018.56,1019.41,1020.43,1020.26,...,1011.74,1011.49,1011.94,1011.10,1011.34,1013.22,1014.32,1013.81,1014.76,1016.49
44,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2020-01-01,1017.80,1018.04,1016.21,1014.33,1013.76,1013.74,1012.64,...,1013.68,1011.31,1010.53,1008.93,1008.84,1009.65,1011.14,1013.8,1015.25,1015.43
45,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2020-02-01,1014.57,1014.85,1013.17,1011.85,1012.19,1012.60,1013.20,...,1019.41,1017.40,1014.74,1012.35,1012.54,1012.56,1011.53,1010.22,-,-
46,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2020-10-01,1005.67,1006.21,1007.56,1008.25,1008.60,1008.88,1008.64,...,1010.60,1011.37,1011.84,1010.77,1010.94,1009.87,1007.73,1006.46,1011.34,1012.11
47,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2020-11-01,1012.18,1012.74,1013.72,1013.71,1013.32,1013.43,1014.50,...,1011.91,1013.11,1012.99,1012.89,1013.69,1014.92,1015.28,1015.33,1015.85,-
48,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2020-12-01,1016.17,1014.73,1015.23,1016.08,1016.58,1016.28,1015.71,...,1015.10,1012.58,1011.89,1012.57,1012.30,1010.83,1009.91,1009.95,1013.86,1018.27
49,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2021-01-01,1018.63,1017.35,1015.20,1015.49,1014.24,1012.99,1012.07,...,1011.27,1011.15,1011.56,1011.04,1011.50,1011.67,1013.78,1015.66,1015.24,1014.93
50,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2021-02-01,1014.44,1014.14,1014.30,1015.04,1014.19,1013.19,1012.24,...,1011.11,1010.08,1008.40,1006.24,1004.28,1005.45,1007.80,-,-,-
51,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2021-10-01,1008.12,1008.74,1008.64,1008.16,1007.42,1005.93,1004.61,...,1013.04,1015.21,1015.08,1013.52,1012.33,1012.16,1012.33,1013.04,1013.26,1012.96
52,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2021-11-01,1013.23,1013.04,1012.50,1011.41,1009.71,1007.97,1007.80,...,1011.00,1013.18,1014.70,1014.53,1014.41,1015.51,1014.45,1013.37,1013.98,-
53,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2021-12-01,1015.80,1017.00,1018.68,1018.13,1017.43,1016.91,1016.72,...,1013.32,1012.63,1012.30,1013.87,1015.64,1017.06,1017.58,1016.4,1017.83,1018.39
54,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2022-01-01,1017.75,1016.89,1015.26,1014.98,1013.66,1014.12,1014.99,...,1010.49,1010.66,1010.19,1010.22,1010.70,1010.80,1010.52,1008.55,1007.99,1008.91
55,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2022-02-01,1010.90,1012.02,1012.12,1013.77,1015.52,1014.63,1011.54,...,1016.38,1017.55,1019.04,1018.41,1016.05,1014.37,1013.04,1013.37,1013.98,-

In [1036]:
a1['จังหวัด'] = "ขอนแก่น"
a1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x1 = a1.stack().reset_index()
x1.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x1['เดือน'] = x1['เดือน/ปี'].dt.month
x1['ปี'] = x1['เดือน/ปี'].dt.year
x1_1 = x1[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x1_1.head()

   จังหวัด                     สถานี วัน  เดือน    ปี   ความกด
0  ขอนแก่น  352201-หนองคาย จ.หนองคาย   1     10  2011  1005.47
1  ขอนแก่น  352201-หนองคาย จ.หนองคาย   2     10  2011  1006.65
2  ขอนแก่น  352201-หนองคาย จ.หนองคาย   3     10  2011  1007.49
3  ขอนแก่น  352201-หนองคาย จ.หนองคาย   4     10  2011  1008.28
4  ขอนแก่น  352201-หนองคาย จ.หนองคาย   5     10  2011  1009.88

####นครพนม

In [1037]:
a2 = df122.drop('เฉลี่ย', axis=1)
a2.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,352201-หนองคาย จ.หนองคาย,2011-10-01,1006.30,1007.38,1008.07,1008.44,1010.51,1011.65,1011.24,...,1011.24,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28
2,นครพนม,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.28,1011.23,1011.08,1010.96,1010.57,1009.20,1007.99,...,1014.31,1015.49,1016.09,1014.62,1012.80,1011.83,1010.00,1010.6,1011.13,-
3,นครพนม,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.15,1013.75,1013.24,1013.94,1013.35,1012.62,1012.48,...,1014.05,1014.23,1017.58,1019.77,1019.71,1017.34,1017.01,1015.64,1016.89,1017.73
4,นครพนม,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.56,1014.88,1013.41,1015.85,1016.94,1017.13,1019.21,...,1010.58,1013.13,1012.45,1013.59,1013.15,1011.56,1010.71,1011.95,1013.77,1015.5
5,นครพนม,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.98,1013.75,1014.96,1013.52,1011.85,1008.82,1008.15,...,1007.30,1005.76,1005.13,1004.94,1006.42,1008.93,1007.88,1007.29,1011.13,-

In [1038]:
a2['จังหวัด'] = "นครพนม"
a2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x2 = a2.stack().reset_index()
x2.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x2['เดือน'] = x2['เดือน/ปี'].dt.month
x2['ปี'] = x2['เดือน/ปี'].dt.year
x2_1 = x2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x2_1.head()

  จังหวัด                     สถานี วัน  เดือน    ปี   ความกด
0  นครพนม  352201-หนองคาย จ.หนองคาย   1     10  2011   1006.3
1  นครพนม  352201-หนองคาย จ.หนองคาย   2     10  2011  1007.38
2  นครพนม  352201-หนองคาย จ.หนองคาย   3     10  2011  1008.07
3  นครพนม  352201-หนองคาย จ.หนองคาย   4     10  2011  1008.44
4  นครพนม  352201-หนองคาย จ.หนองคาย   5     10  2011  1010.51

###สกลนคร

In [1039]:
a3 = df133.drop('เฉลี่ย', axis=1)
a3.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,1011.24,...,1011.36,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21
2,สกลนคร,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,1008.20,...,1014.41,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-
3,สกลนคร,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,1012.57,...,1014.07,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63
4,สกลนคร,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.61,1014.92,1013.86,1015.71,1016.87,1017.17,1018.83,...,1010.11,1012.80,1012.37,1013.47,1013.39,1011.36,1010.64,1011.95,1013.86,1015.52
5,สกลนคร,352201-หนองคาย จ.หนองคาย,2012-02-01,1014.05,1013.71,1014.95,1013.68,1011.72,1008.93,1008.08,...,1007.13,1005.73,1005.04,1004.96,1005.94,1008.70,1007.38,1007.25,1011.06,-

In [1040]:
a3['จังหวัด'] = "นครพนม"
a3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x3 = a3.stack().reset_index()
x3.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x3['เดือน'] = x3['เดือน/ปี'].dt.month
x3['ปี'] = x3['เดือน/ปี'].dt.year
x3_1 = x3[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x3_1.head()

  จังหวัด                     สถานี วัน  เดือน    ปี   ความกด
0  นครพนม  352201-หนองคาย จ.หนองคาย   1     10  2011  1005.84
1  นครพนม  352201-หนองคาย จ.หนองคาย   2     10  2011  1007.16
2  นครพนม  352201-หนองคาย จ.หนองคาย   3     10  2011  1007.87
3  นครพนม  352201-หนองคาย จ.หนองคาย   4     10  2011  1008.56
4  นครพนม  352201-หนองคาย จ.หนองคาย   5     10  2011  1010.55

####หนองคาย

In [1041]:
a4 = df144.drop('เฉลี่ย', axis=1)
a4.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.34,1006.67,1007.39,1008.11,1009.69,1011.55,1011.28,...,1011.17,1011.01,1010.71,1011.67,1012.36,1012.50,1012.81,1011.88,1011.77,1012.18
2,หนองคาย,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.05,1011.35,1011.28,1011.27,1010.62,1009.58,1008.55,...,1014.32,1015.27,1016.46,1014.65,1013.08,1011.62,1010.21,1010.71,1011.1,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.26,1012.40,1013.57,1013.68,1012.72,1012.44,...,1013.91,1013.94,1016.92,1019.05,1019.88,1017.86,1016.76,1015.63,1016.31,1017.19
4,หนองคาย,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.26,1014.60,1012.83,1014.85,1016.69,1016.56,1018.50,...,1010.03,1011.56,1011.98,1012.20,1012.95,1011.23,1010.63,1010.96,1013.16,1015.38
5,หนองคาย,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.64,1013.36,1014.86,1013.93,1011.87,1008.77,1008.42,...,1007.18,1005.89,1005.54,1005.28,1005.32,1007.59,1006.66,1007.07,1011.1,-

In [1042]:
a4['จังหวัด'] = "หนองคาย"
a4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x4 = a4.stack().reset_index()
x4.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x4['เดือน'] = x4['เดือน/ปี'].dt.month
x4['ปี'] = x4['เดือน/ปี'].dt.year
x4_1 = x4[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x4_1

      จังหวัด                     สถานี วัน  เดือน    ปี   ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1     10  2011  1005.34
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2     10  2011  1006.67
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3     10  2011  1007.39
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4     10  2011  1008.11
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5     10  2011  1009.69
...       ...                       ...  ..    ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27      2  2022  1015.31
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28      2  2022  1013.06
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29      2  2022        -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30      2  2022        -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31      2  2022        -

[1705 rows x 6 columns]

####เลย

#ความชื้นสัมพันธ์

##ขอนแก่น

####นครพนม