<a href="https://colab.research.google.com/github/1234567890qqqqqq/bsc_dpdm22/blob/main/Quiz_Group_7_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1216]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#นำเข้าไฟล์ทั้งหมด

##ความกด(เปอร์เซ็นต์)

In [1217]:
df11 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df12 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df13 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df14 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df15 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

###Fillna

In [ ]:
df111 = df11.fillna(method='ffill')
df111.head()

In [ ]:
df122 = df12.fillna(method='ffill')
df122.head()

In [ ]:
df133 = df13.fillna(method='ffill')
df133.head()

In [ ]:
df144 = df14.fillna(method='ffill')
df144.head()

In [ ]:
df155 = df15.fillna(method='ffill')
df155.head()

###เปลี่ยนชื่อcolumns

In [1229]:
df111.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df111['จังหวัด'] = "ขอนแก่น"
df122.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df122['จังหวัด'] = "นครพนม"
df133.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df133['จังหวัด'] = "สกลนคร"
df144.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df144['จังหวัด'] = "หนองคาย"
df155.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df155['จังหวัด'] = "เลย"

In [1230]:
df111.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
5,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [1231]:
df155.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,เลย,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,1011.22,...,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71,1010.343871
2,เลย,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,1008.28,...,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-,1012.078333
3,เลย,352201-หนองคาย จ.หนองคาย,2011-12-01,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,1012.81,...,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62,1016.470000
4,เลย,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.42,1014.07,1012.35,1013.49,1014.99,1015.70,1017.24,...,1010.10,1010.76,1011.11,1011.72,1010.91,1010.31,1010.16,1012.61,1014.4,1012.367419
5,เลย,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.19,1012.82,1013.94,1013.18,1010.99,1008.58,1008.19,...,1005.78,1005.48,1004.96,1005.05,1006.27,1005.59,1006.52,1010.43,-,1009.516667

##ความชื้นสัมพันธ์

In [1232]:
df21 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df22 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df23 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df24 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df25 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

###Fillna

In [ ]:
df211 = df21.fillna(method='ffill')
df211.head()

In [ ]:
df222 = df22.fillna(method='ffill')
df222.head()

In [ ]:
df233 = df23.fillna(method='ffill')
df233.head()

In [ ]:
df244 = df24.fillna(method='ffill')
df244.head()

In [ ]:
df255 = df25.fillna(method='ffill')
df255.head()

###เปลี่ยนชื่อcolumns

In [1243]:
df211.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df211['จังหวัด'] = "ขอนแก่น"

In [1244]:
df222.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df222['จังหวัด'] = "นครพนม"

In [1245]:
df233.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df233['จังหวัด'] = "สกลนคร"

In [1246]:
df244.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df244['จังหวัด'] = "หนองคาย"

In [1247]:
df255.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df255['จังหวัด'] = "เลย"

In [1248]:
df255.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,เลย,353301-เลย สกษ. จ.เลย,2011-10-01,90,95,92,89,86,94,90,...,85,86,83,84,85,85,82,83,85,87.0
2,เลย,353301-เลย สกษ. จ.เลย,2011-11-01,85,83,84,83,83,85,83,...,73,77,80,81,80,84,82,79,-,82.0
3,เลย,353301-เลย สกษ. จ.เลย,2011-12-01,80,77,77,76,78,83,82,...,80,74,75,74,80,80,78,81,78,77.0
4,เลย,353301-เลย สกษ. จ.เลย,2012-01-01,75,78,81,79,73,77,82,...,83,80,83,79,80,78,77,82,79,78.0
5,เลย,353301-เลย สกษ. จ.เลย,2012-02-01,79,81,91,84,78,73,69,...,67,68,68,67,76,73,70,-,-,73.0

##ความเร็วลม

In [1249]:
df31 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df32 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df33 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df34 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df35 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ความเร็วลม(นอต)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

###Fillna

In [ ]:
df311 = df31.fillna(method='ffill')
df311.head()

In [ ]:
df322 = df32.fillna(method='ffill')
df322.head()

In [ ]:
df333 = df33.fillna(method='ffill')
df333.head()

In [ ]:
df344 = df34.fillna(method='ffill')
df344.head()

In [ ]:
df355 = df35.fillna(method='ffill')
df355.head()

###เปลี่ยนชื่อcolumns

In [1260]:
df311.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df311['จังหวัด'] = "ขอนแก่น"
df322.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df322['จังหวัด'] = "นครพนม"
df333.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df333['จังหวัด'] = "สกลนคร"
df344.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df344['จังหวัด'] = "หนองคาย"
df355.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df355['จังหวัด'] = "เลย"

##จำนวนเมฆ

In [1261]:
df41 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df42 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df43 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df44 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df45 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

###Fillna

In [ ]:
df411 = df41.fillna(method='ffill')
df411.head()

In [ ]:
df422 = df42.fillna(method='ffill')
df422.head()

In [ ]:
df433 = df43.fillna(method='ffill')
df433.head()

In [ ]:
df444 = df44.fillna(method='ffill')
df444.head()

In [ ]:
df455 = df45.fillna(method='ffill')
df455.head()

###เปลี่ยนชื่อcolumns

In [1272]:
df411.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df411['จังหวัด'] = "ขอนแก่น"
df422.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df422['จังหวัด'] = "นครพนม"
df433.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df433['จังหวัด'] = "สกลนคร"
df444.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df444['จังหวัด'] = "หนองคาย"
df455.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df455['จังหวัด'] = "เลย"

##ปริมาณฝน

In [1273]:
df51 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df52 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df53 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df54 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df55 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

###Fillna

In [ ]:
df511 = df51.fillna(method='ffill')
df511.head()

In [ ]:
df522 = df52.fillna(method='ffill')
df522.head()

In [ ]:
df533 = df53.fillna(method='ffill')
df533.head()

In [ ]:
df544 = df54.fillna(method='ffill')
df544.head()

In [ ]:
df555 = df55.fillna(method='ffill')
df555.head()

###เปลี่ยนชื่อcolumns

In [1284]:
df511.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df511['จังหวัด'] = "ขอนแก่น"
df522.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df522['จังหวัด'] = "นครพนม"
df533.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df533['จังหวัด'] = "สกลนคร"
df544.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df544['จังหวัด'] = "หนองคาย"
df555.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df555['จังหวัด'] = "เลย"

##อุณหภูมิจุดน้ำค้าง

In [1285]:
df61 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df62 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df63 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df64 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df65 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

###Fillna

In [ ]:
df611 = df61.fillna(method='ffill')
df611.head()

In [ ]:
df622 = df62.fillna(method='ffill')
df622.head()

In [ ]:
df633 = df63.fillna(method='ffill')
df633.head()

In [ ]:
df644 = df64.fillna(method='ffill')
df644.head()

In [ ]:
df655 = df65.fillna(method='ffill')
df655.head()

###เปลี่ยนชื่อcolumns

In [1296]:
df611.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df611['จังหวัด'] = "ขอนแก่น"
df622.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df622['จังหวัด'] = "นครพนม"
df633.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df633['จังหวัด'] = "สกลนคร"
df644.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df644['จังหวัด'] = "หนองคาย"
df655.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df655['จังหวัด'] = "เลย"

##อุณภูมิตุ้มแห้ง

In [1297]:
df71 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df72 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df73 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df74 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df75 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

###Fillna

In [ ]:
df711 = df71.fillna(method='ffill')
df711.head()

In [ ]:
df722 = df72.fillna(method='ffill')
df722.head()

In [ ]:
df733 = df73.fillna(method='ffill')
df733.head()

In [ ]:
df744 = df74.fillna(method='ffill')
df744.head()

In [ ]:
df755 = df75.fillna(method='ffill')
df755.head()

###เปลี่ยนชื่อcolumns

In [1308]:
df711.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df711['จังหวัด'] = "ขอนแก่น"
df722.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df722['จังหวัด'] = "นครพนม"
df733.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df733['จังหวัด'] = "สกลนคร"
df744.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df744['จังหวัด'] = "หนองคาย"
df755.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df755['จังหวัด'] = "เลย"

##อุณภูมิต่ำสุด

In [1309]:
df81 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df82 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df83 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df84 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
df85 = pd.read_excel('/content/drive/MyDrive/2 65/จารต้น 2/bsc_DMPM_data/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

###Fillna

In [ ]:
df811 = df81.fillna(method='ffill')
df811.head()

In [ ]:
df822 = df82.fillna(method='ffill')
df822.head()

In [ ]:
df833 = df83.fillna(method='ffill')
df833.head()

In [ ]:
df844 = df84.fillna(method='ffill')
df844.head()

In [ ]:
df855 = df85.fillna(method='ffill')
df855.head()

###เปลี่ยนชื่อcolumns

In [1320]:
df811.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df811['จังหวัด'] = "ขอนแก่น"
df822.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df822['จังหวัด'] = "นครพนม"
df833.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df833['จังหวัด'] = "สกลนคร"
df844.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df844['จังหวัด'] = "หนองคาย"
df855.rename(columns={'ที่':'จังหวัด','วันที่':'1','Unnamed: 4':'2','Unnamed: 5':'3','Unnamed: 6':'4','Unnamed: 7':'5','Unnamed: 8':'6',
                      'Unnamed: 9':'7','Unnamed: 10':'8','Unnamed: 11':'9','Unnamed: 12':'10','Unnamed: 13':'11','Unnamed: 14':'12',
                      'Unnamed: 15':'13','Unnamed: 16':'14','Unnamed: 17':'15','Unnamed: 18':'16','Unnamed: 19':'17','Unnamed: 20':'18',
                      'Unnamed: 21':'19','Unnamed: 22':'20','Unnamed: 23':'21','Unnamed: 24':'22','Unnamed: 25':'23','Unnamed: 26':'24',                     
                      'Unnamed: 27':'25','Unnamed: 28':'26','Unnamed: 29':'27','Unnamed: 30':'28','Unnamed: 31':'29','Unnamed: 32':'30',
                      'Unnamed: 33':'31'}, inplace=True)
df855['จังหวัด'] = "เลย"

#ต่อจากเดิม Commit2

#ความกด(เปอร์เซ็นต์)

##รวมตาราง ความกดทุกจังหวัด Concat

In [1321]:
x1 = pd.concat([df111,df122,df133,df144,df155])
x1.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
5,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

####ขอนแก่น

In [1322]:
a1 = df111.drop('เฉลี่ย', axis=1)
a1.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.90,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1013.63,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1009.62,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52
5,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1006.99,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-

In [1323]:
a1['จังหวัด'] = "ขอนแก่น"
a1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x1 = a1.stack().reset_index()
x1.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x1['เดือน'] = x1['เดือน/ปี'].dt.month
x1['ปี'] = x1['เดือน/ปี'].dt.year
x1_1 = x1[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x1_1

      จังหวัด                     สถานี วัน  เดือน    ปี   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย   1     10  2011  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย   2     10  2011  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย   3     10  2011  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย   4     10  2011  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย   5     10  2011  1009.88
...       ...                       ...  ..    ...   ...      ...
1700  ขอนแก่น  352201-หนองคาย จ.หนองคาย  27      2  2022  1014.37
1701  ขอนแก่น  352201-หนองคาย จ.หนองคาย  28      2  2022  1013.04
1702  ขอนแก่น  352201-หนองคาย จ.หนองคาย  29      2  2022  1013.37
1703  ขอนแก่น  352201-หนองคาย จ.หนองคาย  30      2  2022  1013.98
1704  ขอนแก่น  352201-หนองคาย จ.หนองคาย  31      2  2022        -

[1705 rows x 6 columns]

####นครพนม

In [1324]:
a2 = df122.drop('เฉลี่ย', axis=1)
a2.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,352201-หนองคาย จ.หนองคาย,2011-10-01,1006.30,1007.38,1008.07,1008.44,1010.51,1011.65,1011.24,...,1011.24,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28
2,นครพนม,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.28,1011.23,1011.08,1010.96,1010.57,1009.20,1007.99,...,1014.31,1015.49,1016.09,1014.62,1012.80,1011.83,1010.00,1010.6,1011.13,-
3,นครพนม,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.15,1013.75,1013.24,1013.94,1013.35,1012.62,1012.48,...,1014.05,1014.23,1017.58,1019.77,1019.71,1017.34,1017.01,1015.64,1016.89,1017.73
4,นครพนม,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.56,1014.88,1013.41,1015.85,1016.94,1017.13,1019.21,...,1010.58,1013.13,1012.45,1013.59,1013.15,1011.56,1010.71,1011.95,1013.77,1015.5
5,นครพนม,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.98,1013.75,1014.96,1013.52,1011.85,1008.82,1008.15,...,1007.30,1005.76,1005.13,1004.94,1006.42,1008.93,1007.88,1007.29,1011.13,-

In [1325]:
a2['จังหวัด'] = "นครพนม"
a2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x2 = a2.stack().reset_index()
x2.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x2['เดือน'] = x2['เดือน/ปี'].dt.month
x2['ปี'] = x2['เดือน/ปี'].dt.year
x2_1 = x2[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x2_1

     จังหวัด                     สถานี วัน  เดือน    ปี   ความกด
0     นครพนม  352201-หนองคาย จ.หนองคาย   1     10  2011   1006.3
1     นครพนม  352201-หนองคาย จ.หนองคาย   2     10  2011  1007.38
2     นครพนม  352201-หนองคาย จ.หนองคาย   3     10  2011  1008.07
3     นครพนม  352201-หนองคาย จ.หนองคาย   4     10  2011  1008.44
4     นครพนม  352201-หนองคาย จ.หนองคาย   5     10  2011  1010.51
...      ...                       ...  ..    ...   ...      ...
1700  นครพนม  352201-หนองคาย จ.หนองคาย  27      2  2022  1016.43
1701  นครพนม  352201-หนองคาย จ.หนองคาย  28      2  2022  1013.53
1702  นครพนม  352201-หนองคาย จ.หนองคาย  29      2  2022  1013.37
1703  นครพนม  352201-หนองคาย จ.หนองคาย  30      2  2022  1013.98
1704  นครพนม  352201-หนองคาย จ.หนองคาย  31      2  2022        -

[1705 rows x 6 columns]

###สกลนคร

In [1326]:
a3 = df133.drop('เฉลี่ย', axis=1)
a3.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,1011.24,...,1011.36,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21
2,สกลนคร,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,1008.20,...,1014.41,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-
3,สกลนคร,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,1012.57,...,1014.07,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63
4,สกลนคร,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.61,1014.92,1013.86,1015.71,1016.87,1017.17,1018.83,...,1010.11,1012.80,1012.37,1013.47,1013.39,1011.36,1010.64,1011.95,1013.86,1015.52
5,สกลนคร,352201-หนองคาย จ.หนองคาย,2012-02-01,1014.05,1013.71,1014.95,1013.68,1011.72,1008.93,1008.08,...,1007.13,1005.73,1005.04,1004.96,1005.94,1008.70,1007.38,1007.25,1011.06,-

In [1327]:
a3['จังหวัด'] = "สกลนคร"
a3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x3 = a3.stack().reset_index()
x3.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x3['เดือน'] = x3['เดือน/ปี'].dt.month
x3['ปี'] = x3['เดือน/ปี'].dt.year
x3_1 = x3[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x3_1

     จังหวัด                     สถานี วัน  เดือน    ปี   ความกด
0     สกลนคร  352201-หนองคาย จ.หนองคาย   1     10  2011  1005.84
1     สกลนคร  352201-หนองคาย จ.หนองคาย   2     10  2011  1007.16
2     สกลนคร  352201-หนองคาย จ.หนองคาย   3     10  2011  1007.87
3     สกลนคร  352201-หนองคาย จ.หนองคาย   4     10  2011  1008.56
4     สกลนคร  352201-หนองคาย จ.หนองคาย   5     10  2011  1010.55
...      ...                       ...  ..    ...   ...      ...
1700  สกลนคร  352201-หนองคาย จ.หนองคาย  27      2  2022  1014.95
1701  สกลนคร  352201-หนองคาย จ.หนองคาย  28      2  2022  1012.89
1702  สกลนคร  352201-หนองคาย จ.หนองคาย  29      2  2022  1013.37
1703  สกลนคร  352201-หนองคาย จ.หนองคาย  30      2  2022  1013.98
1704  สกลนคร  352201-หนองคาย จ.หนองคาย  31      2  2022        -

[1705 rows x 6 columns]

###หนองคาย

In [1328]:
a4 = df144.drop('เฉลี่ย', axis=1)
a4.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.34,1006.67,1007.39,1008.11,1009.69,1011.55,1011.28,...,1011.17,1011.01,1010.71,1011.67,1012.36,1012.50,1012.81,1011.88,1011.77,1012.18
2,หนองคาย,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.05,1011.35,1011.28,1011.27,1010.62,1009.58,1008.55,...,1014.32,1015.27,1016.46,1014.65,1013.08,1011.62,1010.21,1010.71,1011.1,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,2011-12-01,1012.16,1013.26,1012.40,1013.57,1013.68,1012.72,1012.44,...,1013.91,1013.94,1016.92,1019.05,1019.88,1017.86,1016.76,1015.63,1016.31,1017.19
4,หนองคาย,352201-หนองคาย จ.หนองคาย,2012-01-01,1016.26,1014.60,1012.83,1014.85,1016.69,1016.56,1018.50,...,1010.03,1011.56,1011.98,1012.20,1012.95,1011.23,1010.63,1010.96,1013.16,1015.38
5,หนองคาย,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.64,1013.36,1014.86,1013.93,1011.87,1008.77,1008.42,...,1007.18,1005.89,1005.54,1005.28,1005.32,1007.59,1006.66,1007.07,1011.1,-

In [1329]:
a4['จังหวัด'] = "หนองคาย"
a4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x4 = a4.stack().reset_index()
x4.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x4['เดือน'] = x4['เดือน/ปี'].dt.month
x4['ปี'] = x4['เดือน/ปี'].dt.year
x4_1 = x4[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x4_1

      จังหวัด                     สถานี วัน  เดือน    ปี   ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1     10  2011  1005.34
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2     10  2011  1006.67
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3     10  2011  1007.39
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4     10  2011  1008.11
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5     10  2011  1009.69
...       ...                       ...  ..    ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27      2  2022  1015.31
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28      2  2022  1013.06
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29      2  2022        -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30      2  2022        -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31      2  2022        -

[1705 rows x 6 columns]

###เลย

In [1330]:
a5 = df155.drop('เฉลี่ย', axis=1)
a5.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,เลย,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,1011.22,...,1010.98,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71
2,เลย,352201-หนองคาย จ.หนองคาย,2011-11-01,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,1008.28,...,1014.21,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-
3,เลย,352201-หนองคาย จ.หนองคาย,2011-12-01,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,1012.81,...,1014.34,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62
4,เลย,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.42,1014.07,1012.35,1013.49,1014.99,1015.70,1017.24,...,1009.65,1010.10,1010.76,1011.11,1011.72,1010.91,1010.31,1010.16,1012.61,1014.4
5,เลย,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.19,1012.82,1013.94,1013.18,1010.99,1008.58,1008.19,...,1006.79,1005.78,1005.48,1004.96,1005.05,1006.27,1005.59,1006.52,1010.43,-

In [1331]:
a5['จังหวัด'] = "เลย"
a5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x5 = a5.stack().reset_index()
x5.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x5['เดือน'] = x5['เดือน/ปี'].dt.month
x5['ปี'] = x5['เดือน/ปี'].dt.year
x5_1 = x5[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x5_1

     จังหวัด                     สถานี วัน  เดือน    ปี   ความกด
0        เลย  352201-หนองคาย จ.หนองคาย   1     10  2011  1005.12
1        เลย  352201-หนองคาย จ.หนองคาย   2     10  2011  1006.51
2        เลย  352201-หนองคาย จ.หนองคาย   3     10  2011  1007.81
3        เลย  352201-หนองคาย จ.หนองคาย   4     10  2011  1008.15
4        เลย  352201-หนองคาย จ.หนองคาย   5     10  2011  1009.21
...      ...                       ...  ..    ...   ...      ...
1700     เลย  352201-หนองคาย จ.หนองคาย  27      2  2022  1014.97
1701     เลย  352201-หนองคาย จ.หนองคาย  28      2  2022  1012.88
1702     เลย  352201-หนองคาย จ.หนองคาย  29      2  2022        -
1703     เลย  352201-หนองคาย จ.หนองคาย  30      2  2022        -
1704     เลย  352201-หนองคาย จ.หนองคาย  31      2  2022        -

[1705 rows x 6 columns]

#ความชื้นสัมพันธ์

In [1332]:
b1 = df211.drop('เฉลี่ย', axis=1)
b2 = df222.drop('เฉลี่ย', axis=1)
b3 = df233.drop('เฉลี่ย', axis=1)
b4 = df244.drop('เฉลี่ย', axis=1)
b5 = df255.drop('เฉลี่ย', axis=1)

In [1333]:
b1.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,83,92,86,80,86,86,83,...,73,73,72,73,69,69,75,71,71,68
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,69,65,66,65,67,68,67,67,65,-
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,64,63,62,60,60,62,65,66,63,64
4,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2012-01-01,65,66,69,63,64,68,65,...,78,80,74,75,71,75,69,70,67,68
5,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2012-02-01,71,72,71,72,70,68,61,...,57,58,53,48,57,71,73,68,-,-

In [1334]:
b2.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,357201-นครพนม จ.นครพนม,2011-10-01,95,84,74,72,87,88,81,...,68,66,67,70,69,71,66,72,70,69
2,นครพนม,357201-นครพนม จ.นครพนม,2011-11-01,69,67,70,68,71,68,73,...,72,66,66,70,78,74,69,66,65,-
3,นครพนม,357201-นครพนม จ.นครพนม,2011-12-01,64,56,62,67,69,77,73,...,67,66,54,60,61,70,71,63,66,70
4,นครพนม,357201-นครพนม จ.นครพนม,2012-01-01,71,70,64,59,68,69,66,...,86,73,74,62,67,74,71,61,59,62
5,นครพนม,357201-นครพนม จ.นครพนม,2012-02-01,68,69,66,71,71,71,64,...,64,63,61,64,64,68,76,69,-,-

In [1335]:
b3.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,356201-สกลนคร จ.สกลนคร,2011-10-01,87,88,77,75,87,86,81,...,70,74,73,73,72,72,70,74,73,72
2,สกลนคร,356201-สกลนคร จ.สกลนคร,2011-11-01,71,71,71,72,73,70,75,...,72,68,66,71,71,70,70,69,69,-
3,สกลนคร,356201-สกลนคร จ.สกลนคร,2011-12-01,66,61,64,67,70,73,72,...,68,69,65,64,62,69,69,69,69,68
4,สกลนคร,356201-สกลนคร จ.สกลนคร,2012-01-01,67,69,66,63,65,67,65,...,82,75,72,67,72,73,71,64,64,62
5,สกลนคร,356201-สกลนคร จ.สกลนคร,2012-02-01,66,70,67,69,73,64,60,...,63,55,53,55,64,69,74,71,-,-

In [1336]:
b4.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,2011-10-01,89,91,78,75,90,88,87,...,71,76,73,68,71,70,71,70,66,68
2,หนองคาย,352201-หนองคาย จ.หนองคาย,2011-11-01,68,66,66,67,68,69,68,...,63,60,64,65,67,68,69,71,69,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,2011-12-01,67,62,66,66,65,68,71,...,66,65,56,61,58,67,71,70,67,68
4,หนองคาย,352201-หนองคาย จ.หนองคาย,2012-01-01,67,70,68,65,73,68,66,...,76,81,71,71,68,71,69,65,68,73
5,หนองคาย,352201-หนองคาย จ.หนองคาย,2012-02-01,68,71,91,79,78,71,67,...,64,63,63,61,62,69,76,69,-,-

In [1337]:
b5.head()

,จังหวัด,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
1,เลย,353301-เลย สกษ. จ.เลย,2011-10-01,90,95,92,89,86,94,90,...,85,85,86,83,84,85,85,82,83,85
2,เลย,353301-เลย สกษ. จ.เลย,2011-11-01,85,83,84,83,83,85,83,...,84,73,77,80,81,80,84,82,79,-
3,เลย,353301-เลย สกษ. จ.เลย,2011-12-01,80,77,77,76,78,83,82,...,82,80,74,75,74,80,80,78,81,78
4,เลย,353301-เลย สกษ. จ.เลย,2012-01-01,75,78,81,79,73,77,82,...,84,83,80,83,79,80,78,77,82,79
5,เลย,353301-เลย สกษ. จ.เลย,2012-02-01,79,81,91,84,78,73,69,...,69,67,68,68,67,76,73,70,-,-

###ขอนแก่น

In [1338]:
b1['จังหวัด'] = "ขอนแก่น"
b1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x11 = b1.stack().reset_index()
x11.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x11['เดือน'] = x11['เดือน/ปี'].dt.month
x11['ปี'] = x11['เดือน/ปี'].dt.year
x11_1 = x11[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x11_1

      จังหวัด                     สถานี วัน  เดือน    ปี ความกด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1     10  2011     83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2     10  2011     92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3     10  2011     86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4     10  2011     80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5     10  2011     86
...       ...                       ...  ..    ...   ...    ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  27      2  2022     58
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  28      2  2022     62
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  29      2  2022      -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  30      2  2022      -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  31      2  2022      -

[1705 rows x 6 columns]

###นครพนม

In [1339]:
b2['จังหวัด'] = "นครพนม"
b2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x22 = b2.stack().reset_index()
x22.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x22['เดือน'] = x22['เดือน/ปี'].dt.month
x22['ปี'] = x22['เดือน/ปี'].dt.year
x22_1 = x22[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x22_1

     จังหวัด                   สถานี วัน  เดือน    ปี ความกด
0     นครพนม  357201-นครพนม จ.นครพนม   1     10  2011     95
1     นครพนม  357201-นครพนม จ.นครพนม   2     10  2011     84
2     นครพนม  357201-นครพนม จ.นครพนม   3     10  2011     74
3     นครพนม  357201-นครพนม จ.นครพนม   4     10  2011     72
4     นครพนม  357201-นครพนม จ.นครพนม   5     10  2011     87
...      ...                     ...  ..    ...   ...    ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27      2  2022     52
1701  นครพนม  357201-นครพนม จ.นครพนม  28      2  2022     60
1702  นครพนม  357201-นครพนม จ.นครพนม  29      2  2022      -
1703  นครพนม  357201-นครพนม จ.นครพนม  30      2  2022      -
1704  นครพนม  357201-นครพนม จ.นครพนม  31      2  2022      -

[1705 rows x 6 columns]

###สกลนคร

In [1340]:
b3['จังหวัด'] = "สกลนคร"
b3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x33 = b3.stack().reset_index()
x33.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x33['เดือน'] = x33['เดือน/ปี'].dt.month
x33['ปี'] = x33['เดือน/ปี'].dt.year
x33_1 = x33[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x33_1

     จังหวัด                   สถานี วัน  เดือน    ปี ความกด
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1     10  2011     87
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2     10  2011     88
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3     10  2011     77
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4     10  2011     75
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5     10  2011     87
...      ...                     ...  ..    ...   ...    ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27      2  2022     65
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28      2  2022     68
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29      2  2022      -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30      2  2022      -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31      2  2022      -

[1705 rows x 6 columns]

###หนองคาย

In [1341]:
b4['จังหวัด'] = "หนองคาย"
b4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x44 = b4.stack().reset_index()
x44.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x44['เดือน'] = x44['เดือน/ปี'].dt.month
x44['ปี'] = x44['เดือน/ปี'].dt.year
x44_1 = x44[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x44_1

      จังหวัด                     สถานี วัน  เดือน    ปี ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1     10  2011     89
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2     10  2011     91
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3     10  2011     78
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4     10  2011     75
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5     10  2011     90
...       ...                       ...  ..    ...   ...    ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27      2  2022     62
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28      2  2022     65
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29      2  2022      -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30      2  2022      -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31      2  2022      -

[1705 rows x 6 columns]

###เลย

In [1342]:
b5['จังหวัด'] = "เลย"
b5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
x55 = b5.stack().reset_index()
x55.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
x55['เดือน'] = x55['เดือน/ปี'].dt.month
x55['ปี'] = x55['เดือน/ปี'].dt.year
x55_1 = x55[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
x55_1

     จังหวัด                  สถานี วัน  เดือน    ปี ความกด
0        เลย  353301-เลย สกษ. จ.เลย   1     10  2011     90
1        เลย  353301-เลย สกษ. จ.เลย   2     10  2011     95
2        เลย  353301-เลย สกษ. จ.เลย   3     10  2011     92
3        เลย  353301-เลย สกษ. จ.เลย   4     10  2011     89
4        เลย  353301-เลย สกษ. จ.เลย   5     10  2011     86
...      ...                    ...  ..    ...   ...    ...
1700     เลย  353301-เลย สกษ. จ.เลย  27      2  2022     74
1701     เลย  353301-เลย สกษ. จ.เลย  28      2  2022     72
1702     เลย  353301-เลย สกษ. จ.เลย  29      2  2022      -
1703     เลย  353301-เลย สกษ. จ.เลย  30      2  2022      -
1704     เลย  353301-เลย สกษ. จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

#ความเร็วลม

In [1343]:
c1 = df311.drop('เฉลี่ย', axis=1)
c2 = df322.drop('เฉลี่ย', axis=1)
c3 = df333.drop('เฉลี่ย', axis=1)
c4 = df344.drop('เฉลี่ย', axis=1)
c5 = df355.drop('เฉลี่ย', axis=1)

##ขอนแก่น

In [1344]:
c1['จังหวัด'] = "ขอนแก่น"
c1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
c11 = c1.stack().reset_index()
c11.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
c11['เดือน'] = c11['เดือน/ปี'].dt.month
c11['ปี'] = c11['เดือน/ปี'].dt.year
c11_1 = c11[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
c11_1

      จังหวัด                  สถานี วัน  เดือน    ปี ความกด
0     ขอนแก่น  353301-เลย สกษ. จ.เลย   1     10  2011      3
1     ขอนแก่น  353301-เลย สกษ. จ.เลย   2     10  2011      2
2     ขอนแก่น  353301-เลย สกษ. จ.เลย   3     10  2011      3
3     ขอนแก่น  353301-เลย สกษ. จ.เลย   4     10  2011      2
4     ขอนแก่น  353301-เลย สกษ. จ.เลย   5     10  2011      2
...       ...                    ...  ..    ...   ...    ...
1700  ขอนแก่น  353301-เลย สกษ. จ.เลย  27      2  2022      2
1701  ขอนแก่น  353301-เลย สกษ. จ.เลย  28      2  2022      2
1702  ขอนแก่น  353301-เลย สกษ. จ.เลย  29      2  2022      -
1703  ขอนแก่น  353301-เลย สกษ. จ.เลย  30      2  2022      -
1704  ขอนแก่น  353301-เลย สกษ. จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

##นครพนม

In [1345]:
c2['จังหวัด'] = "นครพนม"
c2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
c22 = c2.stack().reset_index()
c22.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
c22['เดือน'] = c22['เดือน/ปี'].dt.month
c22['ปี'] = c22['เดือน/ปี'].dt.year
c22_1 = c22[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
c22_1

     จังหวัด                  สถานี วัน  เดือน    ปี ความกด
0     นครพนม  353301-เลย สกษ. จ.เลย   1     10  2011      1
1     นครพนม  353301-เลย สกษ. จ.เลย   2     10  2011      1
2     นครพนม  353301-เลย สกษ. จ.เลย   3     10  2011      2
3     นครพนม  353301-เลย สกษ. จ.เลย   4     10  2011      2
4     นครพนม  353301-เลย สกษ. จ.เลย   5     10  2011      1
...      ...                    ...  ..    ...   ...    ...
1700  นครพนม  353301-เลย สกษ. จ.เลย  27      2  2022      2
1701  นครพนม  353301-เลย สกษ. จ.เลย  28      2  2022      1
1702  นครพนม  353301-เลย สกษ. จ.เลย  29      2  2022      -
1703  นครพนม  353301-เลย สกษ. จ.เลย  30      2  2022      -
1704  นครพนม  353301-เลย สกษ. จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

##สกลนคร

In [1346]:
c3['จังหวัด'] = "สกลนคร"
c3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
c33 = c3.stack().reset_index()
c33.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
c33['เดือน'] = c33['เดือน/ปี'].dt.month
c33['ปี'] = c33['เดือน/ปี'].dt.year
c33_1 = c33[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
c33_1

     จังหวัด                  สถานี วัน  เดือน    ปี ความกด
0     สกลนคร  353301-เลย สกษ. จ.เลย   1     10  2011      1
1     สกลนคร  353301-เลย สกษ. จ.เลย   2     10  2011      1
2     สกลนคร  353301-เลย สกษ. จ.เลย   3     10  2011      2
3     สกลนคร  353301-เลย สกษ. จ.เลย   4     10  2011      2
4     สกลนคร  353301-เลย สกษ. จ.เลย   5     10  2011      1
...      ...                    ...  ..    ...   ...    ...
1700  สกลนคร  353301-เลย สกษ. จ.เลย  27      2  2022      3
1701  สกลนคร  353301-เลย สกษ. จ.เลย  28      2  2022      2
1702  สกลนคร  353301-เลย สกษ. จ.เลย  29      2  2022      -
1703  สกลนคร  353301-เลย สกษ. จ.เลย  30      2  2022      -
1704  สกลนคร  353301-เลย สกษ. จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

##หนองคาย

In [1347]:
c4['จังหวัด'] = "หนองคาย"
c4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
c44 = c4.stack().reset_index()
c44.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
c44['เดือน'] = c44['เดือน/ปี'].dt.month
c44['ปี'] = c44['เดือน/ปี'].dt.year
c44_1 = c44[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
c44_1

      จังหวัด                  สถานี วัน  เดือน    ปี ความกด
0     หนองคาย  353301-เลย สกษ. จ.เลย   1     10  2011      1
1     หนองคาย  353301-เลย สกษ. จ.เลย   2     10  2011      4
2     หนองคาย  353301-เลย สกษ. จ.เลย   3     10  2011      4
3     หนองคาย  353301-เลย สกษ. จ.เลย   4     10  2011      2
4     หนองคาย  353301-เลย สกษ. จ.เลย   5     10  2011      1
...       ...                    ...  ..    ...   ...    ...
1700  หนองคาย  353301-เลย สกษ. จ.เลย  27      2  2022      2
1701  หนองคาย  353301-เลย สกษ. จ.เลย  28      2  2022      2
1702  หนองคาย  353301-เลย สกษ. จ.เลย  29      2  2022      -
1703  หนองคาย  353301-เลย สกษ. จ.เลย  30      2  2022      -
1704  หนองคาย  353301-เลย สกษ. จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

##เลย

In [1348]:
c5['จังหวัด'] = "เลย"
c5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
c55 = c5.stack().reset_index()
c55.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
c55['เดือน'] = c55['เดือน/ปี'].dt.month
c55['ปี'] = c55['เดือน/ปี'].dt.year
c55_1 = c55[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
c55_1

     จังหวัด                  สถานี วัน  เดือน    ปี ความกด
0        เลย  353301-เลย สกษ. จ.เลย   1     10  2011      2
1        เลย  353301-เลย สกษ. จ.เลย   2     10  2011      2
2        เลย  353301-เลย สกษ. จ.เลย   3     10  2011      3
3        เลย  353301-เลย สกษ. จ.เลย   4     10  2011      2
4        เลย  353301-เลย สกษ. จ.เลย   5     10  2011      3
...      ...                    ...  ..    ...   ...    ...
1700     เลย  353301-เลย สกษ. จ.เลย  27      2  2022      1
1701     เลย  353301-เลย สกษ. จ.เลย  28      2  2022      1
1702     เลย  353301-เลย สกษ. จ.เลย  29      2  2022      -
1703     เลย  353301-เลย สกษ. จ.เลย  30      2  2022      -
1704     เลย  353301-เลย สกษ. จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

#จำนวนเมฆ

In [1349]:
d1 = df411.drop('เฉลี่ย', axis=1)
d2 = df422.drop('เฉลี่ย', axis=1)
d3 = df433.drop('เฉลี่ย', axis=1)
d4 = df444.drop('เฉลี่ย', axis=1)
d5 = df455.drop('เฉลี่ย', axis=1)

##ขอนแก่น

In [1350]:
d1['จังหวัด'] = "ขอนแก่น"
d1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
d11 = d1.stack().reset_index()
d11.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
d11['เดือน'] = d11['เดือน/ปี'].dt.month
d11['ปี'] = d11['เดือน/ปี'].dt.year
d11_1 = d11[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
d11_1

      จังหวัด                  สถานี วัน  เดือน    ปี ความกด
0     ขอนแก่น  353301-เลย สกษ. จ.เลย   1     10  2011      9
1     ขอนแก่น  353301-เลย สกษ. จ.เลย   2     10  2011     10
2     ขอนแก่น  353301-เลย สกษ. จ.เลย   3     10  2011     10
3     ขอนแก่น  353301-เลย สกษ. จ.เลย   4     10  2011      8
4     ขอนแก่น  353301-เลย สกษ. จ.เลย   5     10  2011     10
...       ...                    ...  ..    ...   ...    ...
1700  ขอนแก่น  353301-เลย สกษ. จ.เลย  27      2  2022      2
1701  ขอนแก่น  353301-เลย สกษ. จ.เลย  28      2  2022      2
1702  ขอนแก่น  353301-เลย สกษ. จ.เลย  29      2  2022      -
1703  ขอนแก่น  353301-เลย สกษ. จ.เลย  30      2  2022      -
1704  ขอนแก่น  353301-เลย สกษ. จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

##นครพนม

In [1351]:
d2['จังหวัด'] = "นครพนม"
d2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
d22 = d2.stack().reset_index()
d22.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
d22['เดือน'] = d22['เดือน/ปี'].dt.month
d22['ปี'] = d22['เดือน/ปี'].dt.year
d22_1 = d22[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
d22_1

     จังหวัด                  สถานี วัน  เดือน    ปี ความกด
0     นครพนม  353301-เลย สกษ. จ.เลย   1     10  2011     10
1     นครพนม  353301-เลย สกษ. จ.เลย   2     10  2011      7
2     นครพนม  353301-เลย สกษ. จ.เลย   3     10  2011      8
3     นครพนม  353301-เลย สกษ. จ.เลย   4     10  2011      8
4     นครพนม  353301-เลย สกษ. จ.เลย   5     10  2011     10
...      ...                    ...  ..    ...   ...    ...
1700  นครพนม  353301-เลย สกษ. จ.เลย  27      2  2022      1
1701  นครพนม  353301-เลย สกษ. จ.เลย  28      2  2022      0
1702  นครพนม  353301-เลย สกษ. จ.เลย  29      2  2022      -
1703  นครพนม  353301-เลย สกษ. จ.เลย  30      2  2022      -
1704  นครพนม  353301-เลย สกษ. จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

##สกลนคร

In [1352]:
d3['จังหวัด'] = "สกลนคร"
d3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
d33 = d3.stack().reset_index()
d33.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
d33['เดือน'] = d33['เดือน/ปี'].dt.month
d33['ปี'] = d33['เดือน/ปี'].dt.year
d33_1 = d33[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
d33_1

     จังหวัด                  สถานี วัน  เดือน    ปี ความกด
0     สกลนคร  353301-เลย สกษ. จ.เลย   1     10  2011      9
1     สกลนคร  353301-เลย สกษ. จ.เลย   2     10  2011      9
2     สกลนคร  353301-เลย สกษ. จ.เลย   3     10  2011      7
3     สกลนคร  353301-เลย สกษ. จ.เลย   4     10  2011      7
4     สกลนคร  353301-เลย สกษ. จ.เลย   5     10  2011      9
...      ...                    ...  ..    ...   ...    ...
1700  สกลนคร  353301-เลย สกษ. จ.เลย  27      2  2022      3
1701  สกลนคร  353301-เลย สกษ. จ.เลย  28      2  2022      0
1702  สกลนคร  353301-เลย สกษ. จ.เลย  29      2  2022      1
1703  สกลนคร  353301-เลย สกษ. จ.เลย  30      2  2022      1
1704  สกลนคร  353301-เลย สกษ. จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

##หนองคาย

In [1353]:
d4['จังหวัด'] = "หนองคาย"
d4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
d44 = d4.stack().reset_index()
d44.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
d44['เดือน'] = d44['เดือน/ปี'].dt.month
d44['ปี'] = d44['เดือน/ปี'].dt.year
d44_1 = d44[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
d44_1

      จังหวัด                  สถานี วัน  เดือน    ปี ความกด
0     หนองคาย  353301-เลย สกษ. จ.เลย   1     10  2011     10
1     หนองคาย  353301-เลย สกษ. จ.เลย   2     10  2011     10
2     หนองคาย  353301-เลย สกษ. จ.เลย   3     10  2011      8
3     หนองคาย  353301-เลย สกษ. จ.เลย   4     10  2011      9
4     หนองคาย  353301-เลย สกษ. จ.เลย   5     10  2011      9
...       ...                    ...  ..    ...   ...    ...
1700  หนองคาย  353301-เลย สกษ. จ.เลย  27      2  2022      3
1701  หนองคาย  353301-เลย สกษ. จ.เลย  28      2  2022      2
1702  หนองคาย  353301-เลย สกษ. จ.เลย  29      2  2022      1
1703  หนองคาย  353301-เลย สกษ. จ.เลย  30      2  2022      1
1704  หนองคาย  353301-เลย สกษ. จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

##เลย

In [1354]:
d5['จังหวัด'] = "เลย"
d5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
d55 = d5.stack().reset_index()
d55.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
d55['เดือน'] = d55['เดือน/ปี'].dt.month
d55['ปี'] = d55['เดือน/ปี'].dt.year
d55_1 = d55[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
d55_1

     จังหวัด                  สถานี          วัน  เดือน    ปี ความกด
0        เลย  353301-เลย สกษ. จ.เลย            1     10  2011      8
1        เลย  353301-เลย สกษ. จ.เลย            2     10  2011     10
2        เลย  353301-เลย สกษ. จ.เลย            3     10  2011     10
3        เลย  353301-เลย สกษ. จ.เลย            4     10  2011      9
4        เลย  353301-เลย สกษ. จ.เลย            5     10  2011      8
...      ...                    ...          ...    ...   ...    ...
2160     เลย  353301-เลย สกษ. จ.เลย  Unnamed: 40      2  2022    2.0
2161     เลย  353301-เลย สกษ. จ.เลย  Unnamed: 41      2  2022    2.0
2162     เลย  353301-เลย สกษ. จ.เลย  Unnamed: 42      2  2022    2.0
2163     เลย  353301-เลย สกษ. จ.เลย  Unnamed: 43      2  2022    3.0
2164     เลย  353301-เลย สกษ. จ.เลย  Unnamed: 44      2  2022    7.0

[2165 rows x 6 columns]

#ปริมาณฝน

In [1355]:
e1 = df511.drop('เฉลี่ย', axis=1)
e2 = df522.drop('เฉลี่ย', axis=1)
e3 = df533.drop('เฉลี่ย', axis=1)
e4 = df544.drop('เฉลี่ย', axis=1)
e5 = df555.drop('เฉลี่ย', axis=1)

##ขอนแก่น

In [1356]:
e1['จังหวัด'] = "ขอนแก่น"
e1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
e11 = e1.stack().reset_index()
e11.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
e11['เดือน'] = e11['เดือน/ปี'].dt.month
e11['ปี'] = e11['เดือน/ปี'].dt.year
e11_1 = e11[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
e11_1

      จังหวัด                     สถานี วัน  เดือน    ปี ความกด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1     10  2011    1.4
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2     10  2011   17.7
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3     10  2011      3
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4     10  2011      0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5     10  2011    2.2
...       ...                       ...  ..    ...   ...    ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  27      2  2022      0
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  28      2  2022      -
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  29      2  2022      -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  30      2  2022      -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  31      2  2022      -

[1705 rows x 6 columns]

##นครพนม

In [1357]:
e2['จังหวัด'] = "นครพนม"
e2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
e22 = e2.stack().reset_index()
e22.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
e22['เดือน'] = e22['เดือน/ปี'].dt.month
e22['ปี'] = e22['เดือน/ปี'].dt.year
e22_1 = e22[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
e22_1

/usr/local/lib/python3.8/dist-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

     จังหวัด                   สถานี วัน  เดือน    ปี ความกด
0     นครพนม  357201-นครพนม จ.นครพนม   1     10  2011     17
1     นครพนม  357201-นครพนม จ.นครพนม   2     10  2011    0.3
2     นครพนม  357201-นครพนม จ.นครพนม   3     10  2011      0
3     นครพนม  357201-นครพนม จ.นครพนม   4     10  2011    0.3
4     นครพนม  357201-นครพนม จ.นครพนม   5     10  2011    1.9
...      ...                     ...  ..    ...   ...    ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27      2  2022      0
1701  นครพนม  357201-นครพนม จ.นครพนม  28      2  2022      0
1702  นครพนม  357201-นครพนม จ.นครพนม  29      2  2022      -
1703  นครพนม  357201-นครพนม จ.นครพนม  30      2  2022      -
1704  นครพนม  357201-นครพนม จ.นครพนม  31      2  2022      -

[1705 rows x 6 columns]

##สกลนคร

In [1358]:
e3['จังหวัด'] = "สกลนคร"
e3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
e33 = e3.stack().reset_index()
e33.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
e33['เดือน'] = e33['เดือน/ปี'].dt.month
e33['ปี'] = e33['เดือน/ปี'].dt.year
e33_1 = e33[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
e33_1

     จังหวัด                   สถานี วัน  เดือน    ปี ความกด
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1     10  2011   84.8
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2     10  2011   28.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3     10  2011      0
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4     10  2011      T
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5     10  2011    5.5
...      ...                     ...  ..    ...   ...    ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27      2  2022      0
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28      2  2022      -
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29      2  2022      -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30      2  2022      -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31      2  2022      -

[1705 rows x 6 columns]

##หนองคาย

In [1359]:
e4['จังหวัด'] = "หนองคาย"
e4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
e44 = e4.stack().reset_index()
e44.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
e44['เดือน'] = e44['เดือน/ปี'].dt.month
e44['ปี'] = e44['เดือน/ปี'].dt.year
e44_1 = e44[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
e44_1

      จังหวัด                     สถานี วัน  เดือน    ปี ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1     10  2011   48.6
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2     10  2011     59
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3     10  2011      0
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4     10  2011      1
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5     10  2011   19.1
...       ...                       ...  ..    ...   ...    ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27      2  2022      0
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28      2  2022      0
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29      2  2022      -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30      2  2022      -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31      2  2022      -

[1705 rows x 6 columns]

##เลย

In [1360]:
e5['จังหวัด'] = "เลย"
e5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
e55 = e5.stack().reset_index()
e55.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
e55['เดือน'] = e55['เดือน/ปี'].dt.month
e55['ปี'] = e55['เดือน/ปี'].dt.year
e55_1 = e55[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
e55_1

     จังหวัด             สถานี วัน  เดือน    ปี ความกด
0        เลย  353201-เลย จ.เลย   1     10  2011   21.6
1        เลย  353201-เลย จ.เลย   2     10  2011  111.4
2        เลย  353201-เลย จ.เลย   3     10  2011    0.4
3        เลย  353201-เลย จ.เลย   4     10  2011      0
4        เลย  353201-เลย จ.เลย   5     10  2011      0
...      ...               ...  ..    ...   ...    ...
1700     เลย  353201-เลย จ.เลย  27      2  2022      0
1701     เลย  353201-เลย จ.เลย  28      2  2022      0
1702     เลย  353201-เลย จ.เลย  29      2  2022      -
1703     เลย  353201-เลย จ.เลย  30      2  2022      -
1704     เลย  353201-เลย จ.เลย  31      2  2022      -

[1705 rows x 6 columns]

#อุณหภูมิจุดน้ำค้าง

In [1361]:
f1 = df611.drop('เฉลี่ย', axis=1)
f2 = df622.drop('เฉลี่ย', axis=1)
f3 = df633.drop('เฉลี่ย', axis=1)
f4 = df644.drop('เฉลี่ย', axis=1)
f5 = df655.drop('เฉลี่ย', axis=1)

##ขอนแก่น

In [1362]:
f1['จังหวัด'] = "ขอนแก่น"
f1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
f11 = f1.stack().reset_index()
f11.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
f11['เดือน'] = f11['เดือน/ปี'].dt.month
f11['ปี'] = f11['เดือน/ปี'].dt.year
f11_1 = f11[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
f11_1

      จังหวัด                     สถานี วัน  เดือน    ปี ความกด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1     10  2011   24.2
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2     10  2011   24.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3     10  2011   22.9
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4     10  2011   21.9
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5     10  2011   21.7
...       ...                       ...  ..    ...   ...    ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  27      2  2022   15.7
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  28      2  2022   17.5
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  29      2  2022      -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  30      2  2022      -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  31      2  2022      -

[1705 rows x 6 columns]

##นครพนม

In [1363]:
f2['จังหวัด'] = "นครพนม"
f2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
f22 = f2.stack().reset_index()
f22.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
f22['เดือน'] = f22['เดือน/ปี'].dt.month
f22['ปี'] = f22['เดือน/ปี'].dt.year
f22_1 = f22[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
f22_1

     จังหวัด                   สถานี วัน  เดือน    ปี ความกด
0     นครพนม  357201-นครพนม จ.นครพนม   1     10  2011   25.1
1     นครพนม  357201-นครพนม จ.นครพนม   2     10  2011   23.1
2     นครพนม  357201-นครพนม จ.นครพนม   3     10  2011   20.1
3     นครพนม  357201-นครพนม จ.นครพนม   4     10  2011   18.9
4     นครพนม  357201-นครพนม จ.นครพนม   5     10  2011   20.7
...      ...                     ...  ..    ...   ...    ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27      2  2022   13.2
1701  นครพนม  357201-นครพนม จ.นครพนม  28      2  2022   14.9
1702  นครพนม  357201-นครพนม จ.นครพนม  29      2  2022      -
1703  นครพนม  357201-นครพนม จ.นครพนม  30      2  2022      -
1704  นครพนม  357201-นครพนม จ.นครพนม  31      2  2022      -

[1705 rows x 6 columns]

##สกลนคร

In [1364]:
f3['จังหวัด'] = "สกลนคร"
f3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
f33 = f3.stack().reset_index()
f33.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
f33['เดือน'] = f33['เดือน/ปี'].dt.month
f33['ปี'] = f33['เดือน/ปี'].dt.year
f33_1 = f33[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
f33_1

     จังหวัด                   สถานี วัน  เดือน    ปี ความกด
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1     10  2011   24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2     10  2011   23.6
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3     10  2011   21.1
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4     10  2011   20.0
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5     10  2011   21.2
...      ...                     ...  ..    ...   ...    ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27      2  2022   15.7
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28      2  2022   17.3
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29      2  2022      -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30      2  2022      -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31      2  2022      -

[1705 rows x 6 columns]

##หนองคาย

In [1365]:
f4['จังหวัด'] = "หนองคาย"
f4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
f44 = f4.stack().reset_index()
f44.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
f44['เดือน'] = f44['เดือน/ปี'].dt.month
f44['ปี'] = f44['เดือน/ปี'].dt.year
f44_1 = f44[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
f44_1

      จังหวัด                     สถานี วัน  เดือน    ปี ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1     10  2011   24.6
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2     10  2011   23.8
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3     10  2011   22.4
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4     10  2011   21.9
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5     10  2011   23.3
...       ...                       ...  ..    ...   ...    ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27      2  2022   15.8
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28      2  2022   17.8
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29      2  2022   16.6
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30      2  2022   14.9
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31      2  2022      -

[1705 rows x 6 columns]

##เลย

In [1366]:
f5['จังหวัด'] = "เลย"
f5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
f55 =f5.stack().reset_index()
f55.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
f55['เดือน'] = f55['เดือน/ปี'].dt.month
f55['ปี'] = f55['เดือน/ปี'].dt.year
f55_1 = f55[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
f55_1

     จังหวัด             สถานี วัน  เดือน    ปี ความกด
0        เลย  353201-เลย จ.เลย   1     10  2011   23.6
1        เลย  353201-เลย จ.เลย   2     10  2011   23.5
2        เลย  353201-เลย จ.เลย   3     10  2011   21.9
3        เลย  353201-เลย จ.เลย   4     10  2011   21.9
4        เลย  353201-เลย จ.เลย   5     10  2011   21.8
...      ...               ...  ..    ...   ...    ...
1545     เลย  353201-เลย จ.เลย  27      2  2021   13.8
1546     เลย  353201-เลย จ.เลย  28      2  2021   15.2
1547     เลย  353201-เลย จ.เลย  29      2  2021      -
1548     เลย  353201-เลย จ.เลย  30      2  2021      -
1549     เลย  353201-เลย จ.เลย  31      2  2021      -

[1550 rows x 6 columns]

#อุณภูมิตุ้มแห้ง

In [1367]:
g1 = df711.drop('เฉลี่ย', axis=1)
g2 = df722.drop('เฉลี่ย', axis=1)
g3 = df733.drop('เฉลี่ย', axis=1)
g4 = df744.drop('เฉลี่ย', axis=1)
g5 = df755.drop('เฉลี่ย', axis=1)

##ขอนแก่น

In [1368]:
g1['จังหวัด'] = "ขอนแก่น"
g1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
g11 = g1.stack().reset_index()
g11.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
g11['เดือน'] = g11['เดือน/ปี'].dt.month
g11['ปี'] = g11['เดือน/ปี'].dt.year
g11_1 = g11[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
g11_1

      จังหวัด                     สถานี วัน  เดือน    ปี ความกด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1     10  2011   27.6
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2     10  2011   25.6
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3     10  2011   25.6
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4     10  2011   25.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5     10  2011   24.3
...       ...                       ...  ..    ...   ...    ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  27      2  2022   25.1
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  28      2  2022   25.9
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  29      2  2022      -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  30      2  2022      -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  31      2  2022      -

[1705 rows x 6 columns]

##นครพนม

In [1369]:
g2['จังหวัด'] = "นครพนม"
g2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
g22 = g2.stack().reset_index()
g22.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
g22['เดือน'] = g22['เดือน/ปี'].dt.month
g22['ปี'] = g22['เดือน/ปี'].dt.year
g22_1 = g22[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
g22_1

     จังหวัด                   สถานี วัน  เดือน    ปี ความกด
0     นครพนม  357201-นครพนม จ.นครพนม   1     10  2011   25.9
1     นครพนม  357201-นครพนม จ.นครพนม   2     10  2011   26.1
2     นครพนม  357201-นครพนม จ.นครพนม   3     10  2011   25.3
3     นครพนม  357201-นครพนม จ.นครพนม   4     10  2011   24.7
4     นครพนม  357201-นครพนม จ.นครพนม   5     10  2011   23.1
...      ...                     ...  ..    ...   ...    ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27      2  2022   24.1
1701  นครพนม  357201-นครพนม จ.นครพนม  28      2  2022   24.0
1702  นครพนม  357201-นครพนม จ.นครพนม  29      2  2022      -
1703  นครพนม  357201-นครพนม จ.นครพนม  30      2  2022      -
1704  นครพนม  357201-นครพนม จ.นครพนม  31      2  2022      -

[1705 rows x 6 columns]

##สกลนคร

In [1370]:
g3['จังหวัด'] = "สกลนคร"
g3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
g33 = g3.stack().reset_index()
g33.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
g33['เดือน'] = g33['เดือน/ปี'].dt.month
g33['ปี'] = g33['เดือน/ปี'].dt.year
g33_1 = g33[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
g33_1

     จังหวัด                   สถานี วัน  เดือน    ปี ความกด
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1     10  2011   26.9
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2     10  2011   25.9
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3     10  2011   25.7
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4     10  2011   25.2
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5     10  2011   23.6
...      ...                     ...  ..    ...   ...    ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27      2  2022   23.2
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28      2  2022   24.4
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29      2  2022      -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30      2  2022      -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31      2  2022      -

[1705 rows x 6 columns]

##หนองคาย

In [1371]:
g4['จังหวัด'] = "หนองคาย"
g4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
g44 = g4.stack().reset_index()
g44.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
g44['เดือน'] = g44['เดือน/ปี'].dt.month
g44['ปี'] = g44['เดือน/ปี'].dt.year
g44_1 = g44[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
g44_1

      จังหวัด                     สถานี วัน  เดือน    ปี ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1     10  2011   26.7
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2     10  2011   25.5
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3     10  2011   27.0
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4     10  2011   26.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5     10  2011   24.9
...       ...                       ...  ..    ...   ...    ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27      2  2022   23.8
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28      2  2022   25.4
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29      2  2022      -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30      2  2022      -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31      2  2022      -

[1705 rows x 6 columns]

##เลย

In [1372]:
g5['จังหวัด'] = "เลย"
g5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
g55 = g5.stack().reset_index()
g55.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
g55['เดือน'] = g55['เดือน/ปี'].dt.month
g55['ปี'] = g55['เดือน/ปี'].dt.year
g55_1 = g55[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
g55_1

     จังหวัด             สถานี วัน  เดือน    ปี ความกด
0        เลย  353201-เลย จ.เลย   1     10  2011   26.3
1        เลย  353201-เลย จ.เลย   2     10  2011   25.1
2        เลย  353201-เลย จ.เลย   3     10  2011   24.4
3        เลย  353201-เลย จ.เลย   4     10  2011   25.2
4        เลย  353201-เลย จ.เลย   5     10  2011   25.6
...      ...               ...  ..    ...   ...    ...
1545     เลย  353201-เลย จ.เลย  27      2  2021   25.2
1546     เลย  353201-เลย จ.เลย  28      2  2021   25.6
1547     เลย  353201-เลย จ.เลย  29      2  2021      -
1548     เลย  353201-เลย จ.เลย  30      2  2021      -
1549     เลย  353201-เลย จ.เลย  31      2  2021      -

[1550 rows x 6 columns]

#อุณภูมิต่ำสุด

In [1373]:
h1 = df811.drop('เฉลี่ย', axis=1)
h2 = df822.drop('เฉลี่ย', axis=1)
h3 = df833.drop('เฉลี่ย', axis=1)
h4 = df844.drop('เฉลี่ย', axis=1)
h5 = df855.drop('เฉลี่ย', axis=1)

##ขอนแก่น

In [1374]:
h1['จังหวัด'] = "ขอนแก่น"
h1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
h11 = h1.stack().reset_index()
h11.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
h11['เดือน'] = h11['เดือน/ปี'].dt.month
h11['ปี'] = h11['เดือน/ปี'].dt.year
h11_1 = h11[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
h11_1

      จังหวัด                     สถานี วัน  เดือน    ปี ความกด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1     10  2011   24.8
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2     10  2011   23.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3     10  2011   22.1
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4     10  2011   22.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5     10  2011   23.1
...       ...                       ...  ..    ...   ...    ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  27      2  2022   18.2
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  28      2  2022      -
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  29      2  2022      -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  30      2  2022      -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  31      2  2022      -

[1705 rows x 6 columns]

##นครพนม

In [1375]:
h2['จังหวัด'] = "นครพนม"
h2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
h22 = h2.stack().reset_index()
h22.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
h22['เดือน'] = h22['เดือน/ปี'].dt.month
h22['ปี'] = h22['เดือน/ปี'].dt.year
h22_1 = h22[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
h22_1

     จังหวัด                   สถานี วัน  เดือน    ปี ความกด
0     นครพนม  357201-นครพนม จ.นครพนม   1     10  2011   25.0
1     นครพนม  357201-นครพนม จ.นครพนม   2     10  2011   23.4
2     นครพนม  357201-นครพนม จ.นครพนม   3     10  2011   22.2
3     นครพนม  357201-นครพนม จ.นครพนม   4     10  2011   20.6
4     นครพนม  357201-นครพนม จ.นครพนม   5     10  2011   21.1
...      ...                     ...  ..    ...   ...    ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27      2  2022   18.1
1701  นครพนม  357201-นครพนม จ.นครพนม  28      2  2022     16
1702  นครพนม  357201-นครพนม จ.นครพนม  29      2  2022      -
1703  นครพนม  357201-นครพนม จ.นครพนม  30      2  2022      -
1704  นครพนม  357201-นครพนม จ.นครพนม  31      2  2022      -

[1705 rows x 6 columns]

##สกลนคร

In [1376]:
h3['จังหวัด'] = "สกลนคร"
h3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
h33 = h3.stack().reset_index()
h33.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
h33['เดือน'] = h33['เดือน/ปี'].dt.month
h33['ปี'] = h33['เดือน/ปี'].dt.year
h33_1 = h33[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
h33_1

     จังหวัด                   สถานี วัน  เดือน    ปี ความกด
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1     10  2011   24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2     10  2011   23.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3     10  2011   22.6
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4     10  2011   21.8
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5     10  2011   22.5
...      ...                     ...  ..    ...   ...    ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27      2  2022   16.1
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28      2  2022      -
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29      2  2022      -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30      2  2022      -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31      2  2022      -

[1705 rows x 6 columns]

##หนองคาย

In [1377]:
h4['จังหวัด'] = "หนองคาย"
h4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
h44 = h4.stack().reset_index()
h44.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
h44['เดือน'] = h44['เดือน/ปี'].dt.month
h44['ปี'] = h44['เดือน/ปี'].dt.year
h44_1 = h44[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
h44_1

      จังหวัด                     สถานี วัน  เดือน    ปี ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1     10  2011   25.3
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2     10  2011   23.3
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3     10  2011   23.6
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4     10  2011   23.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5     10  2011   23.3
...       ...                       ...  ..    ...   ...    ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27      2  2022   17.5
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28      2  2022     19
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29      2  2022      -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30      2  2022      -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31      2  2022      -

[1705 rows x 6 columns]

##เลย

In [1378]:
h5['จังหวัด'] = "เลย"
h5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
h55 = h5.stack().reset_index()
h55.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
h55['เดือน'] = h55['เดือน/ปี'].dt.month
h55['ปี'] = h55['เดือน/ปี'].dt.year
h55_1 = h55[['จังหวัด','สถานี','วัน','เดือน','ปี','ความกด']]
h55_1

     จังหวัด             สถานี วัน  เดือน    ปี ความกด
0        เลย  353201-เลย จ.เลย   1     10  2011   23.5
1        เลย  353201-เลย จ.เลย   2     10  2011   24.3
2        เลย  353201-เลย จ.เลย   3     10  2011   22.5
3        เลย  353201-เลย จ.เลย   4     10  2011   23.0
4        เลย  353201-เลย จ.เลย   5     10  2011   22.7
...      ...               ...  ..    ...   ...    ...
1700     เลย  353201-เลย จ.เลย  27      2  2022   15.0
1701     เลย  353201-เลย จ.เลย  28      2  2022   17.6
1702     เลย  353201-เลย จ.เลย  29      2  2022      -
1703     เลย  353201-เลย จ.เลย  30      2  2022      -
1704     เลย  353201-เลย จ.เลย  31      2  2022      -

[1705 rows x 6 columns]